[2018-10-01 20:33] glouel commented on #512
Quick feedback, I wasn't able to reproduce your memory issue so please try to clarify it.

I did find something else that probably explains the chopinness issue for some. All of the SDR HEVC 1080p and 4K videos seem to be encoded with a Main10 profile and that's an issue at least on my machine. Skylake's Gen9's MFX doesn't fully decode HEVC Main10, so it's at best "assisted" or CPU decoded.

![med

[2018-10-01 20:57] dVIAN13 commented on #512
Hi There, I have the following video, [link](http://ewing.tech/misc/1.4b2_test2.mov) this shows the CPU hit on playing file directly.(doesn't seem to be one for me(2017 MacBook Pro 13" 4 - tb3 ports). secondly it shows what happens when I open the system prefs.

[2018-10-01 21:31] glouel commented on #512
Thanks for your quick answer and the video !

So, the good news is that, at least on Kaby Lake+, 4K Main10 HEVC is hardware decoded, so that's a win :) I guess I should use the CPU generation to try and refine the HEVC detection.

Regarding your issue, I think it has nothing to do with Aerial. Check this thread  : https://discussions.apple.com/thread/7589928

That service you see is the Photos/iCl

[2018-10-02 10:08] glouel commented on #471
Side note related to this issue, there is also an issue with cached videos still making network requests (as mentioned in this issue https://github.com/JohnCoates/Aerial/issues/512#issuecomment-426009013).

I do have a workaround for that one. Working on a "Never stream videos" options right now.

[2018-10-02 10:31] kerstin commented on #487
I've also been having problems with Aerial ever since I updated to MacOS 10.13.6 (months ago, admittedly).

It _works_, but jerkily/with flickers. The videos will play, but every few seconds it looks like they are... imploding, for lack of a better description. The image on-screen gets "sucked toward the centre" of the monitor, then will go back to fullsize, rinse repeat.

I downloaded and install

[2018-10-02 10:33] alistairmcmillan commented on #487
@kerstin What happens if you tick the “Show with clock” option? Does that help?

[2018-10-02 12:44] WolverineSix opened #517 "Add tvOS12 Videos to Cache"
Any plans to add the new tvOS videos to the application (ISS and location information)?

[2018-10-02 14:52] glouel commented on #517
Yes, check the latest beta :
https://github.com/JohnCoates/Aerial/releases/tag/v1.4beta9

Extended location as the ISS flies is still work in progress, see here if interested :
https://github.com/JohnCoates/Aerial/issues/512

[2018-10-02 14:52] #517 closed

[2018-10-02 15:08] glouel commented on #512
Please let me know about your issue @dVIAN13

In the meantime, last test build as I think everything is now in shape to make a PR. What's new :
- Better messages for hardware detection (still should be improved, but the APIs aren't helping)
- Fixed cached videos generating online traffic 🎉
- Implemented "Never Stream Videos" mode
- Brought back check/uncheck all menu (in preparation for tvOS10/11

[2018-10-02 15:15] esetnik commented on #512
@glouel love the hard work. The project is getting better by the day 👍

[2018-10-02 17:00] lijunray opened #519 "Add the place name somewhere on the screen"
Sometimes I'm eager to know what the place of current video is and I feel it might be cool if we can have an option to show the place name somewhere on the screen.

[2018-10-02 17:15] BreiteSeite commented on #503
I also have moderate cpu and high gpu load on my 2016 MacBook TouchBar with the Radeon Pro 455 connected to the LG UltraFine 5k display on macOS 10.14. It ramps up the fan very noticeably. It sometimes even drops frame.

I cached all videos in 4k HEVC.

Shouldn't it be very smooth and non-taxin, due to hardware HEVC decoding support?

[2018-10-02 17:16] dVIAN13 commented on #512
@glouel installed latest test build and this is what I get... not working for me ;)

<img width="662" alt="screen shot 2018-10-02 at 10 12 56 am" src="https://user-images.githubusercontent.com/22992333/46364940-1223d900-c62c-11e8-9650-6a2449a5781a.png">
<img width="667" alt="screen shot 2018-10-02 at 10 13 03 am" src="https://user-images.githubusercontent.com/22992333/46364943-16e88d00-c62c-11e8-9

[2018-10-02 17:18] glouel commented on #519
This is available on latest beta, be aware that there are other changes though :
https://github.com/JohnCoates/Aerial/releases/tag/v1.4beta9

[2018-10-02 17:18] #519 closed

[2018-10-02 17:19] glouel commented on #512
Oops looks like I messed up something, it doesn't load the json in your case. Just to give me a hint, is the tar/json in your Cache folder or not ?

[2018-10-02 17:22] dVIAN13 commented on #512
I believe so..

<img width="1095" alt="screen shot 2018-10-02 at 10 21 25 am" src="https://user-images.githubusercontent.com/22992333/46365291-0a186900-c62d-11e8-90a2-0ff0395214dc.png">

[2018-10-02 17:29] glouel commented on #512
Ok thanks I'll have a look, sorry about that !

[2018-10-02 17:34] glouel commented on #503
@BreiteSeite I tried to investigate that a bit in that issue https://github.com/JohnCoates/Aerial/issues/512#issuecomment-426052836

In your case, Late 2016, that's still a Skylake CPU so you only have "semi" accelerated HEVC decoding, because the videos are encoded in Main10 HEVC profile.

As for your Radeon Pro 455, in theory it should have HEVC 10 bit playback, whether it is used or not, I don'

[2018-10-02 17:36] glouel commented on #512
Just to be clear, closing and reopening System Preferences doesn't help ? Having a hard time reproducing right now.

[2018-10-02 17:40] dVIAN13 commented on #512
no, it does not. I even tried uninstalling(removing the file from my screen savers directory.) I had your last beta(1.41b2) running prior to updating.

[2018-10-02 17:41] glouel commented on #512
Can you delete the tar file and see if it loads correctly ?

[2018-10-02 17:45] dVIAN13 commented on #512
I deleted all related files to aerial and it appears to have resolved the issue. ;) I may have inadvertently installed v1.2 over your old beta thinking it was the newest build.. and then installed your latest beta over that.. that probably explains it..

[2018-10-02 17:49] glouel commented on #512
That's still a good cache. One change I made is that I don't redownload the JSON all the time, and use the previously saved manifest if the tar is there, but that's not a good check at all if the saved manifest is from another JSON. Thanks for the report !

[2018-10-02 17:49] BreiteSeite commented on #503
@glouel 1st: thank you for the awesome and really quick issue support/reaction!

I already tried playing the video via quicktime. And in activity monitor, you can really see how taxing it is to the GPU.

<img width="359" alt="screenshot 2018-10-02 at 19 48 54" src="https://user-images.githubusercontent.com/2171105/46366753-3c9d8280-c67c-11e8-8da2-17abc77b6381.png">

This is with the 5k display con

[2018-10-02 17:58] glouel commented on #503
@BreiteSeite I'm not sure that 100% means it uses the GPU for decoding. The decoding is based on fixed function units, not on the GPU itself so it's hard to say what that GPU load is (I'm not sure what sensor is used). Note that the GPU itself doesn't have to be active in order for Intel's QuickSync to be used so forcing the discrete GPU may not affect MacOS's GVA video decoding.

In any case, you

[2018-10-02 18:01] BreiteSeite commented on #503
@glouel <img width="815" alt="screenshot 2018-10-02 at 20 00 46" src="https://user-images.githubusercontent.com/2171105/46367446-dfa2cc00-c67d-11e8-9c5b-e9f10d2adead.png">

[2018-10-02 18:06] glouel commented on #503
@BreiteSeite Thanks !

So I'd say it's definitely not fully GPU accelerated, and probably not playing through your Polaris UVD. I guess it uses Intel's QuickSync by default, your CPU load looks close to what I have on my iMac which also lacks Main10 decoding on QuickSync (and on my GPU).

I did check the GPU load thing, and as I suspected, you see a "GPU load" just from the video playback itself (

[2018-10-03 03:37] Scuderia-Alex opened #520 "Bring San Francisco back"
Does anyone know the reason for removing San Francisco aerial screensaver in the latest build?
Any way to get it back?

[2018-10-03 08:39] glouel commented on #520
Apple no longer uses them on tvOS, so they don't appear in the tvOS12 JSON we are loading from their servers to show the videos. We'll try to bring them back at some point, but they are only 1080p.

[2018-10-03 09:35] pendowski commented on #441
@clapperman I've built an app which evolved into a screen saver as well which might be helpful for that if you host your videos on YouTube, Vimeo or Wistia: https://github.com/pendowski/VSaver
Check it out and let me know if it works for you. Adding some other hosting services should be a big of a deal.

[2018-10-03 14:20] kerstin commented on #487
@alistairmcmillan With the clock added, the issue is indeed gone. Is this just a temporary workaround or will users with that OS version have to keep the clock around?

[2018-10-03 15:16] alistairmcmillan commented on #487
@kerstin It's been this way since the release of High Sierra in September last year. Apple re-wrote the display server that draws everything to the screen and introduced this bug then. I'm not sure if its fixed in Mojave, maybe someone else can confirm that.

[2018-10-05 14:49] fostermarke commented on #520
I second this request.
While the ISS videos are very pretty, I prefer the originals. Even if it is only playing the cached copied it would be great.

[2018-10-05 16:02] glouel commented on #520
Please give a try to this build (you may need to close/reopen System Preferences after install) :
https://github.com/glouel/Aerial/releases/download/1.4beta10/Aerial.saver.zip

[2018-10-05 16:02] glouel commented on #516
Please try this build for both Dark Mode and by time day/night support :
https://github.com/glouel/Aerial/releases/download/1.4beta10/Aerial.saver.zip

[2018-10-05 16:06] esetnik commented on #491
Hi @Stephen-HWJ, it looks like this issue was solved so i'll close it out. If you still need help please open a new issue.

[2018-10-05 16:06] #491 closed

[2018-10-05 16:08] esetnik commented on #510
@glouel the biggest reason for holding back 1.4 from general release is the loss of previous content that people expected. Since you've solved that in #521, I'd be comfortable releasing 1.4 as soon as that gets finalized, tested, and merged.

[2018-10-05 16:10] esetnik commented on #479
@fashnbly-l8 I'm not sure if it's possible to intercept keyboard events during screensaver playback. Do you have any examples of other screensavers that are interactive? It might be dangerous to intercept keyboard events since they are usually designed to interrupt screensaver playback and restore the system to a wake state. If we did implement this feature we'd want to make sure that it's configu

[2018-10-05 16:12] fostermarke commented on #520
Excellent. Thank you.

--
Mark Foster
fostermarke@gmail.com

[2018-10-05 16:13] esetnik commented on #471
There are third-party utilities designed to trim data consumption. A temporary workaround might be to install something like [TripMode](https://www.tripmode.ch/) which I use personally for this purpose.

[2018-10-05 16:21] esetnik opened #522 "HEVC Main10 Enhanced Support Detection"
https://github.com/JohnCoates/Aerial/pull/521#issuecomment-427419327

We could consider implementing a HEVC Main10 hardware whitelist and fallback to "may" since it seems that we don't have a good way to determine the support level programmatically.

Alternatively, maybe we can implement a heuristic to predict support. E.g. play one of the cached videos for 30s and monitor CPU usage of the VTDecod

[2018-10-05 16:22] esetnik commented on #522
Part of the motivation for this is to launch Aerial with a sensible set of defaults for the system. A large majority of issues filed on the project are related to playback performance problems due to missing hardware support.

[2018-10-05 16:35] glouel commented on #522
I think hardware whitelist is probably the best we can do right now, as things are unpredictible otherwise.

Linking to a couple of posts recapping what we know on GVA, I think there's a private API to check if the presented asset will be hw accelerated or not, but quite didn't find it !

This comment and below recap a lot of what we know so far : https://github.com/JohnCoates/Aerial/issues/512#is

[2018-10-05 16:39] esetnik commented on #522
HEVC Main10 causes major performance issues on all hardware without full support so I think we should default Aerial to 1080p H.264 (or maybe 1080p HEVC) on any device which fails the whitelist.

[2018-10-05 16:41] glouel commented on #522
Agreed 👍
Right now we default to 1080p H.264 for everyone which is the safest thing to do.

[2018-10-05 23:04] ccharlton commented on #479
I remember seeing that behavior on a 3rd-party screensaver back in the 10.3 days. The arrow keys and a few other specific keys were used to cycle/modify settings. For the life of me, I can't remember the name of it.

[2018-10-06 02:02] sclsj commented on #491
I can access the JSON and the videos from my browser, and can download them at a pretty fast speed in FDM/Folx (downloaders). However, I must use a VPN to download the video in the Aerial, or else it will fail. I really don't know why.

[2018-10-06 02:04] SeanMSmith opened #523 "Aerial 1.4b11 not seeing Dubai Night Two 4K"
Aerial 1.4 beta 11 (from [glouel/Aerial](https://github.com/glouel/Aerial))

With preferred video format set to 4K HEVC, Aerial 1.4b11 caches and plays the 1080p H.264 version of Dubai Night Two (http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/comp_DB_D011_D009_SIGNCMP_v15_6Mbps.mov) instead of my already cached 4K HEVC version (https://sylvan.apple.com/Aerials/2x/Video

[2018-10-06 02:18] SeanMSmith opened #524 "At activation, build a randomized list of unique videos to cycle through before repeating"
Aerial 1.4b9

Yesterday, I saw the same Aerial video play twice in a row, out of 13 selected. More than once, I've seen the same video repeat after only one intervening video.

Would it be possible, when the screen saver activates, for Aerial to build a randomized list of selected videos for Aerial to cycle through, so that no video is repeated before all selected videos have been played?

Ideally

[2018-10-06 06:29] glouel commented on #523
Yeah no problem, I just post the test builds there before we merge it here so don't worry.

Thanks for the report but this is a peculiar one I admit, because the tvos11.json file that you see in cache is the URL that @esetnik was using, which as you pointed no longer include that video. As far as I see, that's the only JSON URL that he used in his builds, unless I missed something.

So maybe Apple

[2018-10-06 06:30] glouel commented on #524
Were you restricting to day/night ? If so how many videos in each bucket ?

[2018-10-06 07:50] SeanMSmith commented on #524
This was seen with v1.4b9, which didn't offer the day/night restriction. I had all 13 space videos selected, and no others.

[2018-10-06 07:54] glouel commented on #524
Ok thanks for the report !

[2018-10-06 16:08] esetnik commented on #523
I can confirm that I wasn't doing anything special with my fork. Apple must have removed it from the JSON.

[2018-10-06 16:47] glouel commented on #523
Ok thanks ! Maybe we should checksum those jsons as an experiment or something :)

If it's just one video, I can add a workaround I guess.

[2018-10-09 12:13] kerstin commented on #487
@alistairmcmillan I upgraded not too long ago, so not looking to upgrade again all too soon. (: I think I was more wondering if it would be possible to replicate whatever the clock contributes to fix the issue (but in the form of, say, a transparent overlay, or hidden pixel or similar).

[2018-10-11 08:29] oliverschmidthypoport commented on #523
I'm missing the Downtown LA Video (https://appleinsider.com/articles/17/12/07/apple-puts-4k-aerial-screen-saver-of-los-angeles-skyline-into-rotation-on-apple-tv-4k). It's running on a local appleTV, but it seems to be missing from the json file.

[2018-10-11 08:42] glouel commented on #524
So update on that one, twice in a row is a bug I added by fixing the caching playback and cutting extraneous network connexions 😅

One gaper though was always possible before. Generating a playlist is not as simple as it seems as we can have multiple monitors with different videos and with the day/night change, the playlist may become wrong. I'll see what I can do.

[2018-10-11 12:04] glouel commented on #154
As of right now, the best way to keep up to date will be using homebrew. We'll put the next finale version there really soon.

[2018-10-11 14:45] glouel commented on #524
Marking as fixed in 1.4

[2018-10-11 14:45] #524 closed

[2018-10-11 14:46] glouel commented on #523
Closing as fixed in release 1.4

[2018-10-11 14:46] #523 closed

[2018-10-11 14:46] glouel commented on #520
Closing as fixed in release 1.4

[2018-10-11 14:46] #520 closed

[2018-10-11 14:46] glouel commented on #516
Closing as fixed in release 1.4

[2018-10-11 14:46] #516 closed

[2018-10-11 14:46] glouel commented on #510
Closing as fixed in release 1.4

[2018-10-11 14:46] #510 closed

[2018-10-11 14:47] glouel opened #527 "Update the cask for version 1.4.2"
As of right now the cask still points to 1.2.

[2018-10-11 14:47] glouel commented on #509
Closing as fixed in release 1.4

[2018-10-11 14:47] #509 closed

[2018-10-11 14:47] glouel commented on #512
Closing as fixed in release 1.4

[2018-10-11 14:48] glouel commented on #503
Closing as fixed in release 1.4, we're still working on better detection in this issue : https://github.com/JohnCoates/Aerial/issues/522

[2018-10-11 14:48] #503 closed

[2018-10-11 14:49] #512 closed

[2018-10-11 14:50] glouel commented on #487
@kerstin can you check version 1.4 if things have improved ?

[2018-10-11 14:51] glouel commented on #471
Closing as fixed with v1.4, there are now options to block streaming and full offline mode

[2018-10-11 14:51] #471 closed

[2018-10-11 14:52] glouel commented on #454
This should be fixed in V1.4, you can now disable streaming and cache videos individually.

[2018-10-11 14:52] #454 closed

[2018-10-11 14:53] glouel commented on #456
This is a bit old but closing too as fixed in 1.4, we have full offline mode now (see the project readme)

[2018-10-11 14:53] #456 closed

[2018-10-11 14:53] glouel commented on #450
Implemented in 1.4 !

[2018-10-11 14:53] #450 closed

[2018-10-11 14:54] glouel commented on #448
This is now implemented in 1.4, see the Offline mode section in the main project readme !

[2018-10-11 14:54] #448 closed

[2018-10-11 14:55] glouel commented on #426
Please give version 1.4 a try, it has improved retina support.

[2018-10-11 14:55] glouel commented on #378
Closing this as implemented in 1.4

[2018-10-11 14:55] #378 closed

[2018-10-11 14:56] glouel commented on #408
You can do that now in 1.4. You can either download individual videos or what you selected (using the menu below the video list).

[2018-10-11 14:56] #408 closed

[2018-10-11 14:58] glouel commented on #342
Implemented in 1.4 !

[2018-10-11 14:58] #342 closed

[2018-10-11 14:58] glouel commented on #340
You can now download videos individually in 1.4, or download what you selected using the menu below the video list.

[2018-10-11 14:58] #340 closed

[2018-10-11 15:00] glouel commented on #301
We now have version number on the bottom right corner with 1.4 !

[2018-10-11 15:00] #301 closed

[2018-10-11 15:43] alex-mohemian opened #528 "Incorrect "Your Mac does not support Night Shift" message"
I get that message on a MacBook Pro (Retina, 13-inch, Late 2013) that has Night Shift enabled.

[2018-10-11 16:09] travi commented on #527
i attempted to run the script suggested [in the cask docs](https://github.com/Homebrew/homebrew-cask/blob/master/CONTRIBUTING.md#updating-a-cask), but it failed. my guess is because the name of the zip file has changed. seems like someone from the team here would be better prepared than me to debug further.

[2018-10-11 16:40] WebVeteran commented on #301
I downloaded v 1.4 and I can tell it is with the new features. But it says 1.2 in the bottom right.
![screen shot 2018-10-11 at 12 40 11 pm](https://user-images.githubusercontent.com/40175/46819880-d6d38980-cd52-11e8-95a7-0fc2272c4765.png)

[2018-10-11 16:50] glouel commented on #301
Can you close System Preferences and open it again ? It doesn't reload the new version correctly if you don't usually.

[2018-10-11 16:52] WebVeteran commented on #301
Yep you're right. I went back to look just now, since closing Prefs earlier. I see "1.4".

[2018-10-11 16:53] glouel commented on #528
@alex-mohemian Can you go to terminal and type `/usr/bin/corebrightnessdiag nightshift-internal` and paste me the output ?

[2018-10-11 17:04] glouel commented on #527
Ok just updated the tag release, it now points to
https://github.com/JohnCoates/Aerial/releases/download/v1.4/Aerial.saver.zip

Could you try running the script again ?

[2018-10-11 17:43] glouel commented on #443
This is now fixed in 1.4 !

[2018-10-11 17:43] #443 closed

[2018-10-11 17:44] glouel commented on #434
This should no longer happen in 1.4, please give it a shot.

[2018-10-11 17:44] #434 closed

[2018-10-11 17:46] glouel commented on #425
Can you give 1.4 a shot ?

[2018-10-11 17:46] glouel commented on #382
As far as I know, should no longer happen with the new JSON downloader in 1.4. Thanks for the report (and sorry for the late answer)

[2018-10-11 17:46] #382 closed

[2018-10-11 17:49] glouel commented on #377
So this is the same as https://github.com/JohnCoates/Aerial/issues/487, I'll close this one and keep the other one open.

Afaik Mojave fixes those issues, and our version 1.4 may fix the issue with 10.13 with the new show description option.

[2018-10-11 17:49] #377 closed

[2018-10-11 17:51] glouel commented on #335
Could you check with V1.4 maybe ? Just so you know, another thing that may slow down video playback is iCloud Photo syncing, see the troubleshooting paragraph at the bottom of the project readme, we had someone report that earlier.

[2018-10-11 17:53] glouel commented on #319
Please check 1.4 if you can, you'll see pretty much what you expect. As far as it goes, when you click a video that's not in cache already, it will start streaming it (not downloading the whole thing). If the video is in cache already the preview will show up instantly.

You can also now download videos individually, or check those you want and download them with one click in the menu (click the o

[2018-10-11 17:53] #319 closed

[2018-10-11 17:54] glouel commented on #297
Version 1.4 is now signed to make it easier for everyone.

[2018-10-11 17:54] #297 closed

[2018-10-11 17:58] glouel commented on #298
I'm bumping this one as there are some good ideas for next version.

Just so you know, in 1.4 there's a warning telling you how large the full download will be, and options to download just a few videos.
1) we should definitely add
2) maybe, we have now a "Show in Finder" that will point you to that folder so you can manage it.
3) this one is not quite realistic with how Aerial work. You're suppos

[2018-10-11 17:59] glouel commented on #278
I'll be closing this one, please reopen if you still see it in either Mojave or our version 1.4

[2018-10-11 17:59] #278 closed

[2018-10-11 18:01] glouel commented on #257
Since link is broken and we have 4K videos now, closing this.

[2018-10-11 18:01] #257 closed

[2018-10-11 18:06] glouel commented on #200
Starting with version 1.4, we now load 3 different JSONs, they do need their own tweaks though as they aren't in the same format, or won't use the same tags for urls.

For your specific need, with 1.4, you can edit one of the jsons in the Cache folder (see the Offline mode explaination in the readme), and add your videos there. You'll need to delete the preferences, you'll find them in

~/Library/

[2018-10-11 18:06] #200 closed

[2018-10-11 18:07] glouel commented on #233
Version 1.4 should fix all this now.

[2018-10-11 18:07] #233 closed

[2018-10-11 18:07] glouel commented on #220
Please check version 1.4 for this.

[2018-10-11 18:07] #220 closed

[2018-10-11 18:08] glouel commented on #212
This is now fixed in 1.4 !

[2018-10-11 18:08] #212 closed

[2018-10-11 18:09] glouel commented on #197
Both implemented in 1.4, check if out if you can !

[2018-10-11 18:09] #197 closed

[2018-10-11 18:10] glouel commented on #190
Version 1.4 should fix most of this, you can manage your cache a lot better with individual downloads and a quick access to the cache folder in the finder. We'll add something to show how large the cache currently is in a next version.

[2018-10-11 18:10] #190 closed

[2018-10-11 18:12] glouel commented on #173
Can you try version 1.4 and check the hardware acceleration section in the readme on the project page ?

[2018-10-11 18:13] glouel commented on #172
There's better caching option in 1.4 now. Also, you may experience slowdowns because of iCloud Photos activity, please reopen if you still have issues with 1.4

[2018-10-11 18:13] #172 closed

[2018-10-11 18:15] glouel commented on #145
A Show in Finder button is now available in V1.4.

[2018-10-11 18:15] #145 closed

[2018-10-11 18:15] glouel commented on #144
Implemented in 1.4 ;)

[2018-10-11 18:15] #144 closed

[2018-10-11 18:16] glouel commented on #132
I know this is years old, but AFAIK this is fixed, if not please reopen :)

[2018-10-11 18:16] #132 closed

[2018-10-11 18:16] glouel commented on #129
Assuming is fixed

[2018-10-11 18:16] #129 closed

[2018-10-11 18:17] glouel commented on #40
Implemented in 1.4

[2018-10-11 18:17] #40 closed

[2018-10-11 18:17] glouel commented on #24
This is implemented in 1.4

[2018-10-11 18:17] #24 closed

[2018-10-11 18:18] glouel commented on #11
This is in 1.4

[2018-10-11 18:18] #11 closed

[2018-10-11 18:19] glouel commented on #5
Closing as we have implemented an offline mode.

[2018-10-11 18:19] #5 closed

[2018-10-11 18:20] glouel commented on #4
Closing as this is solved now thankfully !

[2018-10-11 18:20] #4 closed

[2018-10-11 18:29] glouel commented on #527
My bad I missed the .saver. Should be correct now :

https://github.com/JohnCoates/Aerial/releases/download/v1.4/Aerial.zip

Thanks for your help in this and your patience :)

[2018-10-11 18:35] RobertMStewart commented on #425
tried the new version and it works great, thank you.

Robert M. Stewart
Business & Technology Consultant
M.347.731.7938

[2018-10-11 18:57] travi commented on #527
looks like that did it: https://github.com/Homebrew/homebrew-cask/pull/53331

[2018-10-11 19:16] glouel commented on #527
Awesome, thank you for this !

[2018-10-11 19:35] llahnoraa commented on #462
That's strange. I am using iMac 5k and a vertical monitor (like the picture above my comment) and had no issue? I wondered if it had to do with the laptop?

[2018-10-11 19:40] glouel commented on #462
Since we are using System video playback with Aerial, many of these kinds of bugs may be linked to a specific version of MacOS.

To those who still had issues, could you please recheck with version 1.4, and if you still see issues, give us which MacOS version you are using and any details that may help reproduce ?

[2018-10-11 19:47] llahnoraa commented on #462
I'm on 10.13.6 using iMac 5k and crappy Dell monitor (vertical). See picture attach and it worked as expected on latest 1.4.

![img_0618](https://user-images.githubusercontent.com/732060/46829808-d21bcf00-cd6c-11e8-992a-8a3cd5728023.jpg)

[2018-10-11 19:52] glouel commented on #462
Thanks for your feedback and OS details, this will be helpful !

[2018-10-11 21:35] travi commented on #527
it looks like it got merged, but when trying to upgrade, i get the following error:
[code]

(note the `.saver` in the name again)

the script does not reference `.saver` anywhere, so i wonder if the github release somehow introduced a redirect or something?

[2018-10-11 21:40] glouel commented on #527
Damn ! I think it was merged twice as someone else had another PR, see here : https://github.com/Homebrew/homebrew-cask/pull/53234

But this one had the saver thing. Yours was also merged and is more recent, so one think it would override the other one...

[2018-10-11 21:44] travi commented on #527
seems to work now, but i see you've now attached both

[2018-10-11 21:45] travi commented on #527
either way, thanks everyone for getting this released. i've been looking forward to some of the new features 🎉

[2018-10-11 21:45] glouel commented on #527
Well I added both a Aerial.saver.zip to the release alongside the other, so now it works :D

And if your merge gets priority it should still work !

Thanks again for taking care of this @travi !

[2018-10-11 23:02] luckman212 opened #529 "Small typo"
https://github.com/JohnCoates/Aerial/blob/688685e31fd29ffa8f295f3657f1a8615d1d3943/Aerial/Resources/PreferencesWindow.xib#L747

`that` ==> `than`

[2018-10-12 03:16] WebVeteran opened #530 "iMac, external monitor - inconsistent playback"
I have a 27" iMac with an external 1080p display. All videos are cached.

The external display shows videos every time. It looks like the 4K files. They are super crisp(er than normal), with smoother motion and less mpeg artifacts.

But the main screen only some times plays videos. And they seem to be the 1080p version - motion not as smooth and I see mpeg artifacts.

I would assume the opposite w

[2018-10-12 08:07] SeanMSmith commented on #524
So far, I haven't seen any repeats with version 1.4. Thank you!

[2018-10-12 08:18] glouel commented on #530
As you can see on  the left column, not every video is available in 4K. Only those with the "4K" label are, the oldest ones are 1080p H.264 only and you have those selected too for playback.

If you strictly only want 4K, you'll have to disable the old videos. Click the action button below the list and click the "Check only 4K", this way you'll have what you expect.

You can check for  yourself th

[2018-10-12 09:39] glouel commented on #529
Thanks, this will be fixed in next release !

[2018-10-12 09:40] alex-mohemian commented on #528
@glouel I'm on 10.14 (public release) and I did close and reopen system preferences.

The output of `corebrightnessdiag ` is:

[code]

[2018-10-12 09:42] alex-mohemian commented on #528
![screenshot 2018-10-12 at 11 41 48](https://user-images.githubusercontent.com/34009288/46861808-d818bb00-ce13-11e8-9ca8-f21734fd61ae.png)

[2018-10-12 09:50] glouel commented on #528
@alex-mohemian Thanks for coming back to me on this, see your output, where it says :

[code]

This is where I gather the Sunset and Sunrise time, this should not say null ! Here's what I get here

[code]

So, in all likelihood, you may have nightshift enabled but the sunset/sunrise detection doesn't work. Can you check if you have set the timezone correctly on your mac ? Are you behind any strict

[2018-10-12 11:09] alex-mohemian commented on #528
I manage the infrastructure here, so I can say with certainty that no services are blocked for me ;)

Extremely weird, location services were disabled though. This must somehow happen during the Mojave upgrade because I noticed the same on my private MacBook. Very strange, because it managed to set location and timezone correctly.

After turning on location services, everything works as expected:

[2018-10-12 11:09] #528 closed

[2018-10-12 11:12] glouel commented on #528
Ha, good to know, I can probably put a better error message on that specific case, thanks !

[2018-10-12 12:06] joan opened #532 "Old cached video aren't deleted"
Hi!

Did not find any info about this anywhere else: I cached all videos from a previous version (maybe 1.2), and just updated to 1.4 (which still displays `1.2` in the settings pane btw). I cached everything again, but now I have several version of the same videos:
[code]
Etc.

Aren't the old version supposed to be deleted? Or are they still used in a way?

And since I had the opportunity to comp

[2018-10-12 13:11] #529 closed

[2018-10-12 14:19] WebVeteran commented on #530
I now have only 4K videos selected on the left. And Preferred = 4K. Sometimes the main display shows a video. Sometimes it does not.

I've noticed that when the internal monitor (on the right) does not display a video, the external monitor (on the left) also does not display the video name. See attached.

Maybe different options are in order:

The checkbox **Play different Aerial on each display**

[2018-10-12 14:48] glouel commented on #530
Good !

Not good, that's a bug.

Intriguing. A few things if you may :
- Can you tell me which version of MacOS you are running ?
- Also, can you possibly disable the "show clock" option, see if that somehow fixes the problem ? (long shot but we've seen weird things !)
- Do you see the same issue when you have "Play different Aerial on each display" checked ?

Yep, main screen only is on my todo l

[2018-10-12 15:23] glouel commented on #530
Follow up, did a quick testing :
- On my iMac 5K (Late 2015), running Mojave, and an external screen (1280x800) : Always OK
- On my Macbook Air (2011), running 10.13.6, same external screen (1280x800) : I reproduce your bug
- On my Macbook Air (2011), running 10.13.6, larger external screen (1920x1200) : I reproduce your bug

Can you confirm you're running 10.13.6 ? I'm afraid this may be one of t

[2018-10-12 15:45] WebVeteran commented on #530
Earlier the video name was showing on both screens. Now just the internal screen - but only if the movie plays.

I disabled the clock (and them also the video title) but that made no difference.

"Play different Aerial on each display" gives odd results. Once it played on the internal only, and at like 1 frame per 3 seconds. Another time it played on the external screen only, smoothly, and with th

[2018-10-12 15:53] glouel commented on #530
Are you sure you got the name on both screens in mirror mode ? Or with play different checked ? Sorry to insist but that might be important !

Noted for the clock and your Mac info, thanks. As far as I know on your iMac, it should be using Intel QuickSync to decode (so pretty close to what happens on my Macbook Air of the same year, Sandy Bridge generation).

I'm adding a Main display only option

[2018-10-12 15:59] WebVeteran commented on #530
Yes, the name _was_ appearing on both screens in mirror mode. But that seems to have stopped now.

[2018-10-12 16:41] glouel commented on #530
@WebVeteran please try this build for "main display only" mode :
https://github.com/glouel/Aerial/releases/download/1.41test1/Aerial.saver.zip

And let me know how it goes ?

[2018-10-12 16:51] WebVeteran commented on #530
Installed and works very well! I used a hot corner to test it over 10 times and it never failed once - Main display only, always show title, prefer 4K, only 4K videos selected.

Sometimes the framerate drops just slightly then picks up again. But I was expecting that with an older iMac. The display is still beautiful though!

It's weird how the clock is an option outside of each screen saver. It t

[2018-10-12 16:55] glouel commented on #530
Ok great ! I'll keep looking for the other bug to see if that's on my changes or not.

Regarding framerate, 4K HEVC is fully CPU decoded on your Mac so that's definitely expected. Transcoding the 4K videos to H.264 with x264/Handbrake would significantly lower the load in your specific case.

[2018-10-12 20:20] SeanMSmith commented on #532
Personally, I would prefer that old videos not be purged, at least not automatically or by default. Time Machine does not back up files in (~)/Library/Caches, and if ever Apple remove any Aerial videos from their servers, then if Aerial purges them, they may be gone for good.

(For example, if Apple had removed the 4K version of Dubai Night Two from their servers when they removed it from the tvOS

[2018-10-12 20:43] glouel commented on #532
@SeanMSmith for sure, never ever delete anything behind the user's back.

As part of the enhancements to the cache panel (at the very list, show how big the cache currently is), I was thinking of adding maybe some sort of menu where there would be some purging options :
- Purge old/duplicate videos (there are actually some litteral duplicates, we don't download them in 1.4 but they may have been d

[2018-10-13 02:10] SeanMSmith opened #533 "Add tooltip for "Localize for tvOS 12 videos""
In the Main panel, you might consider adding a tooltip or suchlike for "Localize for tvOS 12 videos". One user already asked here on GitHub what that does, and I suspect many more may wonder.

[2018-10-13 02:54] SeanMSmith opened #534 "Quicker fade-outs; fade preference"
I'm getting into the realm of picking very small nits here, but I begrudge every moment of stunning 4K detail of our planet lost during the relatively slow fade-outs. Would it be possible to speed up the fade-outs, so that they match the speed of the fade-ins, and perhaps to add a preference to disable fades altogether?

[2018-10-13 03:12] SeanMSmith opened #535 "Customizable font & font size?"
I love the descriptions in the ISS videos, but I'm inclined to wish that they weren't quite so prominent. Do you think it might be a good idea to give the user the choice of font and size, or at least of size only? (Other users with poorer eyesight might wish for even more prominent descriptions.)

Mind you, I would be quite content to live with Aerial in its present excellent state, and if you fe

[2018-10-13 07:50] glouel commented on #533
I added tooltips to my 1.41 branch yesterday, for this one I added : "If enabled, descriptions will get translated to your macOS locale language if available"

Any suggestions for improvement ?

[2018-10-13 07:53] glouel commented on #534
Fade in/out should be 2 seconds IIRC. There's one video (one of the Space China ?) that seems to fade infinitely but it's actually the video that ends like that with super low visibility for many seconds, it puzzled me once too. Are you sure that's not what you experienced ?

Disable and speed if so, why not though 2 secs I though would be a good default, we can find a better default too maybe if

[2018-10-13 08:01] glouel commented on #535
My text layer code is a bit of a mess I have to admit, I wanted to add that too but haven't yet 😅 Perfectly aligning different font sizes in a corner was slightly tricky but I'll think about that one.

Regarding consistency with the original screensaver, we're way past. I think their fade-in/out are faster (well...), descriptions stay for a much shorter time (but you can show them by touching the

[2018-10-13 08:59] SeanMSmith commented on #533
Perhaps, "Translates descriptions, if available, to your preferred language (as set in System Preferences : Language & Region)"?

[2018-10-13 09:01] glouel commented on #533
Done ! Thanks !

[2018-10-13 09:01] #533 closed

[2018-10-13 09:01] SeanMSmith commented on #534
I'm seeing two-second fade-outs (which are too slow for my taste) and what appear to be much quicker fade-ins (which I don't mind).

[2018-10-13 09:04] glouel commented on #534
Ok that makes sense, I was looking at the code and it seemed like fade outs should be 2s. You're seeing quicker fade ins because they start before the video actually shows up (which can take half a sec/a sec). I'll try to make it stop doing that and add something to switch to shorter fades.

1s maybe ?

[2018-10-13 09:12] SeanMSmith commented on #535
By the way, getting off topic, I do hope you'll number the next release 1.4.1 and not 1.41, otherwise I and others will wonder whatever happened to 1.5 through 1.40, and if you then release 1.5 _after_ 1.41, you'll have mobs of release engineers armed with torches and pitchforks to deal with.  ;-)

[2018-10-13 09:17] glouel commented on #535
Haha, touché !

Another thing I really want in since we are offtopic is replacing the "One,Two,Three" with proper location names for the city videos. For some (the 4K), we can make something out of the first extra description (there's often only one). For some of the older ones, I know some of the places (SF) but for others we might need help from people who know those locations.

[2018-10-13 09:28] SeanMSmith commented on #535
I know San Francisco and Los Angeles, and London is easy enough (as most if not all of the London videos follow the same route along the Thames, as I recall). I'll see if I can come up with some better location names next week.

[2018-10-13 09:30] glouel commented on #535
Awesome, thanks a lot !

[2018-10-13 10:37] glouel commented on #534
When you got a sec, check
https://github.com/glouel/Aerial/releases/download/1.4.1test2/Aerial.saver.zip

My heart says 0.5 default 😱

I only adjusted the video fade, I'll align the text fades to the same value I guess.

[2018-10-13 10:45] glouel commented on #530
@WebVeteran when you can, can you give a shot to this build, and try mirror mode again ?

https://github.com/glouel/Aerial/releases/download/1.4.1test2/Aerial.saver.zip

Seems fixed here after a dozen hot corner tries, you'll still only get description on main screen but mirror work should always show on both now. Can you confirm ?

[2018-10-13 17:01] glouel opened #536 "Better video names, replacing "One, Two, Three...""
As discussed with @SeanMSmith it would be nice to replace the One Two Three with better video names. Thankfully I found some for the old videos in the strings bundle (but sadly couldn't find the videos in 4K that would be linked to them).

Here's what I have so far : https://gist.github.com/glouel/ed1b01c14983aa3c2f731f82f79e3170

I'm 100% unsure about Hawaii, and San Francisco (too many Golden Ga

[2018-10-13 20:04] ckhk212 opened #537 "This was an error in Desktop & Screen Saver preferences"
<img width="675" alt="screen shot 2018-10-13 at 3 52 38 pm" src="https://user-images.githubusercontent.com/561360/46909413-0d023c00-cf00-11e8-9f18-3550ef167cff.png">

Received an error message "This was an error in Desktop & Screen Saver preferences" with release 1.4 upon installation. Installed 1.4b without any problem.

MacBook Pro (13-inch, 2017, Four Thunderbolt 3 Ports) running 10.14

[2018-10-13 20:10] glouel commented on #537
Can you clarify when you saw the error exactly ? Just after install ? Did it still pop when you closed System Preferences and opened it again ?

There seems to be a bug with System Preferences and Swift plugins not having all of their ressources reloaded, (that's what cause people to have the wrong version number showing after install).

When you mean 1.4b, you mean 1.4b9 from this repo ? Please t

[2018-10-14 04:28] fgaleano commented on #537
I get the exact same error after a fresh install, with the same steps as @ckhk212 in 10.14. I downloaded the latest release, 1.4.

[2018-10-14 06:41] SeanMSmith commented on #534
Fades are _much_ faster in 1.4.1test2; in fact, I seriously doubt if the total time from the beginning of the fade-out to the completion of the fade-in is as much as 0.5s now.

I don't mind the much faster fades and prefer them to those in 1.4, but some might find them abrupt.

[2018-10-14 07:31] glouel commented on #537
@ckhk212 was this a fresh install or on top of 1.2 the first time ?

@fgaleano you mention fresh install, you didn't have a previous version of Aerial prior to this that's correct ?

To both
- I assume you installed manually, not through brew ?
- are you behind a proxy/firewall
- which region did you set in MacOS settings
- would you be willing to go into your user library and try deleting  ~/Libr

[2018-10-14 08:16] glouel commented on #534
It may look shorter because it's a linear fade, while you may be used to better ease in/ease out fades, but the time is correct.

Fade ins were especially not correct in default 1.4 and cut by your video initialization time. I'll look into ease in/out to get a better result and see where that goes.

[2018-10-14 08:41] glouel commented on #534
So I added cubic ease which makes them feel more natural, but the cubic function may make them feel even shorter. I went with 1s default on that build for new users, can you let me know what you think when you have a sec?

https://github.com/glouel/Aerial/releases/download/1.4.1test3/Aerial.saver.zip

PS : This build also should have extended descriptions on old videos. Try London, SF or NY !

[2018-10-14 10:05] glouel commented on #536
Test build here :
https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

![capture d ecran 2018-10-14 a 11 59 27](https://user-images.githubusercontent.com/37544189/46915269-7427fb00-cfa9-11e8-994f-7d8796cb0845.png)

If you happened to be knowledgeable about some of the locations (particularly Hawaii, or confirming the Dubai night 2 video really being "Sheikh Zayed Road"),

[2018-10-14 10:09] glouel commented on #442
To those who still experience issue with this, can you give this build a try :
https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

This should fix issues in 10.13 particularly (10.14 seemed ok in 1.4), it also has a display on main monitor only option as a fallback.

[2018-10-14 10:10] glouel commented on #444
If you are still interested, can you give this build a try :
https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

This should fix issues in 10.13 particularly (10.14 seemed ok in 1.4), it also has a display on main monitor only option as a fallback.

[2018-10-14 10:11] glouel commented on #472
@Fastjur Could you check this build :
https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

This should fix issues in 10.13 particularly (10.14 seemed ok in 1.4), it also has a display on main monitor only option as a fallback. Can you tell me what it gives you ?

[2018-10-14 10:14] glouel commented on #428
To those who still experience lag issues, can you give this build a try :
https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

This should fix issues in 10.13 particularly (10.14 seemed ok in stable 1.4). Also note that iCloud Photos sync can launch while your screensaver runs, part of it is a file converting service (JPEG to HEIF I guess, probably videos too) which can

[2018-10-14 10:14] glouel commented on #372
This is implemented in this build if you are willing to give it a shot :

https://github.com/glouel/Aerial/releases/download/1.4.1test4/Aerial.saver.zip

[2018-10-14 15:36] ckhk212 commented on #537
@glouel. Please see below for my comments to your questions. Thanks.

- was this a fresh install or on top of 1.2 the first time ?

    Ya, fresh from scratch 10.14
- I assume you installed manually, not through brew ?

    Yup, just manually download release 1.4, unzip and double click the saver file
- are you behind a proxy/firewall

    Not that I am aware of
- which region did you set in MacOS

[2018-10-14 15:43] glouel commented on #537
First thanks for your patience in this and your answers. Going directly to it 👍

Ok that line helps a lot !

So you have the file but it can't be loaded.

Can you tell me which size the tvos11.json file has on your system ? It should be 7 KB. If it's not, can you tell me the size and past the content ? I would guess it's an empty file ?

That's the file in question : https://sylvan.apple.com/Aeria

[2018-10-14 15:48] ckhk212 commented on #537
No problem @glouel. The `tvos11.json` file is not empty and it is exactly 7kb. The content looks the same as https://sylvan.apple.com/Aerials/2x/entries.json. Also, tried deleing it and it downloads back properly, but same error.

[2018-10-14 15:49] glouel commented on #537
Damn ! If that's ok with you I'll make a special debug build to try and track that, I'll ping you back here when done.

[2018-10-14 16:12] glouel commented on #537
@ckhk212 if you feel like it, can you try this test build :
https://github.com/glouel/Aerial/releases/download/1.4.1test5/Aerial.saver.zip ?

I did add a couple of extra checks so it might work outright. But I'd still love the console output (same thing, filter by "Aerial", you should see many lines now) as if it's what I think it was, there's something more complex going on.

Thanks !

[2018-10-14 16:49] ckhk212 commented on #537
BINGO! @glouel It works right away.

Here are some of the console messages I see:
<img width="1245" alt="screen shot 2018-10-14 at 12 48 20 pm" src="https://user-images.githubusercontent.com/561360/46919590-71300900-cfaf-11e8-98e6-7dedede0926a.png">

[2018-10-14 16:53] glouel commented on #537
Ok progress ! Can you filter by AerialML instead in console while opening the panel ?

Hopefully looking for something like this :
[code]

I'm particularly interested in how many videos were processed (last line) and the lsm12/lsm11/lsm10 lines too ;)

The descriptions might look weird in that build, I'll put a better one, you caught me in the middle of implementing font management.

Thanks again

[2018-10-14 17:09] ckhk212 commented on #537
Initially I don't see any `AerialML` in the log until I waited the screensaver to kick in, then I see this
[code]
I don't see how many videos were processed though.

[2018-10-14 17:14] glouel commented on #537
You may not see them depending on if the preview starts or not. So launching the saver will work too (you can set a hot corner if needed), I guess opening Aerial's preferences should do the trick too.

No "XX videos processed !" at the end (after the "post json loading") ?

Somehow it doesn't want to load your tvos11.json file. The path thing is intriguing, I'll test something here and report back

[2018-10-14 17:30] ckhk212 commented on #537
No

When screensaver starts again, this is what the log shows
[code]

[2018-10-14 17:32] glouel commented on #537
Sorry I edited my message while you were answering, see the edit above.

[2018-10-14 18:29] ckhk212 commented on #537
With a non empty list ? :

Yup, it works and I query string "videos processed !" and I see `65 videos processed !`

[2018-10-14 18:41] glouel commented on #537
Ok that confirms it. You're missing a couple of 4K videos, and I have no idea why ! I'll keep looking into it, thanks for your feedback!

[2018-10-14 18:51] ckhk212 commented on #537
No worry @glouel Thanks for the good work.

If you don't need more info, I will downgrade back to 1.4b9 and look forward seeing your next release. Looks sick.

[2018-10-14 18:53] glouel commented on #537
Oh I think I got it, you probably have an APFS System Volume with case set to SENSITIVE instead of INSENSITIVE (something that highlighted a typo I made, oops !) !

Hold on 2 seconds before downgrading, I'll put a new build for you to test if that's ok.

[2018-10-14 18:58] ckhk212 commented on #537
AArrr.. right.. ! Sure, I can wait.

[2018-10-14 19:04] glouel commented on #537
@ckhk212
https://github.com/glouel/Aerial/releases/download/1.4.1beta1rc1/Aerial.saver.zip

If you can do the console thing again, and tell me if there's 66 videos this time.

[2018-10-14 19:10] ckhk212 commented on #537
@glouel do you mind double checking the link? no response on my end..

[2018-10-14 19:11] glouel commented on #537
Let's try again :

https://github.com/glouel/Aerial/releases/download/1.4.1beta1rc1/Aerial.saver.zip
Or the build page if that's better : https://github.com/glouel/Aerial/releases/tag/1.4.1beta1rc1

[2018-10-14 19:17] ckhk212 commented on #537
`default	15:15:56.321838 -0400	com.apple.preference.desktopscreeneffect.remoteservice	AerialML: 66 videos processed !`

Looking good

[2018-10-14 20:01] glouel commented on #536
Please use 1.4.1 beta1 instead for testing this.

[2018-10-14 20:03] glouel commented on #535
Check 1.4.1 beta for font size support :  https://github.com/JohnCoates/Aerial/releases/download/v1.4.1beta1/Aerial.saver.zip

Everything new here : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.1beta1

[2018-10-15 14:08] WebVeteran commented on #530
Done. This is what I found, using only 4K videos...

**1.4.1 TEST2**
Mirrored: The same video plays on both. Very smooth. The title is only on the main screen.
Different: Frames being dropped (as expected).
Also, the fade effect only works on the main screen.

**1.4.1 BETA1**
If I click Preview the screens go blank. The system is unresponsive. I hear a beep. The desktop comes back on and the Syste

[2018-10-15 14:14] glouel commented on #530
🎉

Right. That I can probably fix

?!!

Sorry about that then. Everytime, independant of mirror etc ? Once is too much but that may help me narrow it down. Thanks for your feedback, hopefully I can fix that regression 😅

[2018-10-15 14:38] WebVeteran commented on #530
Yep. I even quit Prefs, reinstalled, etc. I figured it was Aerial crashing and the system picking the default apple screen saver.

[2018-10-15 14:41] WebVeteran commented on #530
Fades and Titles worked in Test2. Sorry I can't help you!

[2018-10-15 15:02] glouel commented on #530
Found it, I'll get a new build out soonish, will ping you back.

[2018-10-15 15:30] glouel commented on #535
@ludwig1224 Right now there's a tiny bit of that in 1.4.1beta1, if you pick the random corner option in the descriptions pane, the description will move around each time the text changes.

[2018-10-15 16:03] ludwig1224 commented on #535
I was thinking more of a continuous jump, during playback for each video. As i said, the video itself is in motion, but it would be better if the title moved around during playback, say, every 10 seconds.

Not exactly the same as a random corner, for each new video.

You wouldn’t speak French, would you? ;)

---
Louis Chrétien
louis.chretien@gmail.com

[2018-10-15 18:02] glouel commented on #530
@WebVeteran took some time but here goes :
https://github.com/glouel/Aerial/releases/download/1.4.1beta2rc1/Aerial.saver.zip

Should be fixed for you. The fade-in/out is also now showing on all screens. Not the descriptions. There are some new options including a same styled clock and ability to have a message on screen.

[2018-10-15 18:18] friedmud opened #539 "Crashes with Mirroring"
Using the newest beta (1.4.1 beta 1) the screensaver still crashes for me if I try to mirror the videos to both of my monitors.  It works fine if I let it play different videos to each monitor.

I'm using 4k exclusively and have pre-cached all videos.

I'm running OSX 10.14 (Mojave) and my two external monitors are Dell U3818DW (37.5" 3840x1600) monitors.  This is on a Mac Pro with the AMD FirePro

[2018-10-15 18:29] friedmud commented on #539
While I've got you here... have you seen any way to set a screensaver a background in Mojave?  They seem to have removed the old way of doing that (probably because they added the new dynamic screensaver stuff).

I loved having Aerial as my desktop background!

[2018-10-15 18:29] friedmud commented on #539
Also: thanks for continuing to work on this project!  I really appreciate it!

[2018-10-15 18:34] glouel commented on #539
Did the Panel itself crash ? With a specific message ? Or was the UI of the panel "weird"/not working.

If you try going into the screensaver preferences just after install, and the previous version was in memory, some of the resources won't be loaded and that might cause a crash. Seems to be a MacOS bug with swift screensavers, usually people see a wrong version number and other weird stuff. But

[2018-10-15 18:36] friedmud commented on #539
The panel crashed - sorry I didn't capture the message something about "Went wrong".  I think that what happened is what you described - that the old version of the screensaver was still running.

Yeah - I used to run Aerial as my background - but that command that's in #13 doesn't exist in OSX Mojave... just a bummer

[2018-10-15 18:46] glouel commented on #539
Leaving this here for anyone else experiencing the problem : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.1beta2

I have no idea if there's a way to insert a window behind the desktop in Mojave. I'll keep this in mind for later but don't get your hopes too high ;)

[2018-10-15 18:58] glouel commented on #258
https://github.com/JohnCoates/Aerial/releases/tag/v1.4.1beta2 now has a clock ;)

[2018-10-15 18:59] glouel commented on #78
https://github.com/JohnCoates/Aerial/releases/tag/v1.4.1beta2 bit late but this feature is in this build FYI

[2018-10-15 18:59] dVIAN13 opened #540 "1.4b2 - black screen"
using 1.4b2, when I click 'preview' or let the screen saver kick in, I get a black screen(with descriptions & time though). tried uninstall/re-install and still persists.

[2018-10-15 19:01] glouel commented on #540
@dVIAN13 Remind me, one monitor only ?

[2018-10-15 19:03] glouel commented on #540
Oh damn. As a workaround, select mirror mode for multimonitor, I'll pull the build. Good catch and sorry about that one 😅

[2018-10-15 19:05] dVIAN13 commented on #540
haha.. no problem. just figured it out as you replied. good catch!

[2018-10-15 19:09] dVIAN13 commented on #540
@glouel also, when the 'mirror' option is chosen, the descriptions/time is only shown on main monitor.. maybe an option for which monitors to display on?

[2018-10-15 19:14] glouel commented on #540
https://github.com/JohnCoates/Aerial/releases/tag/v1.4.1beta3 😅

Yes for the mirroring, because of the way the mirroring mode works, that option would take some extra changes. Probably a "for later" improvement.

[2018-10-15 19:15] dVIAN13 commented on #540
thanks! confirmed working!

[2018-10-15 19:17] dVIAN13 opened #541 "fast forward / rewind"
not sure if this is a 'feature' ;) but on the settings panel, you can 2-finger scroll over the video preview, and it will go forward/reverse! easter-egg/feature/bug?

[2018-10-15 19:19] cassidoo commented on #78
Wow! Better late than never! 😄

[2018-10-15 19:19] #78 closed

[2018-10-15 19:21] glouel commented on #541
Yeah I saw that one, also the player doesn't loop either and just stops at the end. It's just a basic video player.

I should do something about it someday.

[2018-10-15 20:29] WebVeteran commented on #530
That was b2.

b3...

Mirrored: still the same issue with the first frame being full brightness before the fade-in.
Different: Works as expected. Both screens fade from black. Lower framerate, but plays fine otherwise.

[2018-10-15 20:32] glouel commented on #530
Again apologies about b2.

Thanks for your report, that one is an easy fix, weird though I didn't see it on mojave but just saw it on 10.13 !

[2018-10-15 20:40] glouel commented on #530
I fixed the flickering in this build :
https://github.com/glouel/Aerial/releases/download/v1.4.1rc/Aerial.saver.zip

Thanks for catching that !

[2018-10-15 20:40] glouel commented on #541
No problem, I4ll keep it open to try and not forget it 😅

[2018-10-15 20:52] WebVeteran commented on #530
Yes - fixed. Great work!

[2018-10-15 20:59] WebVeteran commented on #532
I was interested in adding this folder to my Plex library. Purging unused videos would be great = delete anything other than the "best available format" for each video _enabled_.

Can this be done inherently by deleting the entire cache manually and rebuild it?
If I "Download Now" will it only grab the "best available format" for each video enabled?

Or how can we do so manually in the meantime?

[2018-10-15 21:06] glouel commented on #532
Yes, it only downloads the "best available format", whatever method you use. So delete manually the videos (you can keep the 4K by filtering in finder and removing the rest, those aren't duped, but you can delete everything if you have bandwidth) and redownload -> you'll get a completely deduped directory with best versions available.

If you use the "Download All" in the menu (below the video lis

[2018-10-15 21:33] glouel commented on #532
The list will tell you the status of the best available format for your preferred format only. If you switch format you'll see the list update.

I had started to make a grid that showed each video in each format for the cache, but ended up scrapping it for some reason.

As for versions, there's up to 5 I think. tvOS12 JSON has 3 format, tvOS10 litteraly has duplicates in it. 1.4+ never download du

[2018-10-15 22:02] SeanMSmith commented on #534
You've been busy!

This is interesting. In 1.4.1 beta 3, I am now seeing 0.5 second fades when set to 0.5 seconds, 1 second fades when set to 1 second, and 2 second fades when set to 2 seconds. (I never tested 1.4.1 beta 1 or 2, or test 4.)

In 1.4.1 test 2, as I reported previously, fades were _much_ faster than 0.5 seconds, and the same was also true with 1.4.1 test 3. (In fact, I could discern

[2018-10-15 22:02] glouel commented on #532
Just to give some background, what Aerial 1.4 does is :
- parse the tvOS12 and grab every video urls in all formats
- parse the tvOS11 and grab every video urls in all formats for what we don't yet have (there are no H.264 links here, two videos are in there that aren't in the tvOS12 url, others are all the same)
- parse the tvOS10 and grab every video urls in all formats for what we don't yet hav

[2018-10-15 22:07] glouel commented on #534
A bit ;)

I did change the fade to add a cubic ease, they look more natural now (probably the difference you feel).

I'll keep those 4 values, I think they give a good balance. All texts (including the new clock) use the same fade time too.

[2018-10-15 22:20] SeanMSmith opened #542 "Slower description fades"
I love the support for quicker video fades in 1.4.1 beta 3, but I find that the quicker description fades that go with them are too demanding of my attention. When the description appears suddenly, my eyes are drawn to it against my will, even when I know it's coming and don't want to look at it.

When instead the description fades in gradually, I'm not distracted from focusing on the detail of th

[2018-10-15 22:28] glouel commented on #542
What about having the same popup on the text panel for the text fade speed then ? To me having 0.5 on videos and 2s on text felt super weird so that's why I aligned their duration, but I can bring an option for that.

Side note, text fades start with a 1s delay compared to video animation, always.

[2018-10-15 22:29] glouel commented on #534
I have a hard time keeping up, I made too many builds ! As long as they are correct now... ;) (and see my answer there)

[2018-10-15 22:33] SeanMSmith commented on #542
Seems worth a try, if you don't think we're in danger of becoming too un-Mac-like by overloading the UI with choices. ;-)

[2018-10-16 00:30] LePetitPrince612 opened #543 "【Aerial 1.4】No San Francisco"
I love to use Aerial and I'm very pleased to know that Aerial contains every Aerial video, including thee old San Francisco videos. Yet after downloading, I can't find them. And I really want to know why and how to solve it.

[2018-10-16 00:34] WebVeteran commented on #532
It's a whole other world of logic.

I tossed out everything not 4K. Plex is happy =)

![screen shot 2018-10-15 at 5 27 16 pm](https://user-images.githubusercontent.com/40175/46985648-7da08880-d0b9-11e8-8bb7-c14e42abdf8f.png)

[2018-10-16 07:06] glouel commented on #543
Can you try the latest beta ? See here :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.1beta3/Aerial.saver.zip

As for "finding them", unsure what's the issue. Get that beta, then scroll down in the list, you'll find SF just before the "Space" videos :

![capture d ecran 2018-10-16 a 09 05 03](https://user-images.githubusercontent.com/37544189/46998386-add04180-d122-11e8-8273-1a48292

[2018-10-16 09:52] glouel commented on #535
@SeanMSmith one thing I did change that's not in rc2 is removing the color/shadow attributes from the font picker, you just pick font and size now (as it should be, I won't handle color and shadow is always baked in) :

![capture d ecran 2018-10-16 a 11 51 05](https://user-images.githubusercontent.com/37544189/47008085-e62f4a00-d139-11e8-881f-b80b84bbc01a.png)

I won't put another build just for t

[2018-10-16 14:57] dVIAN13 commented on #541
nice! great work, thanks!

[2018-10-16 17:35] glouel commented on #527
@travi any chance you can run the script for "1.4.1" ?

I have some permission error to push here, because of a messed up git config it seems.

[2018-10-16 17:36] glouel commented on #542
Closing as fixed with the release of 1.4.1

[2018-10-16 17:36] #542 closed

[2018-10-16 17:36] glouel commented on #541
Closing as fixed with the release of 1.4.1

[2018-10-16 17:36] #541 closed

[2018-10-16 17:36] glouel commented on #540
Closing as fixed with the release of 1.4.1

[2018-10-16 17:36] #540 closed

[2018-10-16 17:37] glouel commented on #539
Closing as fixed with the release of 1.4.1

[2018-10-16 17:37] #539 closed

[2018-10-16 17:37] glouel commented on #537
Closing as fixed with the release of 1.4.1

[2018-10-16 17:37] #537 closed

[2018-10-16 17:37] glouel commented on #535
Closing as fixed with the release of 1.4.1

[2018-10-16 17:37] #535 closed

[2018-10-16 17:38] glouel commented on #534
Closing as fixed with the release of 1.4.1

[2018-10-16 17:38] #534 closed

[2018-10-16 17:38] glouel commented on #530
Closing as fixed with the release of 1.4.1

[2018-10-16 17:38] #530 closed

[2018-10-16 17:38] glouel commented on #536
Closing as fixed with the release of 1.4.1

[2018-10-16 17:38] #536 closed

[2018-10-16 17:39] glouel commented on #487
As far as I know this is fixed in 1.4.1

[2018-10-16 17:39] glouel commented on #472
As far as I know this is fixed in 1.4.1, reopen otherwise

[2018-10-16 17:39] #472 closed

[2018-10-16 17:39] glouel commented on #468
Closing as fixed with the release of 1.4.1

[2018-10-16 17:39] #468 closed

[2018-10-16 17:39] glouel commented on #462
Closing as fixed with the release of 1.4.1

[2018-10-16 17:39] #462 closed

[2018-10-16 17:39] glouel commented on #452
Closing as fixed with the release of 1.4.1

[2018-10-16 17:39] #452 closed

[2018-10-16 17:40] glouel commented on #444
Closing as fixed with the release of 1.4.1

[2018-10-16 17:40] #444 closed

[2018-10-16 17:40] glouel commented on #442
Closing as fixed with the release of 1.4.1

[2018-10-16 17:40] glouel commented on #426
Closing as fixed with the release of 1.4.1

[2018-10-16 17:40] #426 closed

[2018-10-16 17:40] glouel commented on #372
Closing as fixed with the release of 1.4.1

[2018-10-16 17:40] #372 closed

[2018-10-16 17:41] glouel commented on #256
Closing as fixed with the release of 1.4.1

[2018-10-16 17:41] #256 closed

[2018-10-16 17:41] glouel commented on #258
Closing as fixed with the release of 1.4.1

[2018-10-16 17:41] #258 closed

[2018-10-16 17:41] glouel commented on #264
Closing as fixed with the release of 1.4.1

[2018-10-16 17:41] #264 closed

[2018-10-16 17:42] #141 closed

[2018-10-16 17:48] #151 closed

[2018-10-16 18:23] travi commented on #527
https://github.com/Homebrew/homebrew-cask/pull/53694

[2018-10-16 18:28] eozh commented on #442
Unfortunately, it is still a problem for me in 1.4.1. I am running with external monitor (1920x1200) as main display and laptop screen at 1280x800 equivalent. Main display alternates between full screen and black bars on top and bottom. Laptop screen always has black bars. High Sierra 10.13.6.

[2018-10-16 18:36] benjaminbogdanovic opened #545 "1.4 & 1.4.1 "Space" descriptions"
Starting with the betas of 1.4, the description on the space videos just says "Space". I have removed the screensaver, and the cache, the reinstalled, but still have the issue. I also have the issue on another Mac.

[2018-10-16 18:48] glouel commented on #545
You mean on the list on the left ? Can you post a screenshot of what you see ? It says space > space ??

Also, macOS version ?

Here's what I have here FYI on 2 macs (10.13.6 and 10.14.1beta):

![capture d ecran 2018-10-16 a 20 46 29](https://user-images.githubusercontent.com/37544189/47039653-b9eceb00-d184-11e8-8c65-b7a7279b03be.png)

[2018-10-16 18:59] benjaminbogdanovic commented on #545
The list is okay, it is the deception when viewing the screensaver.

MacOS 10.14

<img width="780" alt="screenshot 2018-10-16 at 19 56 31" src="https://user-images.githubusercontent.com/16837687/47040214-a38f6100-d17d-11e8-99e3-cfdc4d162c06.png">

<img width="1280" alt="lwscreenshot 2018-10-16 at 19 58 56" src="https://user-images.githubusercontent.com/16837687/47040357-f832dc00-d17d-11e8-9d07-4ee

[2018-10-16 19:04] glouel commented on #545
Thanks for your quick reply. In the Text panel, do you have the "Display in preferred language when available" selected ? If so, what does the line just below says ?

Also, just to confirm, you don't see this in other videos ?

Thanks for reporting this, I'll have a look.

[2018-10-16 19:13] benjaminbogdanovic commented on #545
No, it’s not checked. I have tried it with it checked, and I have the same issue. The line underneath says preferred language: English (United Kingdom).

On the other videos I’m only getting the city names, not the detailed descriptions that are visible in the sidebar.

Something to note; in the cached folder, there are only videos. There used to be JSON files and the like, with metadata about the

[2018-10-16 19:22] glouel commented on #545
Ha that explains it ! I definitely haven't and they definitely should be there. Did you perhaps change the cache folder to another place ?

FYI, the extra strings are contained in the  ~/Library/Caches/Aerial/TVIdleScreenStrings.bundle file

So since you don't have those, it fallbacks to the short name.

You still see Aerial working because the JSONs are saved in the preference files (something th

[2018-10-16 19:35] benjaminbogdanovic commented on #545
I did not move the cache folder. The issue must have arisen when I cleared the cache and removed the screensaver via the finder, but not the plist, before installing the first release you made.

I have done why you have suggested, and it has fixed it! Thanks!

I guess most people will not have this issue. I only cleared out the cache manually to remover excess videos from before, because it did no

[2018-10-16 19:39] glouel commented on #545
Makes sense, by removing the cache the files were gone but not the plist.

While unusual, still better to have a fix in a upcoming release. Thanks for your report on this !

[2018-10-16 19:54] glouel commented on #442
Ok thanks for your feedback, I reopened this and will try and look into it. Can you tell me :

- Mac model
- Preferred video format
- do you see the exact same thing when using the 3 multimonitor mode (main only, mirror, individual)

Thanks

[2018-10-16 19:56] glouel commented on #7
This is old but this should be fixed now.

[2018-10-16 19:56] #7 closed

[2018-10-16 19:57] glouel commented on #20
This is semi old but it looks like slow network, downloading the files would solve. Closing this as 1.4.1 should solve this by caching videos first.

[2018-10-16 19:57] #20 closed

[2018-10-16 19:58] glouel commented on #21
Fixed for a while, also fixed in the preview panel now in 1.4.1 ;)

[2018-10-16 19:58] #21 closed

[2018-10-16 19:58] #51 closed

[2018-10-16 19:59] glouel commented on #56
This is fixed since 1.4b9

[2018-10-16 19:59] #56 closed

[2018-10-16 19:59] #63 closed

[2018-10-16 19:59] #81 closed

[2018-10-16 19:59] #72 closed

[2018-10-16 20:00] #234 closed

[2018-10-16 20:02] #124 closed

[2018-10-16 20:28] amcohen4 commented on #428
Thanks .. Looks great so far (Mohave, later 2012 mac mini, dual 1080p monitors).

[2018-10-16 20:42] benjaminbogdanovic commented on #545
Also the flaw in removing screensavers on a Mac, I does not remove the associated files.

You're welcome!

[2018-10-16 20:43] NightRaider73 commented on #545
where are the other files?

[2018-10-16 20:48] glouel commented on #545
I'm not sure we can cleanup anything at uninstall, I'll have a look !

[2018-10-16 20:54] benjaminbogdanovic commented on #545
The error pane will be useful!

Do you have to remove the old version before installing a new version?

I understand when you are updating to a new versions, maintaining the plist is useful to ensure the settings stay them, but for people who want to fully remove it, an uninstall option may be nice.

On a related note; is it possible to have an update feature from the preferences pane?

[2018-10-16 21:07] glouel commented on #545
You don't, but you probably need to restart the System Preferences (close and reopen) in order to properly reload the plist (ironically !) and the ressources (you may see the wrong version show up and an unresponsive UI). As far as we know, that's a bug with the way Swift plugins are loaded.

It fixes itself the next time you launch System Preferences and we have no workaround so far. I'll try to

[2018-10-16 21:33] glouel commented on #545
We do have that !
https://github.com/JohnCoates/Aerial/blob/master/Readme.md#uninstallation

I've updated it with the location of the plist.

Marking as an enhancement for a future version.

[2018-10-16 21:44] glouel commented on #545
You have the same issue of the titles not showing, that's right ?

First, go to the Cache panel, click "Show in Finder", that will open your current cache. This is where the missing files should go.

Or are you looking for the plist to delete it ?

`/Users/YOURUSERNAME/Library/Preferences/ByHost/com.JohnCoates.Aerial.{UUID}.plist`

Where YOURUSERNAME is your user name, and {UUID} is a series of nu

[2018-10-16 21:47] NightRaider73 commented on #545
I already tried both places. weird

[2018-10-16 21:47] eozh commented on #442
- MacBook Pro 13, 2017, Touch Bar
- 1080p H264 (tried playing HEVC, got high CPU usage on this machine)

In mirrored mode: what I described before: alternating on main display, letterboxed on laptop screen. Also noticed lag between screens (videos not synchronized)
In "only main display" mode: top/bottom flicker a few times, then settles on playing full screen
In "different mode": on both display

[2018-10-16 21:47] glouel commented on #545
Well, here's a workaround, download : https://sylvan.apple.com/Aerials/resources.tar

Put that file in the cache folder (look the Show in Finder button in my previous comment). Then untar the file and keep the tar too. If you need help untaring let me know.

[2018-10-16 21:48] NightRaider73 commented on #545
thx

[2018-10-16 21:50] glouel commented on #442
Ok thanks for this, I'll try to replicate.

You mean unplugging while the screensaver was on ? Can you try using the screensaver with the monitor unplugged first (stay in scaled mode) and tell me what that does ? I'll get back to you tommorrow on  this, thanks !

[2018-10-16 21:50] NightRaider73 commented on #545
Put both in?  Or just one?

[2018-10-16 21:52] glouel commented on #545
Put the tar and untar in place.

You just need the `TVIdleScreenStrings.bundle` to solve the issue in practice. That file needs to be in the cache folder.

[2018-10-16 21:55] eozh commented on #442
That time I unplugged the monitor first. I tried it again and couldn't reproduce the freeze. With laptop screen only, there was brief garbage on the entire screen and then it plays okay full screen.

[2018-10-16 21:56] NightRaider73 commented on #545
I did it and it still isn't working it this right:
![screen shot 2018-10-16 at 2 55 17 pm](https://user-images.githubusercontent.com/44180668/47049945-8e054180-d153-11e8-95b3-8cab767429d6.png)

[2018-10-16 21:57] glouel commented on #545
nearly there. move the files from the resources folder in the main cache directory (copy them one level down if you see what I mean ?).

[2018-10-16 21:58] NightRaider73 commented on #545
Thank you so much it is working for me now!

[2018-10-16 21:59] glouel commented on #545
You're welcome :)

[2018-10-16 22:19] glouel commented on #545
Good idea, done  : https://github.com/JohnCoates/Aerial/blob/master/Readme.md#troubleshooting

[2018-10-17 05:22] bryandmlee opened #546 "Minor typo under Text options"
In v1.4.1, under the Text section of the Screen Saver Options, "Extra information:", 'diagonally' is spelt with an extra 'n'.
<img width="263" alt="screenshot 2018-10-17 at 13 22 31" src="https://user-images.githubusercontent.com/15274194/47063876-b5214900-d20f-11e8-959e-8adfe31ae743.png">

[2018-10-17 09:08] glouel commented on #546
Oops ! Thanks, will be fixed in next builds :)

[2018-10-17 17:35] dVIAN13 commented on #442
as far as 'main' display, they may be referring to while under display preferences, the main display is whichever has the 'white bar' at the top. and you can drag that bar to other/external monitors.

[2018-10-17 17:43] glouel commented on #442
Oh, that's a pretty well hidden setting ! Thanks for clarification.

so @eozh same thing here setting external as main, let me know about the other stuff thanks !

[2018-10-17 17:57] dVIAN13 commented on #442
no problem!, just for reference, my main display(under sys prefs) in one of my two external monitors, both are using scaled settings(2560x1440) and with my MacBookPro open(3rd display, default resolution), I am not seeing any letterboxing on any of the displays. I have tried different settings on different displays and have not been able to reproduce the letterbox effect either. Possibly is the mo

[2018-10-17 18:05] glouel commented on #442
@dVIAN13 Ha thanks for this. Indeed it could be scaling to non widescreen ratio, although I don't think I saw that option, hmm. With extended logs from the new build we should get exactly what's sent to Aerial so that can give us a clue !

To try and narrow it down, and sorry because I think I've asked you already, are you running Mojave, and Mac model ?

[2018-10-17 18:09] dVIAN13 commented on #442
I'm on Mojave, 10.14.1 dev, and on a MacBook Pro 13" w/ Touch Bar

[2018-10-17 20:39] kerstin commented on #487
@glouel I just tried it - seems to work fine now, thank you! Interestingly, the problem is still present when _previewing_ the screensaver, however. Just thought I'd mention it.

[2018-10-17 20:47] glouel commented on #487
@kerstin thanks for checking it ! When you mean preview, you mean press the preview button in System Preferences > Screensaver ? As far as I know, this just launches the screensaver so this may not totally be fixed !

This seems to look **a lot** like that other issue here https://github.com/JohnCoates/Aerial/issues/442, are you still on 10.13.6 (not mojave) with a recent Macbook Pro ?

That seems

[2018-10-17 21:52] eozh commented on #442
That's correct. It's a little bit more complicates, since unlike your Air, the Pro display is retina. If I recall correctly, it used to be 2x of 1280x800 (2560x1600). In Sierra or so, they switched the default to look like 1440x900, which looks too small to me, so I keep it in the 1280x800 mode. I checked and the same issue happens in the default mode of the internal display.

Attached are the scr

[2018-10-17 22:16] glouel commented on #442
Yeah sadly the MBA is the only Mac I have on 10.13.6. Totally understandable about font size !

Ok so scaled doesn't make a difference ? hmm... I was going to say I was going to do more testing on scaling on my iMac (on mojave unfortunately) but that might not help. I'll let you know tomorrow.

Thanks for doing this !

According to the logs, you don't have videos cached (maybe a few only) but that

[2018-10-17 22:28] eozh commented on #442
I switched main display to internal. After that video plays full-screen on internal screen (after a momentary glitch) and with black bars on the external.

tried it, no change

[2018-10-18 01:49] SeanMSmith opened #547 "Corrections to video names and descriptions (with suggested improvements)"
I'm going to submit the following corrections and suggested improvements to video names and descriptions in batches, since compiling these takes quite a lot of time.

First up: **_San Francisco Day_**

**Movie:** b8-3.mov
**Name:** Change "Downtown" to "Alamo Square"
**Descriptions:**
_Start:_ Change "San Francisco" to "Painted Ladies across from Alamo Square in San Francisco"
_~35s:_ "St Mary’s C

[2018-10-18 02:05] SeanMSmith opened #548 "No Aerial plays when clicking Preview button"
In Aerial 1.4.1 running under macOS 10.13.6, when I click the Preview button in the Screen Saver pane of System Preferences, the screen goes dark, but no video plays.

The video does play in the thumbnail of the Screen Saver pane, and also when activating the screen saver (e.g. by using a hot corner), just not when clicking the Preview button.

Previews of other screen savers play as expected when

[2018-10-18 04:16] SeanMSmith commented on #547
Second batch: **San Francisco Night**

**Movie:** b6-4.mov
**Name:** Change "Downtown/Coit Tower" to "Downtown and Coit Tower"
**Descriptions:**
_Start:_ Change "Downtown San Francisco" to "Downtown San Francisco with the Transamerica Pyramid in the center"

**Movie:** b2-4.mov
**Name:** Change "Downtown/Sutro Tower" to "Downtown and Sutro Tower"
**Descriptions:**
_50s:_ Add "Former Bank of Americ

[2018-10-18 06:12] SeanMSmith commented on #547
Third batch: **_Los Angeles Day_**

**Movie:** comp_LA_A005_C009_PSNK_ALT_v08_SDR_PS_FINAL_20180709_SDR_4K_HEVC.mov
**Name:** Change "Interstate 110" to "Harbor Freeway (Interstate 110)"
**Description:** Change "Following Interstate 110 north through Los Angeles" to "Following the Harbor Freeway (Interstate 110) north through South Los Angeles"
_~50s:_ Add "Crossing the Century Freeway (Interstate

[2018-10-18 07:09] heutger opened #549 "Feature Request: Update function"
Hi,

I would welcome an update function. Are there any plans?

Regards,
Christian

[2018-10-18 08:29] SeanMSmith commented on #547
Fourth batch: **_Los Angeles Night_**

**Movie:** LA_A011_C003_4K_SDR_HEVC.mov
**Name:** Downtown
**Descriptions:**
_Start:_ Change "Passing Downtown Los Angeles" to "Approaching Downtown Los Angeles, with the MTA Building (in yellow) and Union Station (in pink) in the left mid-ground"
_~60s:_ Add "Passing the Cathedral of Our Lady of the Angels (in the center)"
_~80s:_ Add "Passing the Los Angele

[2018-10-18 08:33] SeanMSmith commented on #547
I'll try to get to London later today or tomorrow.

[2018-10-18 08:48] glouel commented on #547
Wow thanks ! I'll have a look at these.

The names will be an easy change (I may need to make the list larger again though).

The descriptions, those were 100% provided by apple and are translated. So might be a bit tricky to handle adding new points (replacing easy enough) for just one language but should be doable. I'll have a look in a coffee or two, thanks !

[2018-10-18 08:49] glouel commented on #547
Side note, I can extract all the POIs if you want to see them in english for all videos ?

[2018-10-18 08:56] glouel commented on #548
I've seen a blank preview (before entering Aerial proper) a couple of times, that's probably linked to that. I'll have a look thanks ! Are you mirroring to multi monitors for the record ?

[2018-10-18 08:57] SeanMSmith commented on #547
That would be most helpful!

[2018-10-18 09:00] glouel commented on #549
Hi, see my comment here for more details : https://github.com/JohnCoates/Aerial/issues/545#issuecomment-430401262

The issue is, Aerial is a plugin to System Preferences from a technical point of view, not a proper app, so I don't think that the plugin can update itself. I'm looking at version checks for upcoming version as a workaround.

The best way to get auto updates right now, as mentionned i

[2018-10-18 09:13] glouel commented on #547
There you go, hopefully readable enough (macOS 10.14.1 beta 4 just broke Sublime Text and somehow rehid file extensions here !)

[AerialPois.txt](https://github.com/JohnCoates/Aerial/files/2491123/AerialPois.txt)

[2018-10-18 09:28] SeanMSmith commented on #548
No, I'm using just the built-in display on my iMac, and Aerial is set to play Aerials "Only on Main Display".

[2018-10-18 09:37] glouel commented on #548
Might be some changes I made for Main display only, maybe mirror (which was the default) always work. Thanks I'll have a look.

[2018-10-18 09:49] kerstin commented on #487
Sure thing! And yeah, I meant the preview one gets to see when one clicks the preview button.

I'm on High Sierra (10.13.6) with a not super recent (several years old) MacBook Air (so no Retina display) with the default resolution and not using multiple displays, though I could try using multi displays if that might help with narrowing down the problem.

[2018-10-18 09:52] glouel commented on #487
Are you getting a black screen in preview ? This might be a different bug, see
https://github.com/JohnCoates/Aerial/issues/548

[2018-10-18 10:00] kerstin commented on #487
No, the preview shows the screensaver normally, but with the bug. I tried it again now, had to wait a few seconds to see the images distorted (yesterday it happened immediately) but the problem is still there, in the preview.

I watched the _actual_ screensaver for a good 2 minutes? without anything happening, so assumed it was fine (when it was buggy, you'd see the distortions happening every few

[2018-10-18 10:02] glouel commented on #487
Ok thank you very much, I'm reopening this to better track this ! Please report if you see in normal usage !

[2018-10-18 12:06] glouel commented on #547
Ok right now I'm starting to merge your new names. However about this :

One problem I have is that I may not have the right video ID for these, so these may be totally wrong descriptions. There are 4 Golden Gate videos and 4 matching sets of descriptions  (the _0, _150 is the time stamp, so show at 0, show at 150...):

A008_C007_0	: Over the Marin Headlands looking toward the Golden Gate Bridge
A

[2018-10-18 12:14] glouel commented on #547
Misc stuff about names mostly (I'll come back to descriptions as a second pass) :

😅

Well, regarding length I'm adding the long versions right now and will make a build. Part of the reason I went with / sometimes was so they would fit in the UI. We'll have to see how we handle the longer ones, I had already made the font smaller and the list larger, but some widgets (donwload/4K) take space too.

[2018-10-18 12:38] gabel commented on #472
Fixed for me with 1.4.1 on macOs Mojave 10.14

[2018-10-18 15:31] Fastjur commented on #472
It fixed for me when updating to Mojave. Thank you!

[2018-10-18 15:34] glouel commented on #472
Ok this really looks like a 10.13.6 bug then ! Thanks @gabel and @Fastjur for your feedback !

[2018-10-18 16:07] glouel commented on #548
I found why that happens, although quite crazily I can only reproduce it on my MBA on 10.13.6. For some reason, only on that machine it reuses the same AerialView than the mini preview for the large preview. But not on my iMac on Mojave.

I'm trying to pull the threads on all this, bit of cleanup, I might break things 😱

[2018-10-18 18:32] NightRaider73 commented on #547
Also under Downtown it just shows "San Fransisco" I don't know why but it is the only one.
I am almost certain that it was fine in 1.4.1 so maybe check that. (I am running 1.4.2test3)

[2018-10-18 18:43] glouel commented on #547
Nope, it was that way too before. That video is the only one (I think out of 66) for which I didn't find "extra descriptions" in the strings file, so those are empty and it just shows the video. Maybe I missed them in the strings bundle, it's a bit of a mess !

[2018-10-18 18:53] glouel commented on #547
I'm putting my last test build here :
https://github.com/glouel/Aerial/releases/download/v1.4.2test4/Aerial.saver.zip

It only includes the name changes, not the descriptions. Some are cut because too long.

[2018-10-18 18:55] glouel commented on #548
It's a bit of a mess but I think I got something somewhat sane now. Also with proper retina detection (it would probably be pixelated if retina was not main), better start sync, I did see a mess on my MBA if I let the preview play to the end, still need to track that, but otherwise should be better :
https://github.com/glouel/Aerial/releases/download/v1.4.2test4/Aerial.saver.zip

[2018-10-18 18:56] NightRaider73 commented on #547
I appreciate the work you put into this and so I try to help in anyway I can. (I'm no coder though)
:)

[2018-10-18 18:58] glouel commented on #487
Preview had some unpredictible side effects in previous builds, also found a couple other bugs, but not sure if they are related. Here's a test build if you feel like giving it a shot :
https://github.com/glouel/Aerial/releases/download/v1.4.2test4/Aerial.saver.zip

The distortion stuff may be 10.13.6 bug with the AMD drivers though (a lot seem fixed in Mojave per https://github.com/JohnCoates/Aer

[2018-10-18 19:00] glouel commented on #442
Please note that some people had that bug fixed for them on Mojave : https://github.com/JohnCoates/Aerial/issues/472#issuecomment-430992470

Still, I did try some more stuff today, here's my latest test build if you want to give it a shot. It has proper per screen retina detection and better player start synchronisation. It may not help you but who knows. Out of that, I think I'm out of ideas for

[2018-10-18 19:01] glouel commented on #547
Everything helps ! Testing is also super helpful considering the vast variety of configurations out there. Slowly but surely it's getting there !

[2018-10-18 19:13] benjamincharity commented on #442
FWIW The 1.4.1 fixed it for me once I completely deleted the existing version, restarted system preferences, and then installed Arial.

Mojave 10.14
Arial 1.4.1

[2018-10-18 19:16] dVIAN13 commented on #547
@glouel Would it be a hard ask to have the cut-off names in the list display a hovering tool-tip? That way, depending on the sys pref settings for sidebar text (which are still too long for me at small), I would think that a hovering tool-tip could help complete the rest of the name.

[2018-10-18 19:18] NightRaider73 commented on #547
@glouel I can go through later and correct all of your spelling if you want me to :)

[2018-10-18 19:21] glouel commented on #442
Yep you really need to restart syspref ! Macos bug as far as I know on this one :(

[2018-10-18 19:28] glouel commented on #547
Yeah I left them cut off so @SeanMSmith could see what we can work with. Tooltips should very much be doable if we stay with longer lines !

If you see stuff either in the UI or in the readme, sure ! I think the UI should be mostly fine (maybe not the newer stuff like Text panel, etc).

The extra descriptions are Apple's though so don't spend time double checking those !

[2018-10-18 19:35] glouel commented on #547
@dVIAN13
https://github.com/glouel/Aerial/releases/download/v1.4.2test5/Aerial.saver.zip

with tooltips... that blink ?! That's what I got enabling tooltips. I guess they do that to not obscure the rest of the UI. That feels so unApple to me but hey...

[2018-10-18 20:00] dVIAN13 commented on #547
haha... it's better than nothing! works for me.. I like your other tooltips, but I sure that's more work!

[2018-10-18 20:00] NightRaider73 commented on #547
I don't code so where would I find the UI files?

[2018-10-18 21:22] NightRaider73 opened #553 "(Fix Inside) Aerial not Displaying full title for Dubai Night two (Sheikh Zayed Road)"
![screen shot 2018-10-18 at 2 19 06 pm](https://user-images.githubusercontent.com/44180668/47185011-1f55ee80-d2e1-11e8-9193-78d7dbebbd73.png)
@glouel This is another bug I found that should be easy to fix:)

[2018-10-18 22:01] eozh commented on #442
test4 version didn't help, but I found some more information:
- when there are black bars at the top and bottom, the video is also cropped horizontally. It's easy to see on the LA Airport video, where the left taxiway is off-screen.
- In the "separate" mode, the videos have similar problems for a second and then go to correct view.
- interestingly, the problem **goes away** when I set a non-zero f

[2018-10-18 22:18] glouel commented on #442
Interesting ! Was all that with test 4 ?

I would highly suggest you cache videos. I did fix many issues regarding player creation and it's start specifically in test 4, but it's not on this repo. My branch is here if you are curious : https://github.com/glouel/Aerial/blob/feature/v1.4.2/Aerial/Source/Views/AerialView.swift

On old versions the playback was started before the view was properly rea

[2018-10-18 22:19] glouel commented on #553
Indeed I should display the secondary name there ! Will fix tomorrow thx (this one also doesn't have extended descriptions).

[2018-10-18 22:37] alxndrsbrwn commented on #549
If you installed Brew Cask, is there a way to run the 'brew cask reinstall aerial' command from Automator? I can't seem to get it to work.

[2018-10-18 22:37] andsoitgoes commented on #487
Thank you!! That worked perfectly, it's running on a very old (early 2011) macbook pro with the discrete card disabled, thank you so much for that most recent one! you're the best!!

Also, is there any way you could hook into f.lux to determine the sunset/sunrise times? That would be dope :)

[2018-10-18 22:50] glouel commented on #487
Good to hear !

Regarding f.lux, I don't think  they have an API for this sadly, I tried looking for one but it doesn't look like they have one :( It's possible to calculate precisely those based on lat/long, maybe I'll add that at some point as a fallback for Macs without nightshift support if I can.

[2018-10-18 22:55] glouel commented on #549
You should run `brew cask upgrade` to update Aerial (and other outdated apps). You can look for "shell script" in automator I think (I don't use automator much sorry, maybe someone else can help).

[2018-10-18 23:00] glouel commented on #487
https://github.com/ceek/solar this looks like a good option for manually calculating them.

There's also a free (?) Yahoo Weather API I think which may be easier to use.

[2018-10-18 23:48] eozh commented on #442
Same thing in test4 and test6. Also, if the video is not cached it often just shows black screen.
These issues didn't happen in the versions before 1.4. But I am glad I found a workaround: having it cached + fade in.

[2018-10-19 04:40] SeanMSmith commented on #548
I confirm that Aerial 1.4.2 test 6 (I've not tested test 4 or 5) corrects this problem for me.

Thank you!

[2018-10-19 09:02] SeanMSmith commented on #547
Sixth batch: **_London Night_**

**Movie:** b1-2.mov
**Name:** Change "Tower Bridge 1" to "River Thames near Sunset"
**Descriptions:**
_20s:_ Remove "Crossing the River Thames in London"
_25s:_ Add "Crossing the River Thames and passing over City Hall"
_35s:_ Add "Passing HMS _Belfast_ in the River Thames"
_200s:_ Change "Crossing the River Thames toward Westminster, London" to "Passing Lambeth Pa

[2018-10-19 09:09] SeanMSmith commented on #547
**_New York Night_**

**Movie:** b2-3.mov
**Name:** Change "7th avenue" to "Seventh Avenue" (or at least "7th Avenue", capitalizing the "A")
**Descriptions:**
Someone who knows New York better than I do might want to take a whack at these. :-)

[2018-10-19 09:21] glouel commented on #547
I think I definitely can use yours (more points, better etc), but for english only. Since you are adding timepoints I'll need to scrape theirs (you seem to have put add/change/remove so that should be an easy enough mix).

I'm pretty sure their strings are copyrighted so to my mind, replacing is fine, keeping some of their olds and your news together, probably slightly iffy ? In order to try and n

[2018-10-19 09:44] SeanMSmith commented on #547
Yes, the alternate descriptions checkbox sounds reasonable. "Alternate English Descriptions" and "Enhanced English Descriptions" both suggest themselves to me.

My suggested descriptions above assumed keeping many of Apple's existing descriptions (anywhere I didn't explicitly suggest changing or removing them, in fact). To avoid copyright issues, I'll go through those descriptions and rewrite them

[2018-10-19 09:46] glouel commented on #547
That's super nice of you thanks ! Take your time, no hurry 😀

[2018-10-19 10:01] glouel commented on #553
(Fixed in next build)

[2018-10-19 10:03] glouel commented on #548
Awesome thanks, I'll keep this open until I get 1.4.2 out.

[2018-10-19 11:13] glouel commented on #442
Ok...

You mean at cold startup with a cached video, or swapping from cached to non cached maybe ? I suppose you don't see any text either.

Cache + fades are slightly linked. If a video is not cached, we usually have no idea of it's duration, so we can't put any fades and just bring opacity to 1.

That you have an issue with cache and NO fade is weird though. I'll try rejiggering stuff again 🤷‍♂️

[2018-10-19 11:36] glouel commented on #442
Ok so this one I reproduced. Sometimes the server just seem to leave the connection hanging, I need to better handle that case.

[2018-10-19 13:44] glouel commented on #442
This is driving me slightly crazy so still looking at it. Maybe getting close. So we seem to be getting an arbitrary amount of data. The data seems identical, sometimes we only get a few KB and everything is great :

15:29:49 : Starting request: <NSMutableURLRequest: 0x600000018060> { URL: https://sylvan.apple.com/Aerials/2x/Videos/LW_L001_C006_4K_SDR_HEVC.mov }
15:29:49 : Received data with lengt

[2018-10-19 15:07] glouel commented on #442
And I got it. Two requests are made simultaneously by Apple's AVAssetResourceLoader, the contentRequest and the dataRequest. The first one tells what type of file it is, the second brings the data. That first amount of request data gets cached while it probably shouldn't, and that messed the whole thing and subsequent request (for the rest of the data) weren't sent anymore. Anyway, fixed it by dis

[2018-10-19 16:03] glouel commented on #553
Fixed here :
https://github.com/glouel/Aerial/releases/download/v1.4.2test7/Aerial.saver.zip

[2018-10-19 16:05] glouel commented on #442
Build here :
https://github.com/glouel/Aerial/releases/download/v1.4.2test7/Aerial.saver.zip

[2018-10-19 16:54] NightRaider73 commented on #553
Thank you!

[2018-10-19 17:07] NightRaider73 commented on #547
@glouel Looking good with the additions:)

[2018-10-19 18:00] NightRaider73 commented on #553
I will keep this open until 1.4.2 is stable.

[2018-10-19 18:03] eozh commented on #442
Thank you. I am still getting black screen often when streaming. But it's intermittent and might be caused by apple's servers. Seems to happen more on pre-tvOS12 videos.

[2018-10-19 18:21] NightRaider73 opened #555 "Ability to Change Speed of the Aerial, like: .25X, 1X, 1.25X, 2X."
Is there a way where @glouel could make a test build with this feature because I'm not sure how it would look.

[2018-10-19 18:29] bennokress opened #556 "Making the clock sticky"
It would be nice to have a setting to make the clock sticky while the location information is fading in and out.

[2018-10-19 18:32] dVIAN13 commented on #556
to build on that, an option to have it on it's own fade-in/out schedule around the screen... however, I still just use the sys-pref show with clock option to accomplish that... I don't mind the design of it's overlay(personally)..

[2018-10-19 19:49] NightRaider73 commented on #479
Or maybe trackpad swipe, same as Apple TV:
Tap show description
Slide Left/ Right Switch between Aerials
Click or any key to exit screensaver.

[2018-10-19 21:28] kidhack commented on #464
I can't get any quartz screensavers to work in Mojave. Any tips?

[2018-10-19 22:51] glouel commented on #556
Sticky... Well, people keep complaining that they don't want stuff to stay at the same place to avoid burn-in 😅

Having the clock on a longer schedule, that's definitely doable though, it can definitely be jarring when you have 10s in a transition.

Reason why it moves this way right now is that I linked it to the position of the extra information. (same, h-opposed, d-opposed), I'll try to think a

[2018-10-19 22:52] glouel commented on #555
Video yes, but if I do it as a test build you won't have descriptions synced.

[2018-10-19 22:53] glouel commented on #442
Is it any less at least ? It seemed rock solid here, damn !

[2018-10-19 23:13] eozh commented on #442
I gave up on streaming and cached the enabled videos, not that there is a nice GUI for it. The other unfortunate thing I noticed is that video looks a little jerky on external display. Not sure if it is related to scaling or sharing the video player.

[2018-10-19 23:20] glouel commented on #442
I definitely understand. You mean download checked in the menu below the list ? Cause that's there ;)

That's weird. You're running external as main right ? Can you define "jerky" ? Right now  the scaling should be correct per screen so probably not that. Does it really look better when you have 2 different videos (assuming same quality, it varies a lot). Sharing the player, as far as I know, that

[2018-10-19 23:37] eozh commented on #442
Mis-typed, should read as "now that there is a nice GUI for it"

It is hard to define. The motion doesn't look smooth, where things are moving fast, like waves in Hawaii. It look like judder from either skipped frames or mis-matched frame rate. It is subtle though. I don't see a difference in the 2 videos mode.

[2018-10-20 02:39] SeanMSmith commented on #547
Looking at the new **names** I proposed (not descriptions) in 1.4.1test7, I'm noticing that several are too long.  I would suggest:

**_Los Angeles_**

Change "Harbor Freeway (Interstate 110)" to "Harbor Freeway"
Change "Los Angeles International Airport" to "Los Angeles Int’l Airport"

**_San Francisco_**

Change "Marin Headlands to Golden Gate" to "Marin to Golden Gate"
Change "The Embarcadero a

[2018-10-20 06:35] SeanMSmith commented on #556
By the way, I should have thought that "horizontally opposed" meant "across, on the other side of the screen, on the same level horizontally" not "above or below".

[2018-10-20 06:41] SeanMSmith commented on #548
In 1.4.2 test 7, I'm now noticing that the full-screen preview plays the **_first_** time I click the Preview button, but not the second or subsequent times. (I don't know if this is a change in behavior from test 6, or if I just didn't test test 6 adequately.)

[2018-10-20 07:38] SeanMSmith commented on #547
Regarding the two Golden Gate Bridge videos with the whacked-out descriptions:

A013_C005 should instead go with b4-3.mov, and the name should be "Presidio to Golden Gate"; Apple's two descriptions there are good.

The video b10-3.mov (which I call "Marin to Golden Gate") does not seem to have any corresponding descriptions at all in the POIs you sent me, so we should just use mine above.

(The gr

[2018-10-20 10:12] glouel commented on #442
Hehe no problem ;)

Well, if you don't see a difference between mirrored and independant then it's not the shared thing. 2017 should have HEVC Main10 so probably not that either.

I would suggest you check the videos with quicktime, some can look truly poorly encoded or have lower resolution that we'd think.

One example is comp_GMT026_363A_103NC_E1027_KOREA_JAPAN_NIGHT_v17_SDR_FINAL_25062018_SDR_

[2018-10-20 10:15] glouel commented on #547
Makes sense indeed !

I guess it's for a new video they shot and we don't have yet ? We'll see I guess !

Truly awesome, thanks a lot for this !

No issue at all.

Enjoy your time there ! And thanks for doing this, I should have this working when you get back

[2018-10-20 10:16] glouel commented on #548
Oh yes that's very possible I break that I'll have a look, thanks !

[2018-10-20 10:17] glouel commented on #556
I tried to take the mathematical approach but maybe that doesn't translate well !

[2018-10-20 11:00] glouel commented on #556
So back to main subject, what if it sticks to the corner you asked IF you set a static corner in the text pane for descriptions, and pick one of the opposed thing ? Having it stick on "same" will be an issue, I can "animate it" to it's new position which depends on the text description below it (the line height may differ based on letters, and if you pick a truly large font, it may split to multip

[2018-10-20 11:17] bennokress commented on #556
I think we don't talk about the same improvement: what I would like (if possible) is - when you look at my screenshot - that the clock stays visible at all time in the same position and only the description below fades in and out just as it can be done right now.
<img width="960" alt="bildschirmfoto 2018-10-20 um 13 13 35" src="https://user-images.githubusercontent.com/6912918/47255018-5dcae500-d4

[2018-10-20 11:37] bennokress commented on #556
Ah yes, that makes sense. I have to ask though: Font size and Screen size are constant for each session at least and only text length is variable, correct? So normally the clock doesn't have to be dependent on text length of the info text except when it exceeds one line. So will the clock also be moving by a few pixels if the info text always stays on one line (because the display is wide enough)?

[2018-10-20 12:32] Friend-LGA opened #557 "Cancel clip downloading"
I cannot find option to cancel downloading neither on "Videos" page, nor on "Cache" page. And this option, probably, should be on both pages.

[2018-10-20 13:28] glouel commented on #556
@bennokress check this version :
https://github.com/glouel/Aerial/releases/download/v1.4.2test8/Aerial.saver.zip

With helvetica neue it shouldn't move by a pixel ;)

[2018-10-20 13:33] bennokress commented on #556
Wow, that was fast. With IBM Plex Sans it also doesn't move. This is exactly what I thought of when opening the issue. Should I test some other scenarios for you?

[2018-10-20 13:35] glouel commented on #556
Yeah that was a quick fix ;)

You can try a large font and see how it moves if it multi lines split to see the move effect. And random mode for corner (in that case you should see the old fades).

I think those are decent defaults, we'll see what people think.

[2018-10-20 13:56] bennokress commented on #556
Everything you wrote in the last post works as intended. I have just one thing you might want to consider: When using the option "Show location: 10 seconds" and a fixed corner, then the clock stays all the time and doesn't disappear with the info text which some people might want (and others might want exactly this behavior). I will personally use "Show location: always" with the fixed corner and

[2018-10-20 13:57] glouel commented on #556
Oh that's a good catch, forgot that case. Agreed, in that case it should fade ! Will fix in next build thanks !

[2018-10-20 15:50] NightRaider73 commented on #555
Ok maybe not this build maybe 1.4.3, once you have all the descriptions:)

[2018-10-20 17:09] MeboGit opened #559 "Does not work (Blackscreen) on High Sierra"
## Known Issues

Before logging an issue please check if one of the problems you are experiencing is mentioned here. If the issue you are experiencing isn't covered here, then please delete this content and tell us about the problem you are experiencing or the feature you'd like to request.

### "You cannot use the Aerial screen saver with this version of OS X." message

If you get a message sayin

[2018-10-20 17:11] MeboGit commented on #559
Also tried reinstall and restart options, no go!
Well, maybe takes another 2 years to get a working mac scrennsaver?!

[2018-10-20 17:13] MeboGit commented on #559
Also suprising, how complicated a screensaver can be?!
Much easier on Windows!!

[2018-10-20 17:16] glouel commented on #559
Well, if you'd like some help, maybe try to be nice and elaborate a bit about your issue ?

- What happens if you close and reopen System Preferences, go to Screensaver and select Aerial on the left, do you see a mini preview streaming ?
- If you open Aerial preferences and click a video on the list on the left, does it start playing or not ?
- Have you tried downloading a video (clicking the + bu

[2018-10-20 17:32] MeboGit commented on #559
Sorry but tried over 30 minutes and just wanted to install a screensaver not a new operating system.

Thanks for your quick response.

I closed/reopened System Preferences many times with Aerial selected/unselected but Click on Preview was Black Screen. The mini preview screen was shown though.
When I click a video on the list it starts playing.

I finally found out that the screensaver itself see

[2018-10-20 17:39] glouel commented on #559
Yes, the "preview button" is broken on 1.4.1...

There's an issue posted about exactly this here with the explanation and fix : https://github.com/JohnCoates/Aerial/issues/548

[2018-10-20 17:49] glouel commented on #547
I'm merging your stuff but you kept some stuff like change this and that and other annotations that I'm not sure what I should do with for a couple of videos.

I don't change/add/remove, I only put your stuff in a new file and those will be used in place of Apple's description. I also need a 0 always.

I don't have a 0 and don't know what to do with that :)

I'll add those 4 as is.

[2018-10-20 19:28] glouel commented on #547
Haha no problem thanks !

I'll add those to the json for next version. It looks pretty good with your new strings you'll see ;)

[2018-10-20 19:31] SeanMSmith commented on #547
I'm off to SF now and will have to wait until I get back to check out the new Aerial--by which time, at the rate you're going, there'll be so many improvements I'll barely recognize it!  :D

[2018-10-20 19:31] glouel commented on #547
Haha :) Enjoy your trip !

[2018-10-20 20:27] NightRaider73 commented on #555
@glouel Is learning his spelling and Grammar!!!!!! 🎉🎉🎉🎉🎉
You get a 5/5!

[2018-10-20 20:28] glouel commented on #350
This was actually fixed in 1.4 :)

[2018-10-20 20:28] #350 closed

[2018-10-20 20:29] NightRaider73 commented on #555
Oh and also turn 1.4.2test9 into beta 1.
You don't need to change anything though.

[2018-10-20 20:31] glouel commented on #555
🤣

Yeah I think I'll just release it as beta 1. It's good enough and fixes a few things :) Thanks for checking the readme !

[2018-10-20 20:36] NightRaider73 commented on #555
And don't forget to sign it

[2018-10-20 20:44] glouel commented on #555
I did :) Updating the readme now.

https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta1/Aerial.saver.zip

[2018-10-20 20:52] #546 closed

[2018-10-20 20:52] glouel commented on #559
Closing as fixed in 1.4.2 beta 1 https://github.com/JohnCoates/Aerial/releases/tag/v1.4.2beta1

[2018-10-20 20:52] #559 closed

[2018-10-20 20:53] glouel commented on #556
Closing as fixed in 1.4.2beta1 : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.2beta1

[2018-10-20 20:53] #556 closed

[2018-10-20 20:54] glouel commented on #553
Closing as fixed in 1.4.2beta1 : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.2beta1

[2018-10-20 20:54] #553 closed

[2018-10-20 20:54] glouel commented on #545
Closing as fixed in 1.4.2beta1 : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.2beta1

[2018-10-20 20:54] #545 closed

[2018-10-20 21:06] glouel commented on #298
2) was implemented in 1.4.1, 1) will be in 1.4.2 beta 2

[2018-10-20 21:13] NightRaider73 commented on #159
@glouel Close this it is fixed in 1.4.2

[2018-10-20 21:14] NightRaider73 commented on #194
@glouel Close this to

[2018-10-20 21:14] glouel commented on #159
Indeed thanks !

[2018-10-20 21:14] #159 closed

[2018-10-20 21:15] NightRaider73 commented on #41
@glouel Close

[2018-10-20 21:15] glouel commented on #194
Actually that one is about splitting one video across multiple monitor, panoramic style. I4m not sure that's even possible but keeping it open in case ;)

[2018-10-20 21:17] NightRaider73 commented on #194
Okay I'm just going through all the old ones because it kinda makes this project look bad to have 29 issues.
Let's try to close the ones that are no longer necessary.

[2018-10-20 21:17] #41 closed

[2018-10-20 21:28] NightRaider73 commented on #428
@glouel
This is fixed in 1.4.1.
 But if you are still having this problem try 1.4.2 beta1:
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta1/Aerial.saver.zip

[2018-10-20 21:29] #17 closed

[2018-10-20 21:29] #428 closed

[2018-10-20 21:31] NightRaider73 commented on #189
@glouel, this is a good idea if you can pull it off.

[2018-10-20 21:41] MeboGit commented on #559
Hi,

thanks for distributing this fast fix. The screen saver itself looks very cool.

Anyhow I encountered two other issues now:

1. In 1.4.1 I could say only show on main monitor, now it automatically shows on all monitors (vertical and horizontal) but not in the wright way (see picture)
2. Before I saw caption on the pictures, now there are none and also no options for labels.

Also there are a

[2018-10-20 21:43] NightRaider73 commented on #549
@alxndrsbrwn I have created a Automator file, I don't use Brew Cask, so I don't know if this works. Thanks
[Update Aerial.app.zip](https://github.com/JohnCoates/Aerial/files/2498571/Update.Aerial.app.zip)

[2018-10-20 21:43] glouel commented on #164
This is late but I have a prototype for this, will see how we can implement this now.

[2018-10-20 21:46] glouel commented on #559
I don't see your pictures. Have you restarted System Preferences after upgrading ? This is a macOS bug that we can't fix, it messes the UI.

[2018-10-20 21:47] NightRaider73 commented on #549
@glouel Read this up above.

[2018-10-20 21:49] NightRaider73 commented on #543
@glouel Close fixed in 1.4.1

[2018-10-20 21:50] NightRaider73 commented on #522
Is this ready to be closed? @glouel

[2018-10-20 21:52] NightRaider73 commented on #147
@glouel Time to be closed

[2018-10-20 21:53] MeboGit commented on #559
Here the pictures...and yes I restarted preferences at least 5 times, also I deleted the old version before installing new version.

![pastedgraphic-1](https://user-images.githubusercontent.com/15740317/47260844-0c027900-d4c3-11e8-91ed-16718e69439a.png)
![20181020_212133135_ios](https://user-images.githubusercontent.com/15740317/47260845-115fc380-d4c3-11e8-8fa8-cb3de6e5abd5.jpg)

[2018-10-20 21:54] NightRaider73 commented on #13
@glouel Close this

[2018-10-20 21:55] glouel commented on #559
That's definitely not 1.4.2 ! This looks like the old 1.2 version from years ago. Are you sure you downloaded the right one ?

Try this link :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta1/Aerial.saver.zip

[2018-10-20 21:58] MeboGit commented on #559
I took Aerial.saver out of the following archive:
![grafik](https://user-images.githubusercontent.com/15740317/47260878-00fc1880-d4c4-11e8-8369-7076e76d9e8f.png)

[2018-10-20 22:01] glouel commented on #559
You have to use the zip I linked, this is no good, I'll see to remove it.

[2018-10-20 22:09] #13 closed

[2018-10-20 22:09] #147 closed

[2018-10-20 22:09] glouel commented on #522
Nope still working on this.

[2018-10-20 22:10] glouel commented on #543
@LePetitPrince612 come back to us and reopen this is you still have issues

[2018-10-20 22:10] #543 closed

[2018-10-20 22:11] MeboGit commented on #559
Ok, tried the other zip file now, that seems to be the newer version.

But the picture still shows in the same layout on vertical screen.

[2018-10-20 22:17] glouel commented on #559
Make sure you have removed the old one and restarted syspref. If that's still an issue, feel free to reopen with more information about your setup :
- Mac model
- mac OS version
- Screen resolution (and retina)

There's also a new debug mode in Advanced, you can enable it and enable log to disk, and run the screensaver once (don't use preview, run the screensaver normally) and post the file there

[2018-10-20 22:31] MeboGit commented on #559
Ok, thank you.

I think I will only use it on main screen for now.

[2018-10-21 01:00] fcpwiz opened #562 "Feature: prevent shifting AM/PM indicator with non-default font"
I noticed that since the seconds of the digital clock are constantly changing, the "AM"/"PM" are always shifting left and right to compensate for the added/lost pixels needed for the different numbers that make up the seconds.

To address this distracting shifting of the "AM"/"PM" indicator, either:

(1) make the "AM"/"PM" fixed, disconnecting it from the seconds that precede it, and/or;
(2) give

[2018-10-21 03:55] Rossh51 opened #563 "Can't use Nightshift to control timed display option"
I have late 2015 27" iMac with Mohave OS and latest version of Aerial. Although Mac supports Nightshift this option is greyed out in the Time tab under preferences. New to Aerial not sure if a problem or my lack of knowledge!

[2018-10-21 07:53] glouel commented on #563
What's the error message ? Something that can happen on recent Macs is that in order for night shift to detect sunset/sunrise time, you need to have location services enabled. It should tell you so in the grey area.

Can you check for that ?

Another way to check is to go to terminal and run `/usr/bin/corebrightnessdiag nightshift-internal`

More information about this here https://github.com/John

[2018-10-21 08:30] Rossh51 commented on #563
No error message but I had a similar problem to user in post #528 ie (null) in Night Shift / Sunrise section of Terminal output. Turning Location Services off and on seems to have fixed it. Thanks for the help.

[2018-10-21 08:31] glouel commented on #563
It should have appeared in the UI in the grey line where you see the sunset/sunrise times right now, are you sure it wasn't there ? Good anyway that this is fixed !

[2018-10-21 08:34] glouel commented on #562
1) is messy, especially taking into account right aligned options where it just shift the issue to minutes:hours
2) it is then

You can also use a monospaced font if that really bothers you and you want seconds.

[2018-10-21 08:34] Rossh51 commented on #563
Ah. I did not notice the times are there until you pointed them out. I don't think they were there before and the complete option was not available.

[2018-10-21 08:36] glouel commented on #563
I may add a warning icon to point to them in case of error. Thanks !

[2018-10-21 08:36] #563 closed

[2018-10-21 10:05] glouel commented on #548
Just double checked it's fixed in b1

[2018-10-21 10:05] #548 closed

[2018-10-21 13:45] glouel commented on #548
Addendum, this WASNT fully saved in b1.

On some systems, if you have a "minipreview" in syspref and press "preview" (to get the fullscreen one), ScreenSaverEngine will reuse the same instance of Aerial than the one used for the minipreview (which we really don't want).

Because of this, in multi-monitor setup with mirroring mode only (!), it worked exactly once, but if you pressed preview again,

[2018-10-21 13:55] glouel commented on #562
@fcpwiz This is fixed in beta2 per above :

https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta2/Aerial.saver.zip

[2018-10-21 13:55] #562 closed

[2018-10-21 13:56] glouel commented on #216
Implemented in 1.4.2 beta2, there's now a handy button that pops at the bottom of the preferences panel when something is wrong. + all the new logging stuff in advanced.

[2018-10-21 13:56] #216 closed

[2018-10-21 13:57] glouel commented on #559
More bugs were fixed specifically in multi monitor setups + mirrored mode in b2 :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta2/Aerial.saver.zip

[2018-10-21 13:58] glouel commented on #298
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta2/Aerial.saver.zip

[2018-10-21 13:58] #298 closed

[2018-10-21 13:59] glouel commented on #441
You can now do that by editing the JSONs if that's your thing. There are also other screensaver more apt to this so closing ;)

[2018-10-21 13:59] #441 closed

[2018-10-21 13:59] #173 closed

[2018-10-21 14:01] glouel commented on #368
Closing as duplicate of https://github.com/JohnCoates/Aerial/issues/194

[2018-10-21 14:01] #368 closed

[2018-10-21 14:01] glouel commented on #557
Closing as duplicate

[2018-10-21 14:01] #557 closed

[2018-10-21 14:02] #439 closed

[2018-10-21 17:53] glouel commented on #370
Implemented in beta 3 :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta3/Aerial.saver.zip

[2018-10-21 17:53] #370 closed

[2018-10-21 21:17] luckman212 opened #565 "1.4.2 beta 3 - black screen / no video"
Been running Aerial for years on the same Mac Mini late-2012 with 2 1920x1080 monitors in a vertical stack layout. Up until today I was running fine with 1.4.1.

I decided to try 1.4.2beta3 and I can't get it to play any videos.

The small mini-preview window plays video fine - I can see that when I open it via the pref pane. However, when the screensaver kicks in, all I see are 2 black screens. T

[2018-10-21 21:41] luckman212 commented on #565
No, I was not using mirroring mode—Unique video on each display.

[2018-10-21 21:48] glouel commented on #565
That makes sense in a way, I may have broken that mode while fixing mirrored. Again, sorry I'll fix tomorrow !

[2018-10-22 08:03] kerstin commented on #487
For me, the latest version (v1.4.2test4) reintroduced the twitching of the screensaver (it continued to be present in the preview too). I've now downgraded to v1.4 again.

[2018-10-22 10:46] glouel commented on #565
@luckman212 So in my haste to squash that nasty mirroring mode I did mess everything else up 😅 I did recheck every cases (previews, non previews) on two multimonitor setups (one Mojave, one 10.13.6).

This time (...) it should really be fine, I'll post beta4 as soon as GitHub let me do so (maybe a couple hours according to their status...)

[2018-10-22 11:00] glouel commented on #565
@luckman212 : Fixed everything in beta 4, again sorry about that one !

https://github.com/JohnCoates/Aerial/releases/download/v1.4.2beta4/Aerial.saver.zip

[2018-10-22 11:56] luckman212 commented on #565
@glouel Thanks for such a quick fix! Yes, I confirm that [1.4.2beta4](https://github.com/JohnCoates/Aerial/releases) works just fine.

[2018-10-22 11:58] glouel commented on #565
@luckman212 Thanks again for your report, and checking the fix so quickly too 👍

[2018-10-22 14:26] dennisN75 opened #567 ""You cannot use the Aerial screen saver with this version of macOS.""
I got still the same problem with the error message.
I use Mac OS 10.3.3 and can see in the preview the error message.

I tried different versions, also the newest beta 4.

What can I do?

[2018-10-22 14:29] glouel commented on #567
@dennisN75 Per the [troubleshooting section](
https://github.com/JohnCoates/Aerial#troubleshooting), this is a bug in your macOS version, there's a workaround though:

This was fixed by Apple in later 10.3.X releases.

[2018-10-22 14:43] dVIAN13 opened #568 "1.4.2 b4 show with seconds."
@glouel, When show with seconds is not checked, I get the following preview:

<img width="591" alt="screen shot 2018-10-22 at 7 41 34 am" src="https://user-images.githubusercontent.com/22992333/47298965-f168f680-d5cd-11e8-864f-407c8fd9869e.png">

if I turn it on(checked), I get:

<img width="503" alt="screen shot 2018-10-22 at 7 41 41 am" src="https://user-images.githubusercontent.com/22992333/472

[2018-10-22 14:53] glouel commented on #568
@dVIAN13 My bad, I think I had a bug that didn't show on locales without the AM/PM thing.

Any chance you can check this build when you have a sec ?

https://github.com/glouel/Aerial/releases/download/v1.4.2beta5/Aerial.saver.zip

[2018-10-22 15:22] dVIAN13 commented on #568
@glouel, That resolved the bug, and it's good to go! Thanks!

[2018-10-22 15:28] dVIAN13 commented on #568
thanks!, not that it's a bug necessarily, however, if you're on the main panel(videos), and it's displaying a preview, if you then go to cache and click 'download now', it jumps back to main screen, but the display is then black. This is the case whether of not there are downloads available.

[2018-10-22 15:33] glouel commented on #568
Ha yes, I removed the old "Download now" to put in the stop button and thus I send back to the video panel.

I guess something happens when the list refresh itself to add the queue/download indicators. Maybe there's the same thing when you use the menu below, I'll try to have a look thanks !

[2018-10-22 17:24] NightRaider73 opened #569 "Update Aerial Thumbnail"
@glouel I think that the thumbnail is a little blurry you can see below:
![screen shot 2018-10-22 at 10 23 10 am](https://user-images.githubusercontent.com/44180668/47307749-ac03f380-d5e4-11e8-878a-0c7ea71e4133.png)

[2018-10-22 18:01] dennisN75 commented on #567
I saw this workaround but it doesn't work.

[2018-10-22 18:01] dennisN75 commented on #567
And i had a typo in mac version. Of course i have 10.13.3

[2018-10-22 18:11] glouel commented on #569
I think that's just the 1080p video getting downscaled that artifacts like that, although it does look particularly bad. Is that on a retina screen ?

On 4K videos I noticed the opposite, where the previews are extra sharp and small details tend to blink. I'll have a look tomorrow, I'm not sure if we can pick any resizing method (usually you can) for previews.

[2018-10-22 18:12] NightRaider73 commented on #569
No I have a Late 15 MacBook Air

[2018-10-22 18:16] NightRaider73 commented on #569
Not the Preview the thing in the bottom left corner

[2018-10-22 18:16] glouel commented on #567
Yeah I figured it was 10.*13*.3.

I'd highly suggest you update to .4 or .6, it's a macOS bug with Swift screensavers, nothing we can do about that one. There were many issues at the time of their release, it looks like it started getting fixed in 10.13.4. It's definitely fixed in 10.13.6. This also happened on Mojave beta (thankfully fixed there too).

See this issue here for example : https://gi

[2018-10-22 18:18] dennisN75 commented on #567
Ok thank. Then i will update.

[2018-10-22 18:18] glouel commented on #567
Try enabling the clock first, but yes you should defintely consider updating.

[2018-10-22 18:19] dennisN75 commented on #567
enabling clock doesn't work.

[2018-10-22 18:19] glouel commented on #549
Awesome thanks !

Linking.

[2018-10-22 19:41] popod opened #570 "Allow to delete unchecked cached items"
Add an option to remove the cache of unchecked videos or add a dedicated button to remove a cached video. This to reduce disk storage for unwanted video.

And thanks for your job :)

[2018-10-22 19:47] fcpwiz commented on #562
Great, thank you @glouel !

[2018-10-22 19:53] NightRaider73 commented on #549
@glouel Time to close

[2018-10-23 00:05] NightRaider73 commented on #479
@glouel I kinda like this:
Or maybe trackpad swipe, same as Apple TV:
Tap show description
Slide Left/ Right Switch between Aerials
Click or any key to exit screensaver.

[2018-10-23 01:20] dvtch opened #571 "Aerial at login in a managed environment"
I'm looking to deploy this to a lab of AD bound Macs. My settings are such that while a user is logged in, there isn't really a point of a screensaver because for security reasons, users are auto-logged out after 10 minutes of inactivity anyway. Where I want to utilise Aerial is at the login Window where there is more likelihood of screen burn. My MDM service has options to pick which screen saver

[2018-10-23 07:55] glouel commented on #571
@dvtch I can't find much about what is precisely not allowed at login, but I can think of a couple reasons why it wouldn't work.

The very first launch of Aerial needs :
- network access to download the json
- to create a cache directory (in the users Library/Cache)
- filesystem access to said directory
- to write where the cache directory is in the user's preferences.

So pre login, first launch

[2018-10-23 07:59] glouel commented on #570
dupe-ish of https://github.com/JohnCoates/Aerial/issues/532

Better cache management is coming in a future update.

[2018-10-23 07:59] #570 closed

[2018-10-23 08:06] glouel commented on #562
@fcpwiz
Note that this is actually bugged in public beta, this build here:

https://github.com/glouel/Aerial/releases/download/v1.4.2beta5/Aerial.saver.zip

fixes the issue that was reported here:

https://github.com/JohnCoates/Aerial/issues/568

If all goes well I'll push stable 1.4.2 later today which will have the fix too.

[2018-10-23 08:15] glouel commented on #479
I like that too but I'm not sure what kind of access we have to keyboard/trackpad. I'll have a look in next-ish update.

[2018-10-23 08:48] glouel commented on #568
I'm pretty sure I reproduced the issue yesterday but I can't this morning, hmm ! Whether from the menu or from the Download now button, it keeps playing, whether I have a 4K or a 1080p video selected. I'm pretty sure I didn't fix it though. Will keep an eye on it.

[2018-10-23 08:52] glouel commented on #567
Closing this, please reopen if you still have an issue.

[2018-10-23 08:52] #567 closed

[2018-10-23 08:52] glouel commented on #189
Marked for a future update !

[2018-10-23 09:08] glouel commented on #569
Fixed in 1.4.2 !

https://github.com/JohnCoates/Aerial/releases/download/v1.4.2/Aerial.saver.zip

[2018-10-23 09:08] glouel commented on #568
Marking as fixed in 1.4.2.

https://github.com/JohnCoates/Aerial/releases/download/v1.4.2/Aerial.saver.zip

[2018-10-23 09:08] #568 closed

[2018-10-23 09:09] glouel commented on #565
Marking as fixed in https://github.com/JohnCoates/Aerial/releases/download/v1.4.2/Aerial.saver.zip

[2018-10-23 09:09] #565 closed

[2018-10-23 09:10] glouel commented on #487
Looks like my message to you yesterday was lost in the github bugs. 1.4.2test4 still had some pretty bad issues. I've fixed many things since in 1.4.2, maybe give it a shot :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.2/Aerial.saver.zip

[2018-10-23 09:12] glouel commented on #442
Will mark this as fixed in 1.4.2, feel free to reopen if you still experience issues.

[2018-10-23 09:12] #442 closed

[2018-10-23 09:58] LvanProosdij commented on #571
@dvtch I see no reason why Aerial would not have network access and filesystem access if triggered at login (with no user logged in).

I think you should investigate to move all files (prefs, cache, etc.) from user profile (~/Library) to main Library (/Library). BTW Aerial is located there… `/Library/Screen Savers/` that's why it should be able to run at login screen.
This would also avoid storing

[2018-10-23 10:11] glouel commented on #571
(I would add to this that installing for all users should do most of this for you already if you install for all users, but I'm really not convinced filesystem would be available to Aerial, for security reasons. Might be totally wrong on that ! If you give it a shot, enable logging and post log if you have an issue)

[2018-10-23 10:16] LvanProosdij commented on #571
Because images and files are located in `/Library/` or `/System/Library/`

those storing prefs and/or files in user library `~/Library` can't be supported.

because they need files located in user library or user folders.

[2018-10-23 10:18] glouel commented on #571
Make sense ! Thanks @LvanProosdij for clarification.

[2018-10-23 10:35] LvanProosdij commented on #571
What do you mean by _"installing for all users"_ ? By default macOS "install screen savers for all users". When you double click `Aerial.saver` file after uncompressing the downloaded archive, macOS does automatically store `Aerial.saver` in `/Library/Screen Savers/`

What do you mean by "should do most of this for you already" ? Locating prefs and caches is hard coded in developers code. Currentl

[2018-10-23 10:43] glouel commented on #571
Pretty sure that's no longer the default, here it defaults to current user only when installing a screensaver on Mojave. You can override at install though.

Cache can be overridden manually. But that's what I meant by "most", yes. I didn't write the Preferences code so I'm not sure if it tries to use global preferences. If not it will fail but that's fixable.

[2018-10-23 11:03] LvanProosdij commented on #571
Solution would be to locate prefs and caches according to Aerial.saver location, user library or main library.

[2018-10-23 11:28] max1mvs commented on #569
That is so bloody cool! The best screensaver ever. And that goes beyond the videos themselves as well. Great job guys!

[2018-10-23 11:33] glouel commented on #571
According to code, Aerial uses [ScreenSaverDefaults](https://developer.apple.com/documentation/screensaver/screensaverdefaults) which wraps userDefaults

Using global preferences requires usage of the low level [CFPreferences](https://developer.apple.com/documentation/corefoundation/preferences_utilities)

There may be some permission issue (or not, hard to tell) since we are running as a plugin t

[2018-10-23 11:41] glouel commented on #522
Will post a test version later with this, got a pretty good detection mechanism in place now.

[2018-10-23 11:54] glouel commented on #527
@travi Can I bother you again for 1.4.2 ?

[2018-10-23 14:34] LvanProosdij commented on #571
I haven't coded since GS OS and MacOS 9 ;-)
I was planning to put my hands in code again, learning Swift. Will do that in a few weeks when getting my new Mac. But don't expect any brilliant coding before long :-)

[2018-10-23 14:39] travi commented on #527
https://github.com/Homebrew/homebrew-cask/pull/54016

[2018-10-23 14:45] glouel commented on #527
Many thanks !!

[2018-10-23 15:05] NightRaider73 commented on #555
I didn't mean to close this sorry:\

[2018-10-23 15:12] dVIAN13 commented on #569
@glouel noticed that the image is actually outside of the border... see screenshot.

<img width="244" alt="screen shot 2018-10-23 at 8 07 47 am" src="https://user-images.githubusercontent.com/22992333/47370711-2d1dc200-d69b-11e8-83af-e18b0600de9d.png">

and possibly still slightly blurry on a new 5k iMac I'm setting up for a client.. ;)

[2018-10-23 15:28] glouel commented on #569
Apparently we had the same issue before, see this screenshot here :

![](https://user-images.githubusercontent.com/37544189/46805565-ad702900-cd65-11e8-9779-91243ee9e634.png)

Guess I need to cut the corner of the image !

I'll try to see what images are used by the bundled screensavers, that may have changed and the info I found was outdated 90x58 and 180x116@2x for retina.

What a nice thing to

[2018-10-23 15:30] LvanProosdij opened #573 "Memory leak ? (downloading videos from Control Panel)"
Aerial 1.4.2, macOS 10.14, iMac 16 GB.

Reproductible :
- For testing I removed Aerial cache folder.
- Open Control Panel, Screen Saver, Aerial, Screen Saver Options…, Videos, Check All, Download All. Keep panel open.
- Process `Desktop Picture (System Preferences)` memory usage keeps growing and growing while downloading file after file.
- The more files are loaded the more memory is used, GB add

[2018-10-23 15:42] glouel commented on #569
FYI found this : https://stackoverflow.com/questions/34030980/os-x-screensaver-retina-thumbnail-image

Regarding corner faking, I can do it, no issue. But the retina thing looks like a bug, I used the same method as the guy did and it's indeed blurry looking closely.

And as the guy said, indeed the effect/corners are baked in default savers ! Very weird :

![capture d ecran 2018-10-23 a 17 41 30]

[2018-10-23 15:44] glouel commented on #573
Reproduced, thanks for your report, will look into it !

[2018-10-23 16:52] glouel commented on #573
Fixed in 1.4.3, there was also a retain cycle when streaming videos. Those were some pretty old bugs but now that we have many more videos it made things much worse !

https://github.com/JohnCoates/Aerial/releases/download/v1.4.3/Aerial.saver.zip

[2018-10-23 16:52] #573 closed

[2018-10-23 17:22] LvanProosdij commented on #573
Great news!
That may also explain reports of slowed down Mac (and sometimes freezes), high CPU usage, etc.

[2018-10-23 17:52] glouel commented on #573
Quite possible on streaming yep !

[2018-10-23 18:07] travi commented on #527
looks like someone beat me to it: https://github.com/Homebrew/homebrew-cask/pull/54047

[2018-10-23 18:13] glouel commented on #527
And already merged, well thank you very much for the first one !

[2018-10-23 20:31] dVIAN13 commented on #569
no worries.. I think the obvious thing was the corner, imo... the retina thing just may be slightly more of an issue at higher(bigger) resolutions?

[2018-10-24 00:16] dvtch commented on #571
Further reading, I just don't think it is possible and that is through more of Apple's sandboxing than a shortcoming of Aerial. There are too many variables since pre-configured preferences are part of this deployment to ensure cache location and such are set automatically on each client. That side of it, the deployment-side, took some tweaking with munki/outset scripting but I got it deploying th

[2018-10-24 07:46] LvanProosdij commented on #571
I did some testing, macOS (Mojave) simply do not even try to execute any third party screensaver while at login screen. Even if locating the third party screensaver  in `/System/Library/Screen Savers` and disabling System Integrity Protection (SIP). It's probably for security reasons.

[2018-10-24 10:53] dvtch commented on #571
Yeah, thanks for the testing @LvanProosdij - that would have been tedious.

[2018-10-24 10:54] glouel commented on #571
Indeed ! I'll put a line about it on the readme for future reference.

[2018-10-24 10:54] #571 closed

[2018-10-24 15:31] LvanProosdij opened #578 "Crash : ScreenSaverEngine - Terminating app due to uncaught exception 'NSInvalidArgumentException'"
Aerial 1.4.3, macOS 10.14, iMac 16 GB, single monitor setup.

Was not preview, crashed during screensaver playback.

You will find Aerial log + crashlog
avInit1 started at 16:55:39 ended at 17:04:17
crashlog time is 17:04:18.271

[code]
-------------
[code]

[2018-10-24 15:43] glouel commented on #578
Any context around this one ? Do you have a multi monitor setup ? Was it preview, did it crash during playback, at the end of a video, etc ?

[2018-10-24 15:54] LvanProosdij opened #579 "Crash : ScreenSaverEngine - Illegal instruction: 4"
Aerial 1.4.3, macOS 10.14, iMac 16 GB, single monitor setup.

Was not preview, crashed during screensaver playback.

You will find Aerial log + crashlog
avInit1 started at 19:23:01 ended at 21:03:50
crashlog time is 21:03:50.699

[code]
---------
[code]

[2018-10-24 15:56] LvanProosdij commented on #578
I updated my post with more details :

Aerial 1.4.3, macOS 10.14, iMac 16 GB, single monitor setup.

Was not preview, crashed during screensaver playback.

You will find Aerial log + crashlog
avInit1 started at 16:55:39 ended at 17:04:17
crashlog time is 17:04:18.271

[2018-10-24 16:01] glouel commented on #578
Ok thanks. It just played one video and crashed I think. I'll have a look.

[2018-10-24 17:06] glouel commented on #578
So this one I kinda got, although it's still weird. Your other crash may be linked but hard to tell.

If you feel like testing, give this build a shot :
https://github.com/glouel/Aerial/releases/download/v1.4.4test1/Aerial.saver.zip

[2018-10-24 18:02] LvanProosdij commented on #578
Will test tonight

[2018-10-24 19:00] LvanProosdij commented on #579
New crash  :
Aerial 1.4.3, macOS 10.14, iMac 16 GB, single monitor setup.
Was not preview, crashed during screensaver playback.
You will find Aerial log + crashlog
avInit1 started at 18:36:01 ended at 20:32:10
crashlog time is 20:32:10.694

[code]

--

[code]

[2018-10-24 19:10] glouel commented on #579
Interesting thanks !

Couple of questions :
- Is community descriptions checked in Text panel ?
- Did you enable translations, and if so which language ?

Both crashed at playing b8-3.mov for some reason, which is the San Francisco / Alamo Square video. I tried playing this one in a loop here just in case but nothing. That's why I'm asking about translation, could be something there.

As a workaro

[2018-10-24 19:29] LvanProosdij commented on #579
Yes community descriptions is checked in Text panel.
Yes I enabled translations, preferred language is French (my system default language).

Not yet, we first need to understand and potentially fix :-)

[2018-10-24 19:31] LvanProosdij commented on #579
Another crash (b8-3.mov involved again) :
Aerial 1.4.4test1, macOS 10.14, iMac 16 GB, single monitor setup.
Was not preview, crashed during screensaver playback.

Do you want log+crashlog ?

[2018-10-24 19:36] glouel commented on #579
Diantre !

No need just reproduced with just b8-3 selected and french, will check what I did wrong there

[2018-10-24 19:48] glouel commented on #579
Ok found it, it was a community/translation mixup. Fixed in
https://github.com/glouel/Aerial/releases/download/v1.4.4test2/Aerial.saver.zip

[2018-10-24 19:49] LvanProosdij commented on #579
Testing 

[2018-10-24 19:50] glouel commented on #569
@dVIAN13 here's the build with the new icon with rounded corners, I tried to align myself to word of the day although the other ones are slightly different.

https://github.com/glouel/Aerial/releases/download/v1.4.4test2/Aerial.saver.zip

Also couple of new featuer, manual sunset/sunrise calculation from latitude/longitude, and brightness reduction !

[2018-10-24 19:51] glouel commented on #487
So as a workaround for machines without night shift, I started adding a manual calculation from coordinates, if you want to give it a shot try
https://github.com/glouel/Aerial/releases/download/v1.4.4test2/Aerial.saver.zip

There's a new mode in "Time" panel where you can enter your coordinates and it will calculate sunrise/set automatically for you.

[2018-10-24 19:52] glouel commented on #164
Preliminary support for this in
https://github.com/glouel/Aerial/releases/download/v1.4.4test2/Aerial.saver.zip

Right now, you can set a different brightness when Aerial runs. Brightness should be restored automatically when Aerial goes away.

[2018-10-24 20:53] dVIAN13 commented on #164
@glouel this is awesome. I can confirm there are a few options not available. see screenshot. also, the asleep time does not display, and when I 'preview' the screensaver, the brightness adjusts, but then doesn't adjust back. would you like logs?

<img width="621" alt="screen shot 2018-10-24 at 1 50 21 pm" src="https://user-images.githubusercontent.com/22992333/47460724-fa0b2980-d793-11e8-850f-3ed

[2018-10-24 20:56] dVIAN13 commented on #569
corners look great! and it doesn't stick out anymore form the other savers... ;) thank you!

[2018-10-24 21:03] glouel commented on #164
So yep I temporarily disabled the other options, right now there's just the start from setting that works, I'm trying to detect when the mac is supposed to get to sleep and add a "fade" until then but not 100% there yet, will be for next version.

Regarding preview not adjusting brightness back, &à'ç&)à(ç')à(ç is all I have to say about those previews that don't work the same way as regular screen

[2018-10-24 21:05] dVIAN13 opened #580 "1.4.4test2 Coordinates"
@glouel The new location(coordinates) have leftover values(Eiffel tower?) I suggest possibly leaving them blank when moving to production build.. it's confusing as per my screenshot because of the times of sun rise/set. ;)

<img width="631" alt="screen shot 2018-10-24 at 2 00 23 pm" src="https://user-images.githubusercontent.com/22992333/47461547-e52f9580-d795-11e8-8732-f9cccc5c41f5.png">

[2018-10-24 21:11] glouel commented on #580
Haha nice catch ! Indeed that's the Eiffel Tower coordinates, those were my test coordinates, forgot to remove them as I rushed that build to fix the translation crash :) I'll leave these blank with a placeholder in next build !

[2018-10-24 22:10] dVIAN13 commented on #164
@glouel love it. your reply was priceless! thanks for your continued efforts on this.

[2018-10-24 23:49] NightRaider73 commented on #580
Maybe add a find my coordinates and I got this:
![screen shot 2018-10-24 at 4 40 59 pm](https://user-images.githubusercontent.com/44180668/47467736-ab1dbe00-d7ac-11e8-82a1-f08eab0b39e0.png)
 I just spamed it and it gave me a time it had NO numbers in it?

[2018-10-24 23:54] NightRaider73 commented on #580
And I got this to with the brightness
[Screen Recording 2018-10-24 at 4.43.55 PM.zip](https://github.com/JohnCoates/Aerial/files/2512759/Screen.Recording.2018-10-24.at.4.43.55.PM.zip)

[2018-10-24 23:56] NightRaider73 commented on #164
So true I didn't see this sorry @glouel for the other comment:(

[2018-10-25 10:08] glouel commented on #579
That should have fixed that crash but probably reintroduced a rare issue in previews, I think I figured out why, I'll keep at it and if I'm right I'll put up a beta with the fix later today.

[2018-10-25 10:12] glouel commented on #578
As I said mistakenly in the other thread :
That should have fixed that crash but probably reintroduced a rare (non crashing) issue in previews, I think I figured out why, I'll keep at it and if I'm right I'll put up a beta with the fix later today.

[2018-10-25 14:11] dubyasqrd commented on #428
Hello--

I'm still having issues with playback being choppy with or without the
clock. Running the latest version of Mojave on a Mac mini Server (Late
2012) with a Core i7 and Intel Graphics 4000/  Using 1.4.2. beta1.

Thank you - love having this available.

Wesley

On Sat, Oct 20, 2018 at 4:30 PM Guillaume Louel <notifications@github.com>
wrote:

[2018-10-25 14:17] glouel commented on #428
@dubyasqrd
First, can you try latest version ? See here :
https://github.com/glouel/Aerial/releases/download/v1.4.4test2/Aerial.saver.zip

A few issues have been fixed since that beta including that may have contributed to choppiness (especially if you streamed videos).

Then, if it's still choppy, will need more details:
- Is it always choppy from the start or just gets choppy at some point ?
- A

[2018-10-25 16:28] glouel commented on #569
Closing this with https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta1/Aerial.saver.zip

[2018-10-25 16:28] #569 closed

[2018-10-25 16:28] glouel commented on #522
Closing this with
https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta1/Aerial.saver.zip

[2018-10-25 16:28] #522 closed

[2018-10-25 16:29] glouel commented on #578
Found the core reason as I said for this bug, tested it all day, all good now. Fix is in public beta here :

https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta1/Aerial.saver.zip

Feel free to reopen if you still experience an issue

[2018-10-25 16:29] #578 closed

[2018-10-25 16:30] glouel commented on #579
Closing as fixed in 1.4.4b1
https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta1/Aerial.saver.zip

[2018-10-25 16:30] #579 closed

[2018-10-25 16:32] glouel commented on #164
@dVIAN13 should have fixed the very lovely preview mode :)

Added the fade option, it will fade from one to the other in X minutes (in 10 intermediate steps), and some cool preview for the brightness.

[2018-10-25 16:47] dVIAN13 commented on #164
@glouel I like the preview! except the lowest value! hahaha. (black screen) I would think there may need to be a min value, like 1, instead of 0(zero) ? just my opinion, as to not freak someone out. even though it reverts after you release the slider... I'm fine with it either way..

can confirm 'preview' works correctly with values.. Thanks!

[2018-10-25 16:50] glouel commented on #164
Hehe :) I thought about setting a minimum but on my iMac 0 is not full black, you can definitely still see a bit.

I think it's ok as as soon as you lift your mouse it goes back but yeah, maybe a minimum.

[2018-10-25 17:01] dVIAN13 commented on #580
@glouel sorry to re-open this..

I wanted to get your opinion.. Apparently(if you didn't notice), when you enter your own lat/long, say from opening the 'Maps' app, the sun rise/set is different than what apple is reporting for night-shift.. any thoughts on helping make them the same values, or another option would be to not display the night shift option if it's not available or disabled..?

Seco

[2018-10-25 17:19] glouel commented on #580
No worries !

- I think they use a slightly different calculation, not a coordinates issues, that may differ a bit. I use this to calculate https://github.com/ceek/solar

Here, I get about a +/- 7 min difference with night shift indeed, using the "official" calculation mode. There are several ways to calculate (I was pondering adding them), but Apple is a bit between official and "civil" calculati

[2018-10-25 20:17] NightRaider73 commented on #555
@glouel Do you think you could get this feature to work?
Maybe by making a different `.json` for each speed

[2018-10-25 22:12] StrangePC opened #583 "Feature request: Being able to put the text anywhere"
can we please be able to move the text around instead of only being able to put it in a corner.

[2018-10-25 22:12] NightRaider73 commented on #583
@glouel Might be able to help you

[2018-10-25 22:19] NightRaider73 commented on #569
I am still getting a blurry picture on my 2015 MacBook Air:
![screen shot 2018-10-25 at 3 18 56 pm](https://user-images.githubusercontent.com/44180668/47533630-5429ee80-d869-11e8-811b-e977530a182b.png)

[2018-10-25 22:23] NightRaider73 opened #584 "Super Blurry Thumb Nail"
@gIouel I am still getting a blurry picture on my 2015 MacBook Air:
![screen shot 2018-10-25 at 3 24 59 pm](https://user-images.githubusercontent.com/44180668/47533854-2e511980-d86a-11e8-85c2-73fa9ab58a7a.png)

Is there any way you could sharpen the picture or compress it differently?

[2018-10-25 22:30] glouel commented on #584
There's no need to reopen a new issue, I get notifications for messages on closed issues and reply there. And no I can't do better than that, I suggest you read the other thread.

[2018-10-25 22:30] #584 closed

[2018-10-25 22:31] glouel commented on #583
@StrangePC Define anywhere ? As of right now you can use random corner if you don't want it to stick always at the same place.

[2018-10-25 22:32] glouel commented on #555
Possibly, that's very low priority though, I don't really see the need for it.

[2018-10-25 22:33] StrangePC commented on #583
I mean like say in the middle or anywhere. I want to make it look as much as the Apple TV as possible and currently the text is too far in the corner

[2018-10-25 22:35] NightRaider73 commented on #583
Maybe an option where it lets you drag "text" any where on a little box. Maybe?

[2018-10-25 22:36] glouel commented on #583
@StrangePC As far as I know it's in the left bottom corner on Apple TV ?

[2018-10-25 22:37] StrangePC commented on #583
yes, but not that far down @glouel

[2018-10-25 22:37] NightRaider73 commented on #583
And the text is a tad bit smaller.  I think

[2018-10-25 22:38] StrangePC commented on #583
<img width="1440" alt="screen shot 2018-10-26 at 9 37 29 am" src="https://user-images.githubusercontent.com/44482890/47534370-d2869f00-d902-11e8-8bd2-711a232a485a.png">

[2018-10-25 22:39] StrangePC commented on #583
<img width="1440" alt="screen shot 2018-10-26 at 9 38 39 am" src="https://user-images.githubusercontent.com/44482890/47534403-f518b800-d902-11e8-9de9-9338ac92ba56.png">

[2018-10-25 22:39] StrangePC commented on #583
<img width="1440" alt="screen shot 2018-10-26 at 9 39 33 am" src="https://user-images.githubusercontent.com/44482890/47534433-14174a00-d903-11e8-8806-73b0810ac795.png">

[2018-10-25 22:40] StrangePC commented on #583
see the difference @glouel

[2018-10-25 22:43] glouel commented on #583
I do, but we don't aim to copy *exactly* everything Apple does. They may, and rightly so, take offense to it. We're quite happy that they haven't so far.

Adding a custom fixed position could be done, I'll put it in the list of future features to be looked at.

[2018-10-25 22:44] StrangePC commented on #583
ok thanks

[2018-10-25 23:08] NightRaider73 commented on #583
@StrangePC Apple could easily just block all the links to devices not running a piece of hardware that is only found in Apple TVs

[2018-10-26 06:52] LvanProosdij commented on #555
Videos are slow motion, it can be cool to see them accelerated to normal motion or fun at faster speed.
But low priority indeed.

[2018-10-26 06:59] LvanProosdij commented on #583
We have fewer risks of Apple blocking Aerial if it is beautifully executed, respecting Apple look and feel, contributing to "create value", which is what Aerial does.

[2018-10-26 08:54] glouel commented on #583
Trying not to break everything, one "easy" option would be to allow to change the margin relative to the corner, this way it doesn't break the rest of the features. I'll keep thinking about it.

[2018-10-26 11:13] glouel commented on #580
@dVIAN13 so according to these guys : https://www.timeanddate.com

The "official" mode that the library I used give are the "correct" times (modulo a few seconds). The library uses 90.83 degrees to calculate that value (per
https://www.timeanddate.com/astronomy/different-types-twilight.html). If I use 90°, I get pretty much exactly the values from night shift, so it looks like Apple rounded that v

[2018-10-26 14:46] glouel opened #586 "Focus issue on version prior to Mojave ?"
I've seen a weird bug on my old Macbook Air that's stuck on 10.13.6. When you open Aerial preferences, the preferences sheet doesn't have focus. The biggest hint is that the tab bar is grey instead of blue (in focus) :

![bug](https://user-images.githubusercontent.com/37544189/47573866-a0932e00-d93e-11e8-959a-a70bc25ec4e4.png)

This used to be of little impact in older versions, but with more rece

[2018-10-26 16:00] glouel commented on #583
@StrangePC

Added the option to change the margin in beta2. Also change the default to 50/50px instead of 10/10.

https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta2/Aerial.saver.zip

[2018-10-26 16:00] glouel commented on #580
beta 2 :

https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta2/Aerial.saver.zip

[2018-10-26 16:01] glouel commented on #164
I've added the night mode only and on battery only to this. It looks pretty stable (maybe not battery status detection though)

[2018-10-26 16:11] dVIAN13 commented on #580
Thanks @glouel. you're work and continued pursuit to improve this app is GREATLY appreciated.

[2018-10-26 16:17] dVIAN13 commented on #164
@glouel should I still be receiving errors when dragging the sliders? (see screenshots) this is on both internal only display, and when external displays are connected.

<img width="620" alt="screen shot 2018-10-26 at 9 16 17 am" src="https://user-images.githubusercontent.com/22992333/47579091-eed50c80-d8ff-11e8-86bc-cc42718a7993.png">

<img width="396" alt="screen shot 2018-10-26 at 9 16 28 am" s

[2018-10-26 16:19] glouel commented on #164
Oh that's interesting. Are you using a mouse or a trackpad ? Left clicking ? This was more of a warning for me, but kinda curious on how you generated it.

[2018-10-26 16:33] dVIAN13 commented on #164
got it. thanks!

[2018-10-26 17:27] NightRaider73 opened #589 "Gray out the Brightness options when the Master setting is not chosen"
![screen shot 2018-10-26 at 10 26 09 am](https://user-images.githubusercontent.com/44180668/47582575-9145bd80-d909-11e8-922d-39663ac862af.png)
As you can see up above I can still click all the options that you don't really need access to like down below:
![screen shot 2018-10-26 at 10 27 08 am](https://user-images.githubusercontent.com/44180668/47582618-b4706d00-d909-11e8-9415-41a1fa2d0e7b.png)
No

[2018-10-26 17:34] NightRaider73 commented on #589
@glouel See what I mean?

[2018-10-26 17:35] NightRaider73 commented on #589
Oh and by the way @glouel You are doing amazing, amazing, amazing, amazing, work

[2018-10-26 17:51] glouel commented on #589
Yep, I do, will put that in next thanks !

[2018-10-26 17:52] glouel commented on #586
Interesting, hopefully we'll get more data on this !

[2018-10-26 18:21] NightRaider73 commented on #586
Yes I don't know why it works that way🤨

[2018-10-26 18:27] NightRaider73 opened #590 "The amount of downloads link is broken"
https://github.com/JohnCoates/Aerial/blob/master

[2018-10-26 18:34] NightRaider73 commented on #589
Also when you delete your coordinates it doesn't recalculate them for you, maybe add a recalculate  coordinates option.

[2018-10-26 18:38] NightRaider73 commented on #589
@glouel With the v.1.4.4 release maybe update the screenshots because there is SO much more options now

[2018-10-26 19:37] NightRaider73 commented on #583
Lets give a cheer for @glouel

[2018-10-26 19:41] NightRaider73 commented on #479
@glouel I know you saw this but, In #21 apparently you used to use the arrow keys to control video.
Is there anyway that you could contact JohnCoates to ask him how he did that then rewrite the functions differently?

[2018-10-26 22:29] SeanMSmith commented on #547
I would much rather look at a flyby of the Eiffel Tower, or just about anything else, than a close-up flyover of a Los Angeles freeway!

Guillaume, I would still suggest changing the name "Harbor Freeway (Interstate 110)" to "Harbor Freeway". (The former is too long, "Harbor Freeway" is more descriptive than only "Interstate 110", and it's identified as "Interstate 110" in both Apple's description

[2018-10-26 22:42] SeanMSmith commented on #547
Would it be possible to italicize the names of the ships in the community descriptions for Fisherman's Wharf and the three River Thames videos? That is the usual style in English.

So HMS _Belfast_, SS _Jeremiah O’Brien_, and USS _Pampanito_. (Note that the "HMS", "SS", and "USS" are _not_ italicized.)

[2018-10-26 22:59] glouel commented on #547
Ok !

Ok. Are you familiar with JSON by any chance ? I've put all your text in this file that you can edit if you want. I'll modify those but if you are confortable enough to do it, you can then modify it yourself easily. Let me know if you want help figuring how to.

https://github.com/glouel/Aerial/blob/feature/v1.4.2/Aerial/Resources/Community/en.json

Definitely possible, but will need a bit o

[2018-10-26 23:12] SeanMSmith commented on #547
Looks straightforward enough, but how do I actually edit the file? Do I need to fork it first?

[2018-10-26 23:20] glouel commented on #547
Yep ! Go to this page : https://github.com/JohnCoates/Aerial/

Press fork (top right) to create your own fork (copy) of the repository. Then inside that repository (should probably be something like https://github.com/SeanMSmith/Aerial/) browse to Aerial/Resources/Community/en.json

Then you can edit the file. When your changes are done, it will probably suggest you to make a pull request in yello

[2018-10-26 23:28] SeanMSmith commented on #547
With "Use community information when available" unchecked, the two San Francisco videos with confused descriptions are still confused.

"Presidio to Golden Gate" is still using the wrong set of Apple descriptions, and "Marin to Golden Gate" (or "Marin Headlands in Fog") is still using northbound descriptions for a southbound video.

(When using community information, both videos now have correct d

[2018-10-26 23:30] glouel commented on #547
Oops probably forgot those sorry, I have to edit those in code so will take care of that tomorrow.

[2018-10-26 23:54] SeanMSmith commented on #547
Thanks for the tip; this should should be much efficient!

[2018-10-26 23:59] glouel commented on #547
Awesome ! So as you've probably seen, it makes a pull request here : https://github.com/JohnCoates/Aerial/pull/591

I just merge it, so now your changes appear directly here : https://github.com/JohnCoates/Aerial/blob/master/Aerial/Resources/Community/en.json

They will be picked up automatically in next release this way, makes it easier for me too :) Thanks !

[2018-10-27 00:04] SeanMSmith commented on #164
Might I suggest coloring "this may crash, you are warned!" in **red**, so as to grab the user's attention?

[2018-10-27 00:09] dVIAN13 commented on #164
is the goal to eventually not have it crash...? if that's only there because we're testing, would you remove it when it's merged with master?

[2018-10-27 00:14] glouel commented on #164
Yeah it was more of a precaution than anything, because I have to do "unsafe" things to get brightness, but it's actually very stable and should be no issue. I will remove it in 1.4.4 finale :)

If something is really wrong it probably shouldn't be in (although I had some crashes in 1.4.3 😅), this was more of a beta tester message !

[2018-10-27 11:48] glouel commented on #590
Yeah I have no idea how those work, will have a look at some point.

[2018-10-27 12:51] glouel commented on #589
The master thing is done for brightness and text. I'll look into the coordinate stuff at some point.

(and yes for screenshot @ 1.4.4 finale)

[2018-10-27 12:55] glouel commented on #164
(removed in next build)

[2018-10-27 13:02] glouel commented on #589
It does as soon as you validate the field (enter, leave, etc), I don't see the problem. If one field is empty it will prompt you to fix it.

[2018-10-27 14:28] heldausberlin opened #592 "Seconds digits are truncated"
If you use your own font for the time on both Mojave and High Sierra , the seconds digits on the edge of some videos are truncated. Completely independent of the margins to corner.

It's just the wide digits like 06, 28, 39 etc.

It is on both the MacBook Pro (2016) 13" display and the external 24" display.

<img width="228" alt="bildschirmfoto 2018-10-27 um 16 25 54" src="https://user-images.gith

[2018-10-27 14:45] glouel commented on #592
Ha yes ! Need to resize the rectangle, will see if I can fix that thanks for the report !

[2018-10-27 15:09] glouel commented on #592
Side bug, clock was also not showing if you deactivated community descriptions and picked a video where there were no apple provided descriptions.

Fixed in beta 3 :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta3/Aerial.saver.zip

[2018-10-27 15:09] #592 closed

[2018-10-27 15:09] glouel commented on #589
Fixed in beta 3

https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta3/Aerial.saver.zip

[2018-10-27 15:09] #589 closed

[2018-10-27 15:10] glouel commented on #583
Closing as fixed.

[2018-10-27 15:10] #583 closed

[2018-10-27 15:10] glouel commented on #547
beta 3 has your changes :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta3/Aerial.saver.zip

[2018-10-27 15:12] glouel commented on #164
https://github.com/JohnCoates/Aerial/releases/download/v1.4.4beta3/Aerial.saver.zip

This will probably be the last beta before 1.4.4

[2018-10-27 17:57] SeanMSmith commented on #542
I love now being able to have two-second description fades with half-second video fades: the perfect combination for my taste. Thank you!

[2018-10-27 18:37] SeanMSmith commented on #547
Could you change the name of the space video "Southern California to Baja" to "Northern California to Baja" (or let me know its ID so I can add it to the Community JSON)?

This video actually starts north of the California border (out to sea, west of the Oregon coast), and its current name is just plain wrong. (You'd think the folks at Apple would know better.)

[2018-10-27 18:48] glouel commented on #547
Done :)

https://github.com/JohnCoates/Aerial/pull/594

[2018-10-27 18:51] glouel commented on #547
in the future, if you're looking for video ids, you can have a look here :

https://github.com/JohnCoates/Aerial/blob/master/Aerial/Source/Models/AerialVideo.swift
(look for TimeInformation at the beginning)

and here : https://github.com/JohnCoates/Aerial/blob/master/Aerial/Source/Models/ManifestLoader.swift

(mergePOI)

[2018-10-27 18:54] SeanMSmith commented on #580
I love the ability to choose among Civil, Nautical, and Astronomical twilight (in addition to Strict and Official, which are so close to the Night Shift values as to make no practical difference unless you can see the horizon).

I agree with dVIAN13 that it would be useful to pre-populate the latitude and longitude fields with the values from the user's current location (either as used to calculat

[2018-10-27 19:03] glouel commented on #580
Yep it's about 7 mins diff here between official and strict,  but strict is about even to night shift, that's why I put it there.

Personally I prefer Civil so far but I think it's gonna be season dependent !

You can look here https://github.com/JohnCoates/Aerial/issues/580#issuecomment-433134834 about the difficulty to get user coordinates, in theory it's easy but bit of a mess with permissions.

[2018-10-27 19:13] SeanMSmith commented on #580
Ah, privacy, of course! Should have thought of that.  :)

[2018-10-27 21:32] NightRaider73 commented on #590
Okay thats fine I just wanted to tell you

[2018-10-27 21:35] NightRaider73 commented on #580
@glouel So does it give you the correct coordinates?
Or do you have to get them from maps?

[2018-10-28 12:48] glouel commented on #580
I don't get your question. This is a manual option for now yes, where you have to enter your coordinates yourself. It's a fallback mode for those who don't have nightshift.

Yep that's what I'm looking at. CoreLocation on MacOS is a bit weird though, we'll see where I get with this.

[2018-10-28 15:15] glouel commented on #580
@SeanMSmith & @dVIAN13

After looking for pretty much everything, and finding a way to make it work on Mojave only, it's just that using location services on MacOS **requires** that the app/plugin is signed. This isn't documented as far as I know and kept me looking everywhere (and finding that "workaround" on Mojave). So in beta 4 I've added a small button next to lat/long :

![capture d ecran 20

[2018-10-28 15:45] SeanMSmith commented on #580
I'm still on High Sierra (I have a Fusion drive that will be converted to APFS upon upgrading to Mojave, and out of an abundance of caution, I'm waiting until at least 10.14.1), so  I won't be able to test that.

[2018-10-28 15:46] glouel commented on #580
@SeanMSmith I probably wasn't clear, but with a signed build this should work on anything > 10.6.

[2018-10-28 19:09] oddharsh opened #595 "Feature Request: Keep clock but hide descriptions"
An option to always have the clock be displayed but have the descriptions hide (basically separating the two in terms of when they show up) would be super cool.

[2018-10-28 19:19] LvanProosdij commented on #595
You can check the clock option in macOS Screensaver to get a clock all time

[2018-10-28 19:20] dVIAN13 commented on #595
I believe this idea has been proposed before, and the decision was made to not include it because of ‘burn-in’ potential.

[2018-10-28 19:35] NightRaider73 commented on #580
Yep works fine nice addition

[2018-10-28 20:12] NightRaider73 commented on #580
I like it better to

[2018-10-28 22:39] glouel commented on #580
Will fix tomorrow thanks!

[2018-10-29 11:01] glouel commented on #595
Yeah sorry @oddharsh, if you only want the clock there's one built in with macOS that you can enable in the main pane.

Aerial's clock was implemented to have a clock that doesn't interfere with the descriptions (as MacOS's clock did). Clock and descriptions are tied down in the way they appear and it would be pretty hard to decouple them.

[2018-10-29 11:17] glouel commented on #580
Good ! Core Location gets pretty close usually, it's really good.

Is that the default apostrophe on QWERTY keyboard ?

Ok.

Added as is, thanks ! I also moved up coordinate mode on top of the panel as the preferred method.

[2018-10-29 11:18] #595 closed

[2018-10-29 12:33] glouel commented on #580
(sorry for the spam, using this for the new screenshots)

![screen shot 2018-10-29 at 13 17 23](https://user-images.githubusercontent.com/37544189/47649971-1f76a980-db7f-11e8-97be-d1f90b943c9d.png)
![screen shot 2018-10-29 at 13 21 05](https://user-images.githubusercontent.com/37544189/47649972-1f76a980-db7f-11e8-910b-1d5d50931ae2.png)
![screen shot 2018-10-29 at 13 24 36](https://user-images.gith

[2018-10-29 12:47] glouel commented on #590
afaik this is how it works, so closing this.

[2018-10-29 12:47] #590 closed

[2018-10-29 12:48] #580 closed

[2018-10-29 12:49] glouel commented on #487
@andsoitgoes Give 1.4.4 a try, final build was posted with a proper fallback for machines that don't handle night shift.

[2018-10-29 12:49] #487 closed

[2018-10-29 12:49] glouel commented on #164
Implemented in 1.4.4

[2018-10-29 12:49] #164 closed

[2018-10-29 13:07] glouel commented on #527
@travi I really need to fix my setup but if I can bother you again for 1.4.4 ? Thanks !

[2018-10-29 15:16] dVIAN13 commented on #164
@glouel , just confirming that the warning message above still exists in 1.4.4 final(for me at least).

[2018-10-29 15:23] glouel commented on #164
Bah, I only removed in from the top one, not the bottom one 😅

Will be fixed in next version thanks :)

[2018-10-29 15:27] dVIAN13 commented on #164
haha, no problem! glad to help.

[2018-10-29 16:32] glouel commented on #527
No worries, many many thanks !

[2018-10-29 16:42] #527 closed

[2018-10-29 16:49] NightRaider73 opened #597 "Suggestion: Switch the "Brightness" and "Cache" tabs"

[2018-10-29 16:50] NightRaider73 commented on #597
I think it makes sense because the Cache is more like an advanced feature, but the brightness is something people would use more

[2018-10-29 16:54] glouel commented on #597
Agreed, will move that for next version

[2018-10-29 18:13] jakecovert opened #598 "Brightness settings only work on primary display"
Hello. I have two external monitors connected.  One via Thunderbolt 2, and one via HDMI.  (2015-era MacBook Pro running latest Mojave).

When I use the dimming, fade to black option, it only works on the main display.

LOVE the work.  Great job!

[2018-10-29 18:34] jakecovert commented on #598
Correct. Only the physical laptop screen dims.  :-)

[2018-10-29 18:54] glouel commented on #598
Ok thanks, just to confirm too, if you use the brightness keys on your Macbook, do all of the screens dim ?

Here with DVI over DP, external screens don't change brightness either for example. I'm not sure every monitor can have it's brightness control over every interface, will look more into it.

[2018-10-29 19:07] jakecovert commented on #598
Ah.. this makes sense.  Using the brightness button on my laptop does only change the actual laptop display.  So, if you're using that methodology, I'd understand why that doesn't work.

[2018-10-29 19:19] glouel commented on #598
Yeah we use macOS' system brightness controls, so if they don't work with your monitors, Aerial won't be able to do more.

As far as I know, you could control external Apple monitors too, but probably not other brands through those system settings. It may depend on the interface used too (maybe the LG 5K monitor supports this ?)

[2018-10-29 19:51] dVIAN13 opened #599 "Featured on 9to5mac!!"
@glouel, again, Great work on this!!!

https://9to5mac.com/2018/10/29/apple-tv-screensavers-to-mac/

[2018-10-29 20:05] cwoloszynski opened #600 "'Tearing' of the screen after a couple of seconds of video"
#### General troubleshooting tips

Before logging an issue please check that:
- [x] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-10-29 20:11] glouel commented on #600
Can you make a picture or a screenshot of the bug ? There are some known drivers issues on High Sierra. One thing that seemed to help most users was enabling the clock on this pane :

![screen shot 2018-10-29 at 13 17 23](https://user-images.githubusercontent.com/37544189/47677201-c3337a00-dbbe-11e8-9c8b-1ed3becd1169.png)

Check the "Show this clock" at the bottom of the screen and let me know if

[2018-10-29 20:12] glouel commented on #599
I did send them an email earlier today, and they were kind enough to write about the project, pretty cool feature too ;)

[2018-10-29 20:24] jay-hankins commented on #599
Great work on all the improvements with this @glouel. Seeing the new 4K screensavers always brightens my day! 😄🌻

[2018-10-29 20:48] glouel commented on #600
@cwoloszynski I made a quick build with a small grey dot at the bottom left corner of the screen, maybe that will fix your issue, please try this build :
https://github.com/glouel/Aerial/releases/download/v1.4.5test1/Aerial.saver.zip

If it does fix your issue, maybe I can make the dot smaller/fainter (and will make it optional of course as it seems to be a 2017 MBP on High Sierra only thing).

[2018-10-29 21:17] SeanMSmith commented on #580
The default apostrophe on a QWERTY keyboard is “ ' ”, what is sometimes called a “typewriter apostrophe.”

See https://en.wikipedia.org/wiki/Apostrophe#Typographic_form and the following two sections, in particular https://en.wikipedia.org/wiki/Apostrophe#Entering_apostrophes.

On a Mac, pressing Option-Shift-] is the easiest way to type a proper “typographic apostrophe” (if your word processor do

[2018-10-29 21:22] NightRaider73 commented on #597
@glouel Is this were you live?🤣🤣🤣🤣
Or is it Eiffel Tower coordinates again?🤣🤣🤣
![screen shot 2018-10-29 at 2 20 19 pm](https://user-images.githubusercontent.com/44180668/47681123-e68e0300-db85-11e8-8fe3-e94b75a9a7e7.png)

[2018-10-29 21:28] NightRaider73 commented on #600
@glouel When did you start signing TEST BUILDS?

[2018-10-29 21:29] glouel commented on #580
Ha, didn't know about the history of it, the ink saving thing, kinda crazy come to think of it that it never changed !

In programming ' is also very much used which probably explains why it never went to be the default apostrophe.

Yep, I knew Pages do that (and Word on Windows)

Hehe, well it's fixed now ;) Interestingly it seems macOS UI (in french at least) uses the typographic apostrophes too

[2018-10-29 21:30] glouel commented on #600
@NightRaider73 this is the first one, but probably will sign everything from now on. If I don't sign the build, the location detection (from the other thread) will silently fail.

[2018-10-29 21:31] NightRaider73 commented on #600
Okay I really like it. Its easier to use

[2018-10-29 21:34] NightRaider73 commented on #597
![screen shot 2018-10-29 at 2 33 01 pm](https://user-images.githubusercontent.com/44180668/47681751-957f0e80-db87-11e8-834b-1e2f1df6e62b.png)
![screen shot 2018-10-29 at 2 32 45 pm](https://user-images.githubusercontent.com/44180668/47681753-957f0e80-db87-11e8-91cf-2e1e7eeae863.png)
![screen shot 2018-10-29 at 2 32 09 pm](https://user-images.githubusercontent.com/44180668/47681755-9617a500-db87-11

[2018-10-29 21:36] glouel commented on #597
Haha yeah I put those in the screenshot to avoid showing my location ;)

Noted on those, will look at that tomorrow thanks !

[2018-10-29 21:46] NightRaider73 commented on #597
@glouel I sent JohnCoates a email like five days ago and he didn't reply yet.  Would you be able to reach out to him?

[2018-10-29 21:47] glouel commented on #597
I did earlier today, I'll let you know if he responds. Took him a while the first time too so hang in there ;)

[2018-10-29 21:48] NightRaider73 commented on #597
Thank you now get some rest:)

[2018-10-29 21:53] NightRaider73 opened #601 "Sheik Zayed Road Dubai fix"
As you know the Dubai road day says: Traveling above the  Sheik Zayed Road Dubai
But the night video just says:  Sheik Zayed Road

[2018-10-29 21:54] NightRaider73 commented on #601
I looked in the community Json but I didn't want to mess anything up:)

[2018-10-29 21:54] NightRaider73 commented on #601
Also @glouel You can do that with all the other ones that work that way:)

[2018-10-29 22:10] StrangePC opened #602 "Time the text stays on the screen for"
I would like the option to set a custom amount of time the text stays on the screen for, not just 10 seconds or always

[2018-10-29 23:38] NightRaider73 commented on #602
Also @glouel Any way to change it from 60 mins to 1 hour?
![screen shot 2018-10-29 at 4 37 18 pm](https://user-images.githubusercontent.com/44180668/47686551-03800180-db99-11e8-8b87-e7eaa977dfcb.png)
In Brightness

[2018-10-30 10:57] thomasche opened #606 "Can not type in fields"
#### General troubleshooting tips

Before logging an issue please check that:
- [x] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-10-30 11:15] glouel commented on #606
Hi @thomasche, this seems to happen for some (maybe all ? unsure) users of high sierra, I did notice it myself and asked around about it here :
https://github.com/JohnCoates/Aerial/issues/586

I'll try to get some more feedback as I'm not sure it's a bug for everyone on 10.13.6 (it's definitely not happening on Mojave). For some reason it lookds like we don't have focus, which makes the textfields

[2018-10-30 11:18] glouel commented on #580
@SeanMSmith Can you please take a second and tell me if you have this bug on High Sierra too ? See here : https://github.com/JohnCoates/Aerial/issues/586

Many thanks !

[2018-10-30 12:00] glouel commented on #602
Let me guess, you want a 5 second option that would look like what's on AppleTV ? 😅

I can see adding a 5 second option. Custom, I'm uneasy about because of the way descriptions work. A video may have several descriptions, spaced by as little as 10 or 15 seconds. That's why I use 10. Adding a custom option where you could set 30 would make little sense as it wouldn't be enforced most of the time.

[2018-10-30 12:06] glouel commented on #601
(please see my reply here too : https://github.com/JohnCoates/Aerial/issues/602#issuecomment-434273341)

So yep, Aerial does by default :
- show community descriptions
- show apple descriptions
- show the video name

In that case there's neither a community description nor a Apple description (there are very few of these AFAIR). I'll add one for this one thanks.

[2018-10-30 12:52] glouel commented on #598
@jakecovert , I have added a description of how the brightness dimming works in the readme. I'll keep in mind if I can do something else about this at some point, but macOS doesn't seem to help a lot on this. Thanks !

[2018-10-30 12:52] #598 closed

[2018-10-30 13:37] gronkster commented on #600
I had this exact same issue on a 2017 MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports) running 10.13.6. Both "Show with Clock" and the quick build solved the issue.

[2018-10-30 13:42] glouel commented on #600
@gronkster oh thanks for checking my quick build ! Would you be willing to test another one where I try to make the small dot fainter ?

[2018-10-30 13:54] gronkster commented on #600
Sure, I’d be happy to.

[2018-10-30 13:56] glouel commented on #600
@gronkster awesome, this bug has been puzzling me for weeks, cool to see this workaround actually works !

Here it is :
https://github.com/glouel/Aerial/releases/download/v1.4.5beta1/Aerial.saver.zip

The . should no longer be visible, hopefully it will still do the trick !

[2018-10-30 18:11] gronkster commented on #600
Hmm...about 25% of the time with the new build I just get a black screen. Not sure if it's because of a different issue, I will revert to the previous build, test some more, and let you know.

[2018-10-30 18:12] glouel commented on #600
Ha, that's quite possible, let me know thanks ! Maybe because the dot is barely visible, it gets optimized out some of the time and it no longer works.

[2018-10-30 18:55] SeanMSmith commented on #586
I too am seeing this problem on my iMac17,1 (Retina 5K, 27-inch, Late 2015) in macOS 10.13.6.

[2018-10-30 19:15] glouel commented on #586
Thanks for confirmation. Been trying to look onto that one all day with no success so far.

[2018-10-30 19:55] pws442 opened #608 "Cannot select Done from the Screen Saver Options for Aerial in System Preferences"
MacBook Pro (15-inch, Late 2016)
Mojave 10.14.1
Local display

Cannot select Done from the Screen Saver Options for Aerial. This was before the 10.14.1 Mojave update. Must Force Quite System Preferences.

I have the savers cached.

[2018-10-30 20:09] glouel commented on #608
@pws442 was it just after install ? Did you restart the System Preferences panel after install (as suggested) ?

Which version of Aerial are you using ? Pretty sure I fixed this in 1.4 on Mojave.

[2018-10-30 21:06] eozh opened #609 "possible copy-paste error in AerialView"
I noticed that in the current source in AerialView.setupPlayerLayer, the following line appears 3 times:
`textLayer.shadowColor = CGColor.black`
It probably should be clockLayer and messageLayer in 2nd and 3rd instances.

[2018-10-30 21:18] glouel commented on #609
I confirm ! Thanks will be fixed in next build !

[2018-10-30 22:01] pws442 commented on #608
Nah, I am an idiot. I downloaded all that Bask stuff, and tried to upgrade my older version, I guess (don’t know how to show the version), and it still had only the two buttons on the Options in Screen Saver. Finally, I renamed/deleted everything, and clicked the download link for the Mac, and LIFE IS GOOD AGAIN!

Wonderful screen saver. Looking forward to the other options that this has.

Paul W

[2018-10-30 22:03] glouel commented on #608
No problem, enjoy !

[2018-10-30 22:03] #608 closed

[2018-10-30 23:57] ccharlton commented on #194
+1

[2018-10-31 00:01] ccharlton opened #610 "Feature Request: Mojave live desktop support"
Can these videos be used for Mojave's new live desktop (day/night) feature?

[2018-10-31 00:02] ccharlton commented on #599
Saw this too! Mad props!!!!!!!!!

[2018-10-31 00:02] ccharlton commented on #555
+1

[2018-10-31 10:52] glouel commented on #610
Hi @ccharlton

Live desktop is just a series of still pictures, maybe a dozen but can be more, that change throughout the day. So there's not much in common in practice. We do support showing day/night videos based on time (see the Time tab) but we can't force Aerial on the desktop for now.

In previous versions of macOS, you could actually run your screensaver as a desktop picture, (see here http

[2018-10-31 12:38] PencilNotPen opened #611 "Two feature requests"
1) Ability to play 4K HEVC (both streamed and cached) only when connected to power/charging. Perfect for pre-hardware-HEVC models who want 4K screensavers (Retina display is more than 1080p) when they're charging, but don't want their laptop to die from 4K decoding when running on battery power. With this setting, Aerial would cycle through all screensavers, both 4K and 1080p, when charging, but c

[2018-10-31 13:07] glouel commented on #610
So I looked a bit more into it, it looks like in recent versions of macOS, you can no longer put a window at wallpaper level (behind the desktop icons) but you can still have somthing that's "on top" of the wallpaper/desktop icons but behind everything else (dock, menus, all windows)

I'm considering looking at this further, but would probably release this as a separate app if there's interest.

[2018-10-31 13:17] glouel commented on #611
Hi @PencilNotPen

- Add the ability to have a separate video format on battery : Should be doable, I'll look into it for 1.4.5.

- Have dark mode independent of time calculations/override : I'm unsure of how to implement that UI wise. I agree that dark mode is a bit different than the other time modes and could be cumulated, but it was quite convenient to put everything at the same level !

Maybe

[2018-10-31 18:04] nnichols14 opened #612 "I have the latest version of Mojave and when dropping the Aerial Savers file into my screensaver folder I receive an error message. It says I cannot use Aerial with this version of OS. I know that was reported before and resolved but could you take another look."
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-10-31 18:21] glouel commented on #612
@nnichols14  Which folder ? And when do you see the message ?

Did you try this as written in the troubleshooting section :

[2018-10-31 19:12] glouel commented on #611
@PencilNotPen check
https://github.com/JohnCoates/Aerial/releases/download/v1.4.5beta2/Aerial.saver.zip

I also added a power saving mode (fully dim brightness + black screen) on battery/low battery.

[2018-10-31 19:14] glouel commented on #606
As a workaround to this bug, starting with 1.4.5 beta 2, I provide an additional download, AerialConfig.app. This app is a standalone version of the Aerial configuration pane that you see in System Preferences. You can use this standalone App to configure Aerial instead of the System Preferences panel if you have issues with it.

The file is AerialConfig.app.zip, you'll need to install the same ve

[2018-10-31 19:15] glouel commented on #586
Please see here for the workaround : https://github.com/JohnCoates/Aerial/issues/606#issuecomment-434813082

[2018-10-31 19:15] #586 closed

[2018-10-31 19:33] 28grahams opened #614 "'Screen Saver Options' in Preferences won't close while running Mojave"
Macbook Pro Retina 15in, Mid 2015 running Mojave

The 'Done' button is broken in 'Screen Saver Options' in System Preferences and I perpetually can't close the options or system preferences.

[2018-10-31 20:08] glouel commented on #614
@28grahams
Please make sure you have installed the latest version, this bug has been fixed in 1.4.

Here's version 1.4.4 : https://github.com/JohnCoates/Aerial/releases/download/v1.4.4/Aerial.saver.zip

[2018-10-31 20:08] dVIAN13 opened #615 "Feature Request: Popup on unsupported/buggy OS detected"
@glouel wanted to know yours/community thoughts on adding a pop-up or some kind of notification for OS versions that are either not supported or partially supported?

This could be during installation or when they launch the options? I think this would cut down on new issues being created, especially when someone doesn't read the readme or issues list and makes a new post? just a suggestion. verbi

[2018-10-31 20:16] glouel commented on #615
Pretty good idea especially with the new AerialConfig.app I introduced in 1.4.5 beta2 !

I can't do it at installation (I can't do anything at installation !) but I can at first launch indeed ! Thanks for the idea !

[2018-10-31 20:19] glouel commented on #602
@StrangePC ?

[2018-10-31 20:29] gronkster commented on #600
Works better, no black screens so far and I can't see the dot at all. Thanks for the hard work!

[2018-10-31 20:31] glouel commented on #600
@gronkster thanks for checking so quickly ! There's also now a standalone AerialConfig.app for the other High Sierra issue (textfields).

[2018-10-31 20:47] glouel commented on #615
@dVIAN13 I thought I could simply pop a dialog box but those don't really exist on macos, we are already the equivalent of a dialog box (a modal sheet). So right now, maybe adding an extra tab to the panel on those older versions of macOS with a checkbox "I understand" and until you checked that, when you open preferences it will show that pane ?

Maybe it's a bit forceful but I was very reluctant

[2018-10-31 20:58] 28grahams commented on #614
Oops sorry!

[2018-10-31 20:58] #614 closed

[2018-10-31 21:05] dVIAN13 commented on #615
@glouel thanks! I see the issues come in too and yeah, I completely agree.. I like the checkbox on a tab.. are you able to dynamically add a tab based on OS version? I don't think the tab with agreeable terms should be the default for users on a supported version.

[2018-10-31 21:16] glouel commented on #615
@dVIAN13 yep that's the goal, only show to people on < mojave, and only until they click the checkbox (I won't show it on upgrade, etc). I think I'll add a direct link to the config app download in the Advanced tab too.

I'll remove the tab for mojave and once they click. Here's what I got so far :

<img width="743" alt="capture d ecran 2018-10-31 a 22 12 53" src="https://user-images.githubusercon

[2018-10-31 21:22] dVIAN13 commented on #615
@glouel I like the text, but I would defer to @SeanMSmith to validate it. :) or if someone else wants to offer suggestions.

Again, great work, and SUPER fast turn around. We all appreciate the continued work to improve this project.

[2018-10-31 21:28] glouel commented on #615
Is the build not signed ? I was pretty sure I did ?

[2018-10-31 21:29] dVIAN13 commented on #615
when I tried to open app, it had the right-click and open

[2018-10-31 21:40] glouel commented on #615
I can confirm redownloading the app. Weird thing is, it shows as signed ! I'll look into it tommorrow, must be something I missed regarding signing, maybe needs an entitlement or something, bah !

[2018-10-31 22:01] dVIAN13 commented on #615
no worries! thanks.

[2018-11-01 01:44] esetnik commented on #615
Is there no way to make it possible to type into textfields inside a screensaver preference pane on HS? If a particular feature only works on Mojave I'd suggest purely disabling the feature (with a notice) instead of having the user download a separate configuration app. Especially since it's only affecting the custom coordinates feature (which is relatively niche) and not core functionality.

[2018-11-01 01:50] esetnik commented on #611
It'd also be nice to fallback to still images which fade on battery. I think it'd be a good option to provide for people that don't want to consume any extra power while on battery. I actually turned off Aerial on my laptop because it was killing my battery whenever I left it open. We could probably render out a few stills from each video after they are cached and then use those cached stills as a

[2018-11-01 08:03] diba320 commented on #612
Same for me, troubleshooting no solution. Last version of OSMojave

[2018-11-01 09:18] glouel commented on #612
Did you try this with latest version ? @diba320

"You cannot use the Aerial screen saver with this version of macOS." error: Select Aerial, close System Preferences with Aerial still selected, re-open System Preferences and Aerial should now work. This is a known bug with Swift screensavers in macOS/OS X reported to Apple as rdar://25569037.

This works on Mojave.

[2018-11-01 10:33] glouel commented on #612
@diba320 Please try to provide the following information so I can help you figure this out :

- Can you clarify that you see this error instead of the preview video in this screenshot ? Or do you see it somewhere else ?

![screen shot 2018-10-29 at 13 17 23](https://user-images.githubusercontent.com/37544189/47649971-1f76a980-db7f-11e8-97be-d1f90b943c9d.png)

This is where you should select Aerial

[2018-11-01 10:46] glouel commented on #606
(I'm trying an alternative method that may remove the need for this, we'll see)

[2018-11-01 11:04] diba320 commented on #612
Great support!

I see even in the preview pane the error message with black background. The „Aerial“ icon has no preview look as well.
I installed the unzipped file in the respective folder, all users.

Mit freundlichem Gruß

Dietmar Barro

[2018-11-01 11:11] glouel commented on #612
@diba320
Can you try this :
- close System Preferences
- uninstall from /Library/Screen Savers (just remove the Aerial.saver file, if it's not there, look in your user folder, see my previous message)
- instead of copying, unzip in your download folder, and double click Aerial.saver

This will open System Preferences, which will ask if you want to install for you or all users. Please try your user

[2018-11-01 11:15] diba320 commented on #612
Double click gives me an error message, the aerial file is damaged cancel or move to basket … with 1.4.4 and beta

Mit freundlichem Gruß

Dietmar Barro

[2018-11-01 11:18] diba320 commented on #612
Solved, … obviously a unzip problem with „archive browser“. Unzipped with WinZip and everything went smoothly.
THX again for the quick replies.
Mit freundlichem Gruß

Dietmar Barro

[2018-11-01 12:07] diba320 commented on #612
Used safari, but use "archive browser" as standard for unzipping.

[2018-11-01 12:11] glouel commented on #612
Thanks for your feedback. I guess you disabled "Open safe files" in Safari Preferences then. The unarchiver is a pretty good free alternative too.

I updated the install instructions based on your experience, so people are aware of this :
https://github.com/JohnCoates/Aerial#manual-installation

[2018-11-01 12:15] glouel commented on #615
Closing this as I have another workaround coming.

[2018-11-01 12:15] #615 closed

[2018-11-01 13:02] pws442 commented on #608
I just LOVE this version. I only had 2 buttons in the options, but now a veritable plethora of nice options?

My wife has a MacBook Pro that cannot be upgraded to Mojave, even though it has 16GB RAM and a 2TB SSD. Can she use the same download as I did? I did read the release info on the beta version. Her only issue is that it stops moving after a fashion and then does not change.

Thanks a lot!

[2018-11-01 13:06] glouel commented on #608
Hey Paul

Thanks for your kind words. I'll have a much better beta specifically for High Sierra later today. I'll reply to this message when it's posted to let you know, it will be much less cumbersome than the currently posted beta.

You mentioned it stops moving on your wife laptop, I guess that's with 1.4.4 right ? Just wait a bit for next beta, the 1.4.5 betas have a fix for some video driver

[2018-11-01 16:01] pws442 commented on #608
Hi,

It was not 1.4.4, as I just downloaded it yesterday, thank you very much. In fact, I have NO CLUE as to how to check the version! I just know hers has, and mine had, only 2 buttons in the options of the screen saver preferences (and I had to force quit out of System Preferences when I went into the options. Don’t know about hers).

Thanks again!

Paul W Schluter
paul@paulschluter.com
Sent fro

[2018-11-01 16:33] glouel commented on #611
This could be a nice feature indeed as an intermediate between 1080pH264 and Power Saving.

If you want to implement it, be careful though as AerialView is pretty tricky when it comes to handling previews, lifecycles and multiple monitors. Took me a while to get it bug free. It not we can add that to the nice to have project board.

[2018-11-01 16:37] glouel commented on #608
Hey Paul

No worries, that was an old version indeed with plenty of known issues. Please uninstall the old version on your wife's Mac, see the instructions here : https://github.com/JohnCoates/Aerial#uninstallation

The first method should do the trick. Then close System Preferences, and install the new beta :

https://github.com/JohnCoates/Aerial/releases/download/v1.4.5beta3/Aerial.saver.zip

Do

[2018-11-01 16:47] dVIAN13 commented on #611
I like fade in/out of images...

maybe have a 'default image' for each video, and have it run for the length of the video... but not a must have. obviously not going to fit everyone's need, but not just black... on the board it goes!

a 'bug' is the tooltip when hovering over the '?' where power saving is.. it has the same value as the video quality one.

[2018-11-01 16:53] cwoloszynski commented on #600
Thanks for fixing this.  I'm not sure what happened but I didn't get any notifications on the thread.  I need to check my settings on notifications!

I can report that, yes, beta3 definitely addressed the issue for me.

[2018-11-01 16:57] glouel commented on #611
Oops my bad, I copied/pasted it, will look :)

You can see in image here : https://github.com/JohnCoates/Aerial/issues/606#issuecomment-435003114

Had a revelation under the shower, that while our window couldn't get focus any way I tried, maybe opening a new one would do the trick. And it did :) So on high sierra there will be "..." buttons next to textfields (or a big button as in screenshot for

[2018-11-01 17:05] glouel commented on #600
No worries @cwoloszynski and many thanks for confirming !

[2018-11-01 17:07] glouel commented on #487
@keikoro if you are interested we now have a fix that seem 100% for that video driver issue in beta 3, as reported by other users.

https://github.com/JohnCoates/Aerial/releases/download/v1.4.5beta3/Aerial.saver.zip

[2018-11-01 19:14] pws442 commented on #608
Thank you Sir,

I will do this Saturday during the wee hours of the morning. My version was installed in June 2016, and I believe the file date was November 2015. Still curious as to how to check the version.

Paul W Schluter
paul@paulschluter.com
Sent from my MacbookPro

On Nov 1, 2018, at 12:50, Guillaume Louel <notifications@github.com> wrote:

Hey Paul

No worries, that was an old version inde

[2018-11-01 19:32] glouel commented on #608
No worries, regarding versions, only the most recent ones (starting with 1.4) have the version in the corner, so that's why you missed it probably.

Nov 2015 is 1.2, which was indeed the last version released until we got the project back up again this september.

[2018-11-01 21:36] SeanMSmith commented on #611
"Show only night videos on Dark Mode" would be better than "Always show night videos on dark mode".

However (perhaps since I'm not yet on Mojave), I'm not sure I understand the interaction between this check box and the Light Mode/Dark Mode radio button. I presume the check box is for folks who have some other radio button selected (.e.g. "Calculate from" with Civil dawn/dusk) but who may then ma

[2018-11-01 21:44] glouel commented on #611
Ok sounds good !

Yes exactly. I think that the checkbox should be greyed out if you pick light/dark mode in the radio above, to make things simpler.

Just to clarify, macOS doesn't have any option to automatically switch to dark mode, even with night shift, by itself. So it's always manual.

The idea was to override and force night (thus darker videos) if dark mode even on day. I think the opposi

[2018-11-01 22:01] SeanMSmith commented on #606
Aerial 1.4.5 beta 3
mas OS High Sierra 10.13.6
iMac17,1 (Retina 5K, 27-inch, Late 2015)

The first time I tried to enter coordinates manually, I typed "-70" into the Latitude field, then (if I recall correctly), I changed focus (either by clicking somewhere else or by Command-Tabbing), and immediately System Preferences unexpectedly quit.

Thereafter, System Preferences unexpectedly quit every tim

[2018-11-01 22:14] SeanMSmith commented on #611
I think I understand now. (So many choices!)

Greying out the checkbox when the Light Mode/Dark Mode radio button is selected is an excellent idea.

[2018-11-01 22:14] glouel commented on #606
Reproduced, nice catch ! I think that in some extreme case the dawn/dusk simply don't happen which led to the crash.

[2018-11-01 22:16] glouel commented on #611
Yeah I think we're close to "featuritis" as I keep adding more stuff, will need to get more selective in the future but I thought those two made sense ;)

Especially the first one which I hadn't thought of (I had thought of the Power Saving thing so I merged the two).

[2018-11-01 22:30] glouel commented on #606
@SeanMSmith beta 4 just for you :

https://github.com/JohnCoates/Aerial/releases/download/v1.4.5beta4/Aerial.saver.zip

Thanks for catching that one ! The tooltips are also there, but not the dark mode changes.

[2018-11-01 23:34] keikoro commented on #487
@glouel I downloaded it and it really seems to be fixing everything - thank you, much appreciated!

[2018-11-01 23:37] glouel commented on #487
Glad I finally got it 🎉🎉🎉

[2018-11-01 23:54] dVIAN13 commented on #606
@glouel sorry to report something else.. didn't think it needed a new issue... in the screenshot below, you will see that when you are scrolling the main video list, if you hover the cursor over the scrollbar to click and drag, it's VERY close to the 4k tags... just a suggestion to move the tags, or increase box size to allow a little more room there... as it overlaps.. 😉

<img width="667" alt="sc