[2018-11-02 00:04] glouel commented on #606
Oh ! Yeah for click and drag, I calibrated that for just regular scrolling. I actually didn't know that the bar gets thicker, the things you miss despite using everyday !

I guess I can add/move a few pixels yep, looks like 3/4 points, I'll check that for next build thanks !

[2018-11-02 00:06] dVIAN13 commented on #606
no prob.. just noticed it myself! good looking out!

[2018-11-02 00:31] SeanMSmith commented on #606
So after having trashed my Aerial prefs, Aerial 1.4.5 beta 4 does not recognize that I already have all the videos cached. (I see + marks next to all the video names in the Videos pane, and upon clicking "Download Now" in the Cache pane, Aerial is now happily download all 19.07 GB of videos again.)

[2018-11-02 00:42] SeanMSmith commented on #606
What happens when the user enters coordinates where Aerial is able to calculate sunrise or sunset near an equinox, and then becomes unable to as the current date approaches a solstice?

On a related note re extreme latitudes, this will probably not affect many users, but would it be possible to display another message than "Can't process your coordinates, please verify" when the user has entered v

[2018-11-02 00:55] glouel commented on #606
Urgh, that's not good at all, really really sorry about that. Did you trash the videos too ??? Because, the preferences just have the path to the cache, so unless you did change the Aerial path earlier, it should pick up your videos at startup (it's completely independant from the pref, it checks if files are there or not fairly often). Can you check why the path is different maybe ?

I definitely

[2018-11-02 01:05] SeanMSmith commented on #606
No, I hadn't trashed the videos, nor had I changed the cache path. (And when Aerial started downloading all the videos again, I checked Aerial's prefs to insure that it was still pointing to ~/Library/Caches/Aerial, and it was.) Aerial just didn't pick up the fact that all the videos were already there.

I've got plenty of bandwidth here and no data cap, so it's no big deal for me, but of course i

[2018-11-02 01:08] glouel commented on #606
Can you look at the folder while it downloads ? I'm just puzzled at what can be happening, because I doubt it can overwrite over your existing files, it should probably fail... I don't get it. Even when you click download, it's going to check if the file is there, super weird.

[2018-11-02 01:13] SeanMSmith commented on #606
Doh! Now I understand what that happened. Trashing Aerial's prefs reset my preferred video format to 1080p H264; it was previously 4K HEVC. Aerial was downloading the lower-res versions.

Sorry for the false alarm.  :)

[2018-11-02 01:17] glouel commented on #606
Haaaa of course ! Well good to have that one solved, would have puzzled me for a while 😅

[2018-11-02 01:46] SeanMSmith commented on #547
As of 1.4.5 beta 4, when **not** using community information, those two confused Golden Gate Bridge videos still have incorrect descriptions. (See https://github.com/JohnCoates/Aerial/issues/547#issuecomment-433568837 and https://github.com/JohnCoates/Aerial/issues/547#issuecomment-431557719.)

To recap:

The Apple descriptions currently attached to b4-3.mov (Presidio to Golden Gate) are not the r

[2018-11-02 12:11] glouel commented on #547
Bah, sorry about that one, fixed in next.

Proof that I really did it this time 😱

https://github.com/glouel/Aerial/commit/c8187e004a718979ddbfa76ff5808452e3ac17d3

[2018-11-02 15:56] PencilNotPen commented on #611
Sorry for not replying before, and thanks for taking the suggestions on board. Yes, I believe "Show only night videos on Dark Mode" should represented in UI by a check box, not a radio button (is that the name of that?). It should be tickable in addition to any one radio button, including "Do not adapt videos based on time", with the exception of "Light Mode/Dark Mode".

When ticked, and if Dark M

[2018-11-02 16:09] glouel commented on #611
You'll see the checkbox work as you expect then ;)

Latest beta here, 1.4.5 beta 4 :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.5beta4/Aerial.saver.zip

In general, latest releases you can bookmark this : https://github.com/JohnCoates/Aerial/releases

[2018-11-02 17:57] PencilNotPen commented on #611
Hi! Thanks, I've got it running now. The "Always show night videos on dark mode" check box does not seem to persist between quits of System Preferences. Quitting and reopening System Preferences seems to always show it unticked again.

I also suggest that the wording be changed to more natural English:

"Always show night videos on dark mode"

Should be:

"Always show night videos in Dark Mode"

[2018-11-02 19:18] SeanMSmith commented on #611
@PencilNotPen, you're quite right that "…in Dark Mode" would be more natural than "…on Dark Mode"!

"Always show night videos…" is ambiguous, however, since it doesn't explicitly exclude the possibility of _also_ showing day videos. (I.e., it could be taken to mean, "When Night Mode is off, we'll only show day videos, but when Night Mode is on, we'll always show night videos also.")

"Show only ni

[2018-11-02 21:39] PencilNotPen commented on #611
Yep, I agree! Capitalise Dark Mode, change on to in, and change Always to Only.

[2018-11-02 21:58] glouel commented on #611
Damn thanks for the bug indeed the preference wasn't properly restored, will be fixed in next version, probably tomorrow if I have a sec (and will update text accordingly to conversation, thanks both ;) )

[2018-11-03 13:33] glouel commented on #611
1.4.5 is out with those changes

[2018-11-03 13:33] #611 closed

[2018-11-03 13:33] glouel commented on #606
Closing as fixed in 1.4.5

[2018-11-03 13:33] #606 closed

[2018-11-03 21:29] SeanMSmith opened #620 "Precision of coordinates"
Aerial 1.4.5
macOS 10.13.6

It occurs to me that the pretended precision of the coordinates returned by Location Services is utterly absurd.

Latitude, for example, is reported to a precision of _eight_ decimal places, or one hundred-millionth of a degree. In other words, about _one millimeter!_

My reported latitude and longitude can each vary by tens of meters or more just by clicking the "Use m

[2018-11-03 21:43] glouel commented on #620
Haha yeah as far as I remember location services on Mac mostly uses WiFi (through a database of known access points) to get your location. So depending on where you live the precision can vary greatly and you may get different results consecutively.

I’m uneasy about shaving digits though as things may improve (future Mac with cellular, or grabbing location from iPhone etc). I know you can ask for

[2018-11-03 22:45] edwardvalentini commented on #464
So it looks like you need to include the module name in the Info.plist for the screensaver.   For example:

[code]

After doing this, the screensaver works on mojave.

[2018-11-03 23:04] SeanMSmith commented on #620
But the point is that even if the _accuracy_ of Location Services improves, pretending anything greater than three decimal places of _precision_, or one-quarter second's difference in the time of sunrise and sunset, is meaningless for our purposes. No one is _ever_ going to notice a difference of two or three _hundredths_ of a second in the time of sunrise or sunset (let alone dawn or dusk), which

[2018-11-05 02:14] glouel commented on #620
Don't get me wrong, I completely agree on principle. I'm simply displaying what the APIs give me at the moment.

I still believe that one should be able to input whatever he wants, so if you have checked your precise position with Apple Maps, you should be able to enter whatever you want and Aerial should not truncate it. I had 3 digits rounding on an earlier version and it was a bad experience.

[2018-11-05 02:17] glouel commented on #608
Yep 1.4.5b4 is good, 1.4.5 finale is also out but there are nearly no changes that you should care about ! Enjoy !

[2018-11-05 23:35] astroboylrx opened #621 "graphics memory won't be released?"
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model: 2018 MBP 15-inch + i7-8850H + AMD Radeon Pro 560X
- [ ] macOS version: macOS 10.14.1
- [ ] Monitor setup: bulit-in monitor + Dell U2415 (1920x1200) + ASUS VS238 (1920x1080)

If appropriate, please enable `Debug mode` and `Log to disk` in `Advanced` tab and replicate yo

[2018-11-05 23:46] glouel commented on #621
"Graphics memory" is a pretty vague thing, same for gpu usage which is vaguely defined.

I would check if VTDecoderXPCService is hanging around after you exit screensaver, it's the Graphics Video Acceleration service that is used by the system to decode videos. I've seen it hang around sometimes for a bit before quitting (maybe in case playback needs to be resumed ?) and it may hang to that "memor

[2018-11-06 00:05] astroboylrx commented on #621
Thank you so much for the prompt reply and explanations. I indeed found there are four `VTDecoderXPCService` hanging around. Killing those processes did not lower the "memory".

![image](https://user-images.githubusercontent.com/3999966/48034066-0f307280-e11b-11e8-8e12-8b0c0e6e01ee.png)

I ended up with unplugging my external monitors and replugging them, which eliminated those "memory" usage. I s

[2018-11-06 00:05] #621 closed

[2018-11-06 02:05] glouel commented on #621
No worries ! Usually it doesn't matter much, GPU memory doesn't really work like classical RAM in the sense that it's not really "shared" by apps. It will be freed when needed in any case. Thanks for your report!

[2018-11-06 04:09] dreamrx opened #622 "wallpaper"
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-11-06 04:09] #622 closed

[2018-11-06 12:38] hidehiro98 opened #623 "Supporting: I created the list of the videos with thumbnail."
I'm creating this list because loading the movie in settings is really slow (I'm not offensive, I really appreciate guys!).

https://paper.dropbox.com/doc/Aerial-macOS-screen-saver-list--ARLYUjAa1UrRyjC8HPKJv4DBAQ-HvOeL0gNhLpqpIFgmLHaS

[2018-11-06 18:12] NightRaider73 commented on #623
@hidehiro98 Can you specify what these pictures are suppose to be? Are they suppose here:
![screen shot 2018-11-06 at 10 11 42 am](https://user-images.githubusercontent.com/44180668/48084384-6c283900-e1ac-11e8-80fd-b460592dfd89.png)
Or here:
![screen shot 2018-11-06 at 10 11 52 am](https://user-images.githubusercontent.com/44180668/48084399-721e1a00-e1ac-11e8-95f9-e70ded9905fe.png)

Thank you

[2018-11-06 19:03] NightRaider73 opened #624 "Missing many new videos"
1 http://benjaminmayo.co.uk/watch-all-the-apple-tv-aerial-video-screensavers#AFA22C08-A486-4CE8-9A13-E355B6C38559

2 http://benjaminmayo.co.uk/watch-all-the-apple-tv-aerial-video-screensavers#E5DB138A-F04E-4619-B896-DE5CB538C534
3 http://benjaminmayo.co.uk/watch-all-the-apple-tv-aerial-video-screensavers#B1B5DDC5-73C8-4920-8133-BACCE38A08DE
4 http://benjaminmayo.co.uk/watch-all-the-apple-tv-aerial

[2018-11-06 19:12] NightRaider73 commented on #624
@glouel You have something new to work on:)

[2018-11-06 22:18] glouel commented on #624
Great find on the videos thanks, I'll have a look asap to add them :)

and lol about the city, believe it or not I actually don't live far from there, I know that place ;))

[2018-11-06 22:20] NightRaider73 commented on #624
All you have to do is right click the video (not the links) then select copy video link

[2018-11-06 22:45] NightRaider73 commented on #602
@StrangePC Can you please respond?

[2018-11-06 22:47] NightRaider73 commented on #602
@glouel I agree but I think knowing how much StrangePC likes it to be EXACTLY IDENTICAL maybe and a 5 second option.

[2018-11-07 05:37] glouel commented on #623
Hi @hidehiro98 !

Really cool guide ! Because the videos are the property of apple, I'm not sure if taking screenshots is fair use or not, if it is we should definitely link to it as this could help people. Maybe someone knows about fair use around this ?

Thanks for doing this in any case !

[2018-11-07 07:06] hidehiro98 commented on #623
Hello @glouel !
Thank you for your reaction! Yes, fair use or not does matter.
If this is in fair use, please link to this!

[2018-11-07 14:45] NightRaider73 commented on #624
Also @glouel I only put the other videos that I was 100% sure about you might want to go over every one yourself here: http://benjaminmayo.co.uk/watch-all-the-apple-tv-aerial-video-screensavers#AFA22C08-A486-4CE8-9A13-E355B6C38559
Thank you for all the work!!!

[2018-11-07 14:47] glouel commented on #624
Yeah I'll try to have a look and get in touch with Benjamin Mayo when I get back home to see where he found the links in the first place. Thanks !

[2018-11-07 14:50] NightRaider73 commented on #624
Yeah the fact that it auto picks up the links is amazing, if we could get Aerial to do that..... that would be awesome

[2018-11-08 19:04] NightRaider73 commented on #624
@glouel What where you planing to do with the new links? Where you planing on creating a new `.Json`, or just add to the existing one.  I think it might be better to make a new `tvOS12.1.Json` Just in case.

[2018-11-08 22:26] NtwkEngineer opened #627 ""Screen Saver Options" "Done" button does not work"
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model:  Retina MacBook Air 13", 2018
- [ ] macOS version: Mojave 10.14.1
- [ ] Monitor setup:  Built-in display

After installing the screen saver, I navigated to the "Screen Saver Options" button, clicked on the check-box to enable different scenes when on multiple displays,

[2018-11-08 22:58] glouel commented on #627
Did you install latest version ? 1.4.5 ? If so make sure you uninstalled the old ones too and are using the correct one (the thumbnail on the left in the screensaver pane should look like earth, not the Golden Gate.

[2018-11-08 22:59] glouel commented on #624
It depends how they did it. As I said, I'll have a look tomorrow.

[2018-11-08 23:10] NtwkEngineer commented on #627
That fixes it :) Thanks!

[2018-11-08 23:10] #627 closed

[2018-11-08 23:34] NightRaider73 commented on #624
I know now I did more research on it:) Get some rest so that you can work on it tomorrow.

[2018-11-08 23:39] glouel commented on #624
I don’t particularly like being ordered around so I would appreciate that you stop doing that please.

[2018-11-08 23:41] NightRaider73 commented on #624
Sorry😰😰😰😰😰

[2018-11-08 23:56] NightRaider73 commented on #624
@glouel I just stubbed upon something weird and good at the same time!!!!!!! It will be a long article but I will explain

[2018-11-09 00:04] NightRaider73 commented on #624
I decided to try and delete my cache folder including the .json and when I reloaded them there were a TON of extra videos that weren't there before as you can see below compare with yours and try it yourself:
[Screen Recording 2018-11-08 at 10.49.14 AM.zip](https://github.com/JohnCoates/Aerial/files/2564074/Screen.Recording.2018-11-08.at.10.49.14.AM.zip)'

I is a real big mess right now for anybod

[2018-11-09 11:19] glouel commented on #624
(I'm fairly sure I asked you nicely to start using the Edit button and stop replying to yourself, please consider how MANY notifications you are generating. It's incredibly disturbing, to me and others trying to follow. This will be the last time I'm saying this.)

The json was updated which didn't seem to happen much in the past.

I'll post an update shortly on how I'll handle this in next versio

[2018-11-09 15:30] NightRaider73 commented on #624
For the people that might panic put something on the readme for them with the old not updated `.json` so that they don't have to mess with all the duplicates.

[2018-11-09 19:30] glouel commented on #624
I do not know if you are a native english speaker. If not that's ok, but this:

I will not accept. I've been fairly patient with you but I'm done asking nicely. Feel free to ask for something or suggest something. Do not tell me to do something again or I'll either ignore or block you outright. Clear?

[2018-11-09 19:30] #624 closed

[2018-11-09 20:00] #555 closed

[2018-11-09 20:02] glouel opened #630 "Version 1.4.6 and new videos"
So as pointed, Apple has updated it's tvOS12 json. It mostly replaces the old one and is much larger, going to 44 videos from 33, and brings completely new videos, upgrade a few old ones to 4K (as I predicted they would from TVIdleScreenStrings.bundle) and sadly removes one video (!). While the json is new, TVIdleScreenStrings.bundle is unchanged. And so are the older jsons.

It's however not as s

[2018-11-09 20:05] NightRaider73 commented on #624
@glouel Sorry I have offended you and I will just not help anymore.

[2018-11-09 20:29] glouel commented on #630
70

[2018-11-09 20:29] NightRaider73 commented on #630
Thank you

[2018-11-09 21:02] NightRaider73 commented on #624
I see why you don't want a code of conduct:

Examples of behavior that contributes to creating a positive environment include:
Using welcoming and inclusive language
Being respectful of differing viewpoints and experiences
Gracefully accepting constructive criticism
Focusing on what is best for the community
Showing empathy towards other community members

[2018-11-09 21:46] glouel commented on #630
Version 1.4.6beta1 : https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta1/Aerial.saver.zip

This version WILL redownload the new tvOS12 manifest so make sure you read 1st post before installing.

[2018-11-09 21:47] NightRaider73 commented on #630
Is it suggested to clear cache?

[2018-11-09 21:51] glouel commented on #630
Nope, no need. It will move your entries.json to backups/

[2018-11-09 21:52] NightRaider73 commented on #630
As I had in my edit how did you figure out how to get the location services without signing it?

[2018-11-09 21:52] glouel commented on #630
It should be signed.

[2018-11-09 21:53] NightRaider73 commented on #630
I wasn't for me unless it was an error on MacOS

[2018-11-09 21:56] glouel commented on #630
Nice catch, I signed the wrong file. New build is at the same place :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta1/Aerial.saver.zip

My understanding is that if you authorized it once on a previous version, new builds will work, signed or not.

[2018-11-09 21:57] NightRaider73 commented on #630
Okay I didn't really care because I don't use that but in one of your previous articles I think you may have said that so I was just making sure:)

[2018-11-09 22:09] NightRaider73 opened #633 "Suggestion: Downloading Video(s)"
@glouel As I am downloading the new videos I am thinking. Is it possible to when you click on the progress bar it will show you how many videos you have to download and how much GB out of GB you have downloaded?

[2018-11-09 22:17] glouel commented on #633
So the indicator should tell you how many are left as a %. Did you individually click them there or use the Download All button ? Because that looks wierd (1/3rd).

As for precise GB progress, Aerial doesn't know the size of queued files so it can't interpolate based on file size until it starts downloading a file.

[2018-11-09 22:41] glouel commented on #623
@hidehiro98, version 1.4.6beta1 has 4 new videos :
- Space, Italy to Asia
- Space, New York night
- Liwa, Liwa Oasis 2
- San Francisco, Golden Gate from SF

You can find that beta here :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta1/Aerial.saver.zip

And more info about the other changes here, I suggest you read before install (you will have to redownload some files) : https:/

[2018-11-09 23:10] KovalevArtem opened #635 "Localization"
I am saddened that the Aerial is in English only.
I suggest to localize the program.
I am ready to assist in the translation into Russian.
(For example, you can use the service Crowdin or any other. As far as I know, using Crowdin for open source projects is free...)

<img width="892" alt="2018-11-10 2 11 34" src="https://user-images.githubusercontent.com/36500228/48293011-f9f67380-e48d-11e8-8ff4-

[2018-11-09 23:21] glouel commented on #635
Hi @KovalevArtem

Yep, internationalization would be nice.

There are 3 main source of strings to translate:
- The main UI for now is indeed english only, I will have a look at what we can do to fix that.
- The descriptions, if you check "Display in preferred language when available " (and maybe uncheck the Community thing below) you should get the descriptions when watching videos in Russian, tho

[2018-11-10 00:04] NightRaider73 commented on #635
According to https://www.ibabbleon.com/iOS-Language-Codes-ISO-639.html
Russias "short code" is   "ru"

[2018-11-10 01:54] hidehiro98 commented on #635
I’m in and will translate it to the ja Japanese!
And can I ask what is ‘community description?’

[2018-11-10 12:07] glouel commented on #635
Thanks @NightRaider73 and thanks @hidehiro98 !

About community descriptions, while Aerial is playing, you probably saw that Aerial could display text information about the location. This information is coming directly from Apple in multiple languages.

But it's incomplete so on top of that, we wrote our own extra descriptions for the videos. You can see them in the London videos for example (you

[2018-11-10 12:51] #612 closed

[2018-11-10 15:51] NightRaider73 opened #636 "Suggestion: Manually check for new .json"
![screen shot 2018-11-10 at 7 49 29 am](https://user-images.githubusercontent.com/44180668/48303274-2ecdef00-e4bd-11e8-8d38-0821c134cbf3.png)
I have always like to check manually for updates. Is it possible to add a Botton next to the "Check for new videos"?

[2018-11-10 16:34] glouel commented on #636
Yep I'll add one, probably not next beta but the one after.

[2018-11-10 16:35] NightRaider73 commented on #636
Okay, Thanks @glouel

[2018-11-10 16:42] glouel commented on #635
@hidehiro98 I'm making some changes on beta 2 so you can see your results directly in Aerial more easily. Right now, the community descriptions (the en.json file I linked above) is bundled with Aerial directly. The goal is to have other translations bundled there too for regular users.

But for translators, unless you have Xcode it's going to be a pain, so I made a workaround.

In the Aerial Cache

[2018-11-10 19:32] NightRaider73 opened #637 "UI Suggestions"
![screen shot 2018-11-10 at 11 23 30 am](https://user-images.githubusercontent.com/44180668/48305227-bfb3c300-e4db-11e8-8e53-d5a9f54b3385.png)

Is "Power Saving" a mode?  If so I suggest Capitalizing the "saving" to be consistent

[Debug Mode Sticking.zip](https://github.com/JohnCoates/Aerial/files/2568685/Debug.Mode.Sticking.zip)

With this screen recording after the "debug mode" is selected and

[2018-11-10 22:12] glouel commented on #637
Popups and buttons are All Word Caps and labels are not in macOS rules, that's why it's that way.

As for the debug thing, it's working as intended. If you uncheck debug mode it will stop logging from then on, but the logs generated prior to this are still displayed, and so will be warning and errors (you can generate a warning by unchecking every video for example, you'll see a show warning butto

[2018-11-10 22:14] NightRaider73 commented on #637
Okay

[2018-11-10 22:14] #637 closed

[2018-11-11 13:04] glouel commented on #636
It's be based on distance from last check, so it will vary for anyone.

[2018-11-11 15:34] NightRaider73 commented on #636
Okay thanks for the clarification:)

Subscribe to me on Twitch:
Twitch.tv/NightRaider73
On Nov 11, 2018, 5:04 AM -0800, Guillaume Louel <notifications@github.com>, wrote:

[2018-11-11 16:03] glouel commented on #635
@hidehiro98 a bit late but beta 2 is here :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta2/Aerial.saver.zip

It makes it much easier to see your changes directly reflected.

To recap:
- create a /locale directory in the Aerial cache directory.
- copy the en.json file in that directory and rename to ja.json (you can check the file that Aerial is looking for, based on your prefer

[2018-11-11 21:01] #599 closed

[2018-11-11 21:12] dVIAN13 opened #642 "Scrollbar UI Issue and Tooltip Suggestion"
@glouel Thanks again for all of your continued work on this project.

I wanted to formally post this, to help you better track the scrollbar issue. :)
1) As discussed previously, the scroll bar when dragged with cursor, overlaps some of the UI tags.

2) To further expand on a comment posted earlier, would it be possible to have the 'total downloaded'  pie-shaped UI element's Tooltip display the pr

[2018-11-12 00:13] glouel commented on #642
Hey @dVIAN13 !

So yeah good idea cause I kinda had forgotten 1)! To recap:

- About 1), yeah, because of localization, I may need to make the list larger anyway, so I'll fix that one at the same time.
- Tooltip showing "x/y videos downloaded", yeah, that should be possible and not that hard indeed and should be more helpful.

Extra NTH : I could *probably* do a %age for the current downloaded ite

[2018-11-12 01:19] hidehiro98 commented on #635
@glouel Thank you for the ping and the changing about the `locale` directory!
If it's okay, I want to create `Resources/Community/ja.json` and the pull request because
I think this way is easier for users including this translation. How do you think about this?

[2018-11-12 10:20] jackxujh opened #644 "Feature request: Disable Night Shift for Aerial"
With Night Shift, beautiful aerials are shown with a warm yellow hue, which does not work very well with blue sky and many scenery or objects in aerials. It would be great that Aerial allows the user to choose if they would love Aerial to disable Night Shift when aerials are played.

[2018-11-12 12:00] glouel commented on #644
Hi @jackxujh I had a quick look but apparently there's no API that lets us temporarily disable night shift, sorry :(

[2018-11-12 13:13] glouel commented on #635
@hidehiro98 one thing that isn't in the en.json is the Space videos. Here's a section with their name so you can translate them, just put that in the json:

[code]

Let me know if you need any assistance and thanks for doing this !

[2018-11-12 23:30] NightRaider73 commented on #635
I added something to the readme so that we might get more support:)
#645

[2018-11-14 00:30] NightRaider73 commented on #635
Also, I started a Spanish translation here:
https://github.com/NightRaider73/Aerial/blob/Spanish/Readme.es.md
If any of you know Spanish I could use some assistance checking it because I know that Google translate isn't the best:)

[2018-11-15 15:34] LvanProosdij commented on #610
@glouel there is something interesting here : [How to replace Dynamic Desktop with video wallpaper in macOS Mojave](https://appleinsider.com/articles/18/11/13/how-to-replace-dynamic-desktop-with-video-wallpaper-in-macos-mojave)
We could have a look at how VLC does this. Can also ask them, lead developers are friends.

[2018-11-15 15:49] glouel commented on #610
Gave it a shot, their version does indeed keep the icons unlike my quick prototype. Might be a swift thing or I missed something.

I'd suggest referring people who want this feature to using VLC with a playlist of their videos, since it does pretty much what those users want ?

[2018-11-15 16:06] LvanProosdij commented on #610
The solution with VLC is a "hack", using a feature of VLC, but the user experience isn't smooth and it also impacts VLC use while desktop mode is active.

People ask : how can I have Aerial as a desktop wallpaper ?
We can answer Aerial is a screensaver not a wallpaper, sorry.
But as 99% of what is required to create an Aerial wallpaper is what Aerial screensaver does (maintaining a list of videos,

[2018-11-15 16:35] glouel commented on #610
I agree it's a hack.

As of right now that's the better option for those who want that. Looking at this for a proper implementation is still on my to do list and if I do, I'll check how VLC does it but it's pretty low priority as it's going to take some amount of work and there are other things that I need to address first.

[2018-11-15 16:51] #644 closed

[2018-11-15 18:05] glouel commented on #642
@dVIAN13 so been a while but I finally got to fix this with beta 3 :

- realigned the 4K indicator for the scrollbar
- the "individual" download indicator is now round to free more space for video names
- the "global" download indicator (bottom left of window) now has a tooltip
- the "global" download indicator now shows the live progress

https://github.com/JohnCoates/Aerial/releases/download/v1.

[2018-11-15 18:21] dVIAN13 commented on #642
@glouel thank you! I’ll check it out when I’m back in town. Great work!

[2018-11-15 18:43] glouel commented on #642
Thanks ! Here's the screenshot I forgot to post (with in progress french translation)😅:

![capture d ecran 2018-11-15 a 18 53 57](https://user-images.githubusercontent.com/37544189/48574155-b88f1980-e90e-11e8-85e6-e768471fbf10.png)

[2018-11-16 07:03] SeanMSmith opened #656 "Non-functional gear icon in Videos pane"
Aerial 1.4.6 beta 3
iMac (Retina 5K, 27-inch, Late 2015)
macOS 10.13.6

Clicking the gear icon in the Videos pane does nothing.

(This problem was not present in version 1.4.6 beta 2.)

[2018-11-16 12:16] diimdeep commented on #555
Hey, I have been using [this](https://github.com/VFUC/Aerial/tree/playback-speed) branch for almost a year !
At 2x speed these videos even more amazing.

<img width="209" alt="screenshot 2018-11-16 at 15 11 53" src="https://user-images.githubusercontent.com/485713/48620677-fdb85780-e9b1-11e8-8d03-182f3ba08a0d.png">

[2018-11-16 19:33] SeanMSmith commented on #656
Yes, I did indeed close and reopen System Preferences.

This is 100% reproducible here.

What further information can I give you?

[2018-11-16 19:35] dVIAN13 commented on #656
hmm... I'm on beta3 and I have access to the button..

<img width="667" alt="screen shot 2018-11-16 at 11 34 48 am" src="https://user-images.githubusercontent.com/22992333/48643100-ac00d480-e993-11e8-8889-7d1f72090322.png">

1.4.6beta3
MacOS 10.14.1

[2018-11-16 19:49] glouel commented on #656
That's the thing, I have no idea, this is so weird. 100% sure this is 1.4.6beta3 and not an older version ? I know I sometimes have 2 versions of Aerial in syspref, that can happen when Safari unpacks the zip if you didn't purge your download folder, it might rename and rename the file to Aerial-10.saver, etc

Apart from that, no idea. Will think about it.

[2018-11-16 19:51] dVIAN13 commented on #642
@glouel I was able to install today, and it looks great! thanks for all of those improvements! I am wondering how hard it would be(or useful for that matter) for the videos's download order to be modified? currently it is in alphabetical order, however, it would be nice(not a requirement), to have it start at the top, and work it's way down... ;) thoughts?

[2018-11-16 19:55] glouel commented on #642
Hmm, I thought that's how it worked already 😅

I'll have to check but yeah top to bottom was my initial intent, I may have broken it with the secondary name thing, will have a look.

[2018-11-16 19:58] dVIAN13 commented on #642
@glouel hahahaha.. no worries! I think you're right.. it was different behavior originally.. but to confirm, it's actually downloading them alphabetically based on the 'name' of the video.. so it jumps all over.. :) and would change based on the language! haha. thanks for looking into it!

[2018-11-16 20:00] glouel commented on #642
That makes sense should be an easy fix 🙈

[2018-11-17 00:12] NightRaider73 commented on #555
Thank you
On Nov 16, 2018, 4:17 AM -0800, Dmitry Wolf <notifications@github.com>, wrote:

[2018-11-17 00:20] SeanMSmith commented on #656
Yes, I'm 100% sure this is 1.4.6beta3.

(I closed System Preferences, deleted Aerial.saver from /Library/Screen Savers, verified that there's nothing in ~/Library/Screen Savers, re-downloaded v1.4.6beta3, reinstalled it, closed System Preferences and then reopened it. Aerial's Screen Saver Options and the Finder both show "1.4.6beta3".)

I even tried deleting Aerial's preferences file, to no avail

[2018-11-17 03:42] mr100percent opened #661 "Video only playing on single monitor"
#### Description of issue / Feature request

When using the 1.4.6beta3 release, the Screensaver will only play on the main monitor and not the external attached monitor. Other Apple screensavers play on the multiple displays, but using either the **Play Aerials** setting "Mirrored on All Displays" or "Different on Each Display," the second display is blank while the main display shows the Aerial v

[2018-11-17 11:18] glouel commented on #661
@mr100percent thanks for your report, did you previously use Aerial or was this the first version you installed ?

I'll have a look if we had a regression.

[2018-11-17 12:04] glouel commented on #661
@mr100percent was that the full log ?

Can you try this maybe to help me check your issue:
- Launch Aerial configuration panel in syspref
- enable mirrored mode (in app, and leave your screens individual in macos)
- only enable cached video (you can do that with the menu below the list, click the gear then "Check only cached")
- enable debugMode (advanced pane, feel free to delete/trim the log)
-

[2018-11-17 17:42] glouel commented on #656
This is super weird, I can't reproduce on either macs. I'll try something for next beta will let you know.

[2018-11-18 23:31] rondellaquila opened #667 "Moving User folder to a separate drive generates a Preferences Error"
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-11-19 00:00] rondellaquila commented on #667
Hi,

I've been enjoying Aerial successfully on as many of my Apple devices as possible. However, I believe I've come across a problem with Aerial on my new Mac mini. When the Mac is configured to use an _externally relocated User's directory_, Aerial throws up the following alert from within the Preferences app:

![image](https://user-images.githubusercontent.com/13055493/48679801-61c15400-eb49-11

[2018-11-19 00:35] nicolevella commented on #661
I'm also experiencing this.
os 10.14.1
MBA Retina 2018

I did the steps above, and heres the log

7:33:01 PM : Location services may be disabled, Night Shift can't detect Sunrise and Sunset times without them
7:33:53 PM : UI debugMode: true
7:34:07 PM : UI logToDisk: true
7:34:25 PM : <AerialView: 0x7f8851c0c070> startAnimation
7:34:28 PM : <AerialView: 0x7f8851c0c070> stopAnimation
7:34:30 PM : <

[2018-11-19 01:13] glouel commented on #667
I assume you fixed it ? Deleting the configuration list should do the trick, I’ll try to add a better error for this.

[2018-11-19 01:13] glouel commented on #661
That log is awfully short can you post the full one ?

[2018-11-19 03:56] rondellaquila commented on #667
Hi,

Thanks for your instant response... Unfortunately, I have not fixed the
issue with Aerial SS not running with the remote User's directory path.
Darn. I really do need to run with the external User's directory path.
Help! And possible work-arounds?

Mac mini running Mojave.

Ron

On Sun, Nov 18, 2018 at 5:13 PM Guillaume Louel <notifications@github.com>
wrote:

--

www.rondellaquila.com

Where

[2018-11-19 04:20] rondellaquila commented on #667
Hi,

Could you pass me to the path to the 'configuration list' so I don't manage
to incapacitate this machine?

Thanks,

Ron

On Sun, Nov 18, 2018 at 5:13 PM Guillaume Louel <notifications@github.com>
wrote:

--

www.rondellaquila.com

Wherever you go, there you are.

[2018-11-19 10:47] glouel commented on #667
I'll try to look up your issue today.

In the meantime the plist is here : /Users/{username}/Library/Preferences/ByHost/com.JohnCoates.Aerial.{uuid}.plist

[2018-11-19 12:49] glouel commented on #667
If removing that file didn't help, can you try this:
- Make sure System Preferences is closed
- Get this build, install it :
https://github.com/glouel/Aerial/releases/download/v1.4.6test4a/Aerial.saver.zip
- Close System Preferences again
- Open Console.app, top right filter by Aerial
- Open System Preferences, try and open Aerial

And paste me whatever you see in console if it still crashes ?

Ma

[2018-11-19 13:04] glouel commented on #661
@nicolevella @mr100percent
Sorry, found the bug, the preferences weren't saved correctly because of this PR : https://github.com/JohnCoates/Aerial/pull/649

I'll have a new beta up later today, sorry again.

[2018-11-19 14:03] glouel commented on #661
@nicolevella @mr100percent

Please try this new version, again apologies about the issue :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta4/Aerial.saver.zip

[2018-11-19 14:05] glouel commented on #656
@SeanMSmith longshot but give beta4 a try, I reverted a change to the menu although it doesn't make much sense :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta4/Aerial.saver.zip

[2018-11-19 14:05] glouel commented on #642
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta4/Aerial.saver.zip

[2018-11-19 14:50] nicolevella commented on #661
Works perfectly now for me, thank you!!! no apologies needed, thanks for the amazing work!!!

[2018-11-19 14:58] #661 closed

[2018-11-19 15:34] glouel commented on #667
You might want to try this build first, as it may just fix your issue, maybe you had multiple cache folders and the first one no longer exists, which created the issue. If so, this should fix. If not see message above, thanks :
https://github.com/glouel/Aerial/releases/download/v1.4.6test5a/Aerial.saver.zip

[2018-11-19 19:18] SeanMSmith commented on #656
Sure enough, whatever change you reverted in v1.4.6beta4 corrected the problem. The menu now pops up as expected.

(To confirm, if I reinstall 1.4.6beta3, the problem returns; upon then reinstalling 1.4.6beta4, the problem goes away again.)

[2018-11-19 20:22] glouel commented on #656
Ok thanks again for double checking, I really don't get it but hey. As long as it works...

[2018-11-19 20:22] #656 closed

[2018-11-19 22:46] dVIAN13 commented on #642
confirmed! thanks @glouel !!!

[2018-11-20 01:21] #642 closed

[2018-11-20 03:49] rondellaquila commented on #667
I followed your instructions using the file from the link: Still fails.
Here's a dump of the events generated:

default 19:46:17.479487 -0800
com.apple.preference.desktopscreeneffect.remoteservice AerialP:
cachePaths.count : 1
default 19:46:17.480818 -0800
com.apple.preference.desktopscreeneffect.remoteservice AerialP: cachePaths
["/Volumes/SSD 500 GB/Users/rondellaquila/Library/Caches"]
default 1

[2018-11-20 04:21] rondellaquila commented on #667
Some feedback from attempting the above:

I deleted the cache file specified. However, the error alert appeared upon
attempting to relaunch Aerial, and the cache file in the above location was
not recreated on repeated attempts.

I attempted to install 1.4.6test5a for *all* users.

Hope this helps.

On Mon, Nov 19, 2018 at 2:47 AM Guillaume Louel <notifications@github.com>
wrote:

--

www.rondella

[2018-11-20 12:03] glouel commented on #667
First, thanks a lot for doing this !

So good news is, you only have one cache path and it "looks" correct (and unless I got it wrong it exists). Bad news is, the bug is elsewhere 😅

I'll try to investigate this and get back to you, sorry about that.

Just as a folowup, can you go into that folder
/Volumes/SSD 500 GB/Users/rondellaquila/Library/Caches/Aerial

And tell me if it's empty or not ? I d

[2018-11-20 16:44] rondellaquila commented on #667
Hi,

I appreciate your quick turn around with this issue...

I've enclosed a screenshot of the above directory for your enjoyment. The
directory is not empty.

Ron

On Tue, Nov 20, 2018 at 4:03 AM Guillaume Louel <notifications@github.com>
wrote:

--

[2018-11-20 16:54] glouel commented on #667
Not sure you can attach a screenshot by mail, doesn't seem to work at least, would be interested if you could upload it !

In the meantime I made some new builds for you with forced debugging and forced logging to disk, that may give us a clue.

Some things you can try that would help me find the issue:

- Go into the Aerial folder, and if a AerialLog.txt already exists, delete it
- Install https:

[2018-11-20 18:05] rondellaquila commented on #667
My bad about including attachments directly to the email I received from GitHub.

Hi,

I’ll attempt installing your custom signed version of Aerial this evening upon my return. Hopefully, we’ll glean some useful info from it.

Ron

On Nov 20, 2018, at 8:54 AM, Guillaume Louel <notifications@github.com> wrote:

Not sure you can attach a screenshot by mail, doesn't seem to work at least, would be in

[2018-11-20 20:20] jarrah31 opened #672 "Amazing work, thank you!"
I would just like to say thank you very much for the continued development of this amazing screensaver for the Mac.

I've had this screensaver installed for many years despite it going stagnant, and was keeping an eye on the original "[New Aerial Screensavers](https://github.com/JohnCoates/Aerial/issues/463)" thread for a hopeful update when Mojave was release. I've now had 1.4b8 installed since l

[2018-11-20 20:32] glouel commented on #672
Thanks for your kind words, it's a big effort to maintain this and keep it going so it's appreciated. If you haven't, the latest beta includes the newest videos, updated october 30th. See more here :
https://github.com/JohnCoates/Aerial/issues/630

[2018-11-20 20:42] jarrah31 commented on #672
I've just been reading through your very useful and informative analysis of the latest videos (https://github.com/JohnCoates/Aerial/issues/630), and really appreciate you highlighting the differences. Can't wait to watch these tomorrow! (yep, installed the latest beta)

Just on that, is there an easy way to launch and watch videos from the screensaver options menu, such as double-clicking on a vid

[2018-11-20 21:00] glouel commented on #672
Easy, nope, but you can find the video names/path as they play in the AerialLog.txt if you enable logs and debug mode. Definitely cumbersome. But that's a pretty good feature idea. Option clicking a video could show a menu to show in finder or open in quicktime maybe. I'll see what I can do about that.

Because someone also asked previously, I do have a link in my github profile for this. Don't fe

[2018-11-20 21:05] jarrah31 commented on #672
Option clicking a video with a menu item to launch it in quicktime would be fab! 👍

Heading to your profile now, thanks again for your work on this project!

[2018-11-20 21:21] LvanProosdij opened #673 "Feature request : default cache folder to /Library/Cache"
Cache folder should default to `/Library/Caches` instead of `~/Library/Caches` to avoid multiple copies of videos being stores in each user's folder.

[2018-11-21 00:16] ZV00 opened #674 "Moving Cache Doesn't Delete Existing Files"
Similar to Issue #532, but not exactly... It appears that if you manually change the location of the Video Cache in 1.4.4 or 1.4.5 the files in the previous location remain and are not either deleted or moved. As a result a folder of ~5GB is left and then duplicated elsewhere on the drive.

A better option would be to prompt the user to delete the existing cache or to move it when the cache locati

[2018-11-21 05:02] rondellaquila commented on #667
Hi,

Here's the screen shot from yesterday showing the contents of /Volumes/SSD 500 GB/Users/rondellaquila/Library/Caches/Aerial. I didn't see the cache file you were expecting. <img width="761" alt="screen shot 2018-11-20 at 8 15 06 am" src="https://user-images.githubusercontent.com/13055493/48819485-fb813080-ed04-11e8-9d7c-bd1fb81c243b.png">

Regarding today's tests, after installing (https://gi

[2018-11-21 13:03] glouel commented on #667
So this looks recent, which suggest Aerial can access the directory with no issue. As for AerialLog.txt previously to launching the new builds, that's ok. It would only be there had you previously enabled logging to disk.

Yes that's the correct folder. You launched SysPref to crash it right ? It's puzzling that there's no log afterwards. I'm missing something...

Ok so what happened when you laun

[2018-11-21 16:05] glouel commented on #672
Thanks @jarrah31 !

I've added a right click/ctrl click menu on cached videos with a "Open in QuickTime" option. I may add other options there at a later point.

https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta5/Aerial.saver.zip

[2018-11-21 17:09] NightRaider73 opened #676 "Suggestion: Making Backups look cleaner"
I changed it to this:
![screen shot 2018-11-21 at 9 03 36 am](https://user-images.githubusercontent.com/44180668/48857017-c8728780-ed6c-11e8-9f9b-44f715f7c83f.png)
![screen shot 2018-11-21 at 9 03 59 am](https://user-images.githubusercontent.com/44180668/48857018-c8728780-ed6c-11e8-9ec8-22af7c835026.png)
As you can see the current is the 2018-11-9

I also know that the feature is not out yet but t

[2018-11-21 17:19] dVIAN13 commented on #676
@NightRaider73 I can understand coming from a readability perspective, however I believe the current way of naming folders makes sorting incredibly more useful... without having to sort by modified date/etc...? and if in the future, the need to programmatically manipulate any of the folders arises, the current ones are much easier to handle vs dealing with spaces and commas, etc... just my $0.02..

[2018-11-21 17:45] glouel commented on #673
Yeah that's a good idea. Right now I implemented it as a test build here :
https://github.com/glouel/Aerial/releases/download/v1.4.6test6a/Aerial.saver.zip

Here's how it works in this build:
- Look for Aerial in local cache (should be /Library/Caches), if there, use that
- Look for Aerial in user cache (should be ~/Library/Caches), if there, use that
- Create Aerial in local cache, then use that

[2018-11-21 17:49] glouel commented on #667
So please look at my previous message first.

As requested in another issue, I'm moving the default folder to the machine local cache instead of the user cache, which might incenditally fix your issue.

So if you want to give it a shot, delete your /Volumes/SSD 500 GB/Users/rondellaquila/Library/Caches/Aerial directory

Then give this build a shot :
https://github.com/glouel/Aerial/releases/downlo

[2018-11-21 18:16] NightRaider73 commented on #676
Understood:)
On Nov 21, 2018, 9:24 AM -0800, Guillaume Louel <notifications@github.com>, wrote:

[2018-11-21 18:56] #676 closed

[2018-11-21 22:12] rondellaquila commented on #667
Hi,

Please excuse me for not fully knowing the way around the Macintosh debugging tools:

After opening the Preferences and unsuccessfully attempting to run the test version of Aerial, I went over to Console and searched for com.apple.preference.desktopscreeneffect. This is what I found under the Mac Analytics Data report:

OSActivityID: 0x80000000000513b8
com.apple.message.domain: com.apple.syst

[2018-11-21 22:36] rondellaquila commented on #667
Hi,

The latest version of Aerial (1.4.6test6a) produced an AerialLog.txt file. Hope this helps.

Ron
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2605999/AerialLog.txt)

[2018-11-21 22:42] glouel commented on #667
Intriguing, was that file in /Library/Caches/Aerial ? Or in your user folder ??

I may not have mentionned it but after installing you need to close system preferences and reopen it (or close system preferences before install) to make sure the new version is loaded correctly. I had removed the logging from the 1.4.6test6a which is why I'm puzzled, but this definitely give me some hints.

Please le

[2018-11-21 22:48] glouel commented on #667
Just FYI, in 1.4.6test6a, there are some extra log lines so either that log is older, or you ran the wrong version. You probably shouldn't have got the AerialLog.txt at all with latest, but FYI there are these extra lines (for reference):

So make sure you uninstall old version maybe, make sure you delete the old Aerial folder, and please answer my questions above about where the file was. Thanks.

[2018-11-21 23:21] rondellaquila commented on #667
Hi,

That file I just sent was in my User folder. And I did toss the contents of the old Cache/Aerial folder prior to running Aerial.

[2018-11-21 23:40] glouel commented on #667
Ok I think we're getting confused here with too many crossed messages and a lot gets lost in the middle. I know it's frustrating but I'm trying to help.

Let's recap, can you try EXACTLY these steps please:
- Go to /Library/Screen Savers and delete Aerial.saver there
- Go to /Volumes/SSD 500 GB/Users/rondellaquila/Library/Screen Savers and delete Aerial.saver there (if any, if you always install f

[2018-11-22 00:09] rondellaquila commented on #667
Thanks for sending explicit instructions for me. I was getting confused.

Go to /Library/Screen Savers and delete Aerial.saver there

Go to /Volumes/SSD 500 GB/Users/rondellaquila/Library/Screen Savers and delete Aerial.saver there (if any, if you always install for all users there will not be)

Go to /Volumes/SSD 500 GB/Users/rondellaquila/Library/Caches and delete the Aerial folder (not just the

[2018-11-22 02:16] rondellaquila commented on #667
What's your macOS region and language (and do you have one or several of them) ?

Did you make some changes to the region settings (date format, etc) from the default settings ?

[2018-11-22 08:51] rondellaquila commented on #667
Hi,

It works!

Version 1.4.6test6a started working for me just now! What's that about? In any case, I'm very pleased to tell you this. Whatever you did, it seems too be working just fine.

Let me know if you want me to send any diagnostic info to you.

Ron

[2018-11-22 08:59] glouel commented on #667
Well, that's great news ! Did you do anything since my last post ? Or did it just start to work. I'd suggest you enable debug logging and log to disk in preferences, should the issue ever come back it will help a lot.

But great :)

[2018-11-22 09:10] rondellaquila commented on #667
Hi,

You have to believe me when I say I didn't do anything at all since your last post. I may have rebooted the Mac. I've enabled debug logging.

Aerial is such a lovely application. Bravo!

Ron

[2018-11-22 09:34] glouel commented on #667
Hehe I do. Maybe the rebooting did it, because some file was locked by the filesystem or some weird thing. In any case, glad it's finally solved for you!

[2018-11-22 18:14] jarrah31 commented on #672
Thank you very much, it works a treat!! ;)

[2018-12-01 22:30] esetnik commented on #549
I did a cursory review and it looked pretty straight forward. The most complicated part is probably setting up and running the free-tier heroku instance in order to monitor the github releases page. There might be an easier way to do this by just manually creating the feed file and committing it to the project.

[2018-12-01 23:05] owellsjr commented on #630
Not sure about you guys but I’m up to 45 new videos on the ATV4K. I presume I’ll see the second Great Wall of China screensaver on the Mac soon?

[2018-12-03 05:43] stunzi opened #679 "Dim Mode on Apple Cinema Display 27""
#### Required information
- Mac model: 2016 MacBook Pro 15-inch with Touchbar
- macOS version: 10.14.1 Beta (18B67A)
- Monitor setup: Apple Cinema Display 27" with Apple Official USB-C to Thunderbolt Adapter

#### Description of issue / Feature request
External display does not dim despite being dimmable via keyboards and using all Apple products.

#### Debug Logs
12:42:06 AM : UI debugMode: true

[2018-12-03 07:31] stephenhersee opened #680 "The operation couldn’t be completed. (OSStatus error 99999.)"
macOS version: 10.14.2 Beta (18C52a)
Mac Version: MacBook Pro (Retina, 15-inch, Late 2013)
Ariel Version: 1.45 and 1.4.6beta5

After downloading the app, extracting the zip, and then right clicking to open, and accepting the unidentified developer warning, I'm greeted with the following warning:
The operation couldn’t be completed. (OSStatus error 99999.)
the only option is ok, and then the instal

[2018-12-03 08:25] StubbornYang opened #681 "Preferences Error, There was an error in Desktop & Screen Saver preferences."
I have already tried three different version. But still when I click Aerial in Desktop & Screen Saver preferences, it will be error.
The system version is Mojave 10.14 and I have tried install by brew or download from Github. And I have tried two version in Github, 1.4.6beta5 and 1.4.5. Both didn't work.
I saw there is a same issue "https://github.com/JohnCoates/Aerial/issues/537" and I try the ve

[2018-12-03 13:54] glouel commented on #679
Thanks for reaching out @stunzi

Can you clarify a few questions for me so I can have a look, since I don't have that setup:
- Are you using both display (internal and external) simultaneously ?
- Is your internal MBP monitor set as primary ?
- When you use the dim keys, does it dim both screens simultaneously, or just the one that has the mouse/focus ?

If you indeed use both simultaneously
- can

[2018-12-03 14:10] glouel commented on #680
Hi

This is weird for many reasons, the first one being that after unzipping you are seeing an unidentified developer warning, while the builds are signed (the zips are not which can cause some issues but not this one I'd expect).

One thing you can try, although I'm not sure that's your issue, to make sure it's not the unsigned zip issue, you can download with Safari, **but**, before make sure th

[2018-12-03 14:30] glouel commented on #681
Hi @StubbornYang and sorry about that issue. Thanks for the video too.

First, can you try opening Console.app, then click User reports on the left column and look for something that starts with "com.apple.preference.desktopscreeneffect.screeneffects.remoteservice" (it may be in System reports too). Those are the crash logs and would be helpful to figure out your issue if you can send them. Looks

[2018-12-03 17:55] sfalatko commented on #681
Same issue happened to me on the beta. 1.4.5 is working fine. I have included my crash log.

Regards.

Here is the first part of my crash log (I'm having issues uploading a file)....

Process:               com.apple.preference.desktopscreeneffect.remoteservice [15494]
Path:                  /System/Library/PreferencePanes/DesktopScreenEffectsPref.prefPane/Contents/XPCServices/com.apple.preference

[2018-12-03 18:01] glouel commented on #681
Hi @sfalatko. Thanks a lot for that crash file, this is super helpful.

Can you please 👍
- tell me if 1.4.5b6 was the first version of Aerial you installed, or if it was your first time using it ?
- go into Sys Pref, Language/Region and tell me what your Preferred languages are (if multiple) ?

Thanks !

[2018-12-03 18:46] LvanProosdij commented on #673
Tested since a couple weeks, works perfectly.
This will save precious GB on multi-users Macs.

[2018-12-03 19:06] sfalatko commented on #681
Sure,

I have been use Aerial for a while. The most recent version I had installed 1.4.4. I saw the updates today and tried the beta (1.4.6b5) but had the issues. I went back to 1.4.5 and was able to get it to work.

Language is English (English (US) - Primary)

[2018-12-03 19:47] glouel commented on #681
@sfalatko I may have fixed it although I'm a bit unsure right now. If you have a minute, could you :

- with your current version, make sure you enabled debug logging and log to disk
- install this beta :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6beta6/Aerial.saver.zip

If it no longer crashes, great, if it does, paste the AerialLog.txt file. I'm looking for these considering wh

[2018-12-03 19:51] glouel commented on #673
Good. Beta6 has this change now too (was sure it was in beta5 but apparently not, been a while).

[2018-12-03 19:51] #673 closed

[2018-12-03 21:10] sfalatko commented on #681
Looks like it is working. Installed and can now access the preference file. Here's the relevant section of my log -

4:06:29 PM : avInit1
4:06:29 PM : <AerialView: 0x7fae95438920> AerialView setup init
4:06:29 PM : Time Management initialized
4:06:29 PM : <AerialView: 0x7fae95438920> isPreview : true
4:06:29 PM : <AerialView: 0x7fae95438920> no local player
4:06:29 PM : <AerialView: 0x7fae95438920

[2018-12-03 21:18] glouel commented on #681
Great ! Thanks for the crash log again and checking @sfalatko.

@StubbornYang can you try beta6 and give it a shot maybe ? If not please see the instructions I left in my first reply.

[2018-12-05 11:47] terryso commented on #681
Same issue happened to me on the beta6

Process:               com.apple.preference.desktopscreeneffect.screeneffects.remoteservice [5019]
Path:                  /System/Library/PreferencePanes/DesktopScreenEffectsPref.prefPane/Contents/Resources/ScreenEffects.prefPane/Contents/XPCServices/com.apple.preference.desktopscreeneffect.screeneffects.remoteservice.xpc/Contents/MacOS/com.apple.preference.

[2018-12-05 11:51] stunzi commented on #679
Tested Beta 6 and external Apple Cinema Display does not dim.

Tried Mirroring and both Laptop and External as primary.

Only thing I can think of is the Apple Thunderbolt to USB-C adapter.

Happy to run any sysdiagnostics or reports to help explore this further.

On Mon, Dec 03, 2018 at 8:54 AM, Guillaume Louel < notifications@github.com > wrote:

[2018-12-05 13:04] glouel commented on #679
@stunzi there's nothing in beta6 yet about this, I was waiting on your answers. Can you answer my questions please :

- When you use the dim keys, does it dim both screens simultaneously, or just the one that has the mouse/focus ?

[2018-12-05 13:13] stunzi commented on #679
It dims the primary display with the dock. In this case the external monitor. If I hold a modifier (func or opt I forget) it dims the secondary display.

On Wed, Dec 5 2018 at 8:05 AM, < notifications@github.com > wrote:

[2018-12-05 15:04] glouel commented on #681
Hi @terryso

It looks like the crash happens when downloading the JSONs for the video, maybe the URLs are blocked by some firewall.

Can you check if  you can access these in Safari ?

- https://sylvan.apple.com/Aerials/resources.tar
- https://sylvan.apple.com/Aerials/2x/entries.json
- http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/entries.json

If you can, I'd suggest

[2018-12-09 23:57] avenged110 opened #684 "Text getting cut off on 10.9"
#### Required information
- Mac model: MacBookPro11,3
- macOS version: 10.9.5 13F1911
- Monitor setup: Built-in display

#### Description of issue
There are a number of areas where the text is cut off when using OS X 10.9, as shown in the screenshots. This is an issue that seems to show up a lot on 10.9 using newer software. There's also a couple of tiny, random things like "1 minutes," a missing

[2018-12-10 11:07] qwertimus commented on #630
This is somewhat disappointing, as many of the new versions are noticeably less sharp than the older versions (@ 1080p H264). For example, the Liwa and China videos show a pronounced difference in visual quality, separate from the compositional changes—which I generally dislike (SF Bay Bridge awkwardly cropped down, for instance).

I understand not wanting to provide direct choices; however, pleas

[2018-12-10 16:43] glouel commented on #684
Hey, thanks for your report. It indeed looks horrible on 10.9 as your screenshots show, sorry about that.

There are multiple types of issues, I'll try to sum them up:
- Cut text in labels: if I remember correctly, pre 10.11, macOS used to use Lucida Grande before switching to Helvetica Neue. Looks like it was slightly wider and things get cut. The text label width is calculated automatically by X

[2018-12-10 16:45] glouel commented on #630
Yeah video management is something I'll try to add in the next build, I can't reliably track old versions sadly, but I can at least point unused files and move them to a directory.

[2018-12-11 04:42] avenged110 commented on #684
I am very appreciative that you still support 10.9. I can live with there being some issues in exchange for that, I mostly just wanted to make sure you were aware in case there was something you could do (such as with the labels). The test build appears to have fixed those issues, by the way, so that's awesome.

The underlined macOS versions weren't really an issue, just inconsistent. One includes

[2018-12-11 18:53] NightRaider73 opened #685 "They updated the .json again"

[2018-12-11 18:54] NightRaider73 commented on #685
@glouel Yesterday was update day and I guess they updated Hawaii again and New York👎🏻

[2018-12-11 18:57] glouel commented on #685
Thanks for the heads up, I'll have a look.

[2018-12-11 18:58] NightRaider73 commented on #685
It really is just annoying

[2018-12-11 19:56] glouel commented on #684
Cool !

True, I should probably fix that too thanks.

That's wild. No guarantee but I'll try to see if I can think of a workaround. If not you'll have to use the menu below instead.

Np!

[2018-12-11 21:41] glouel commented on #630
So as pointed, new version of the tvOS12 JSON, again :

Updated to 4K (yay again):
- Great Wall 3 : Looks about the same visually, but longer, the video lasts 4 minutes now, the added bit is at the end
- Ilulissat Icefjord (day) : Cropped differently (much less sky), more dramatic colors, same length
- Pu‘u O ‘Umi (night) : Bumped to 4 minutes too, from 2:24, slightly more dramatic colors
- Pu‘u O

[2018-12-11 21:42] glouel commented on #685
Updated here : https://github.com/JohnCoates/Aerial/issues/630#issuecomment-446372861

[2018-12-11 21:42] #685 closed

[2018-12-11 22:56] NightRaider73 commented on #630
Thank you again!!

[2018-12-12 16:34] glouel commented on #630
Since it was long overdue, I released 1.4.6 finale with those changes.

[2018-12-12 16:34] glouel commented on #636
Implemented in 1.4.6

[2018-12-12 16:34] #636 closed

[2018-12-12 16:37] NightRaider73 opened #688 "Bug with default location"
@glouel When clicking the "reset to default" it still resets it to

Users/Library/Caches/Aerial
Hope this helps you👍🏻
![screen shot 2018-12-12 at 8 36 03 am](https://user-images.githubusercontent.com/44180668/49884142-0a7d6f00-fde9-11e8-84c1-b7f85255bae8.png)

[2018-12-12 16:39] glouel commented on #688
Thanks for the report, this is as intended though.

"Default" gets computed as startup, and if your folder is in the old location (user directory), it will consider that as default. Same if global directory.

[2018-12-12 16:42] glouel commented on #674
That option is now available, you can dedulplicate old videos, see here : https://github.com/JohnCoates/Aerial/issues/532#issuecomment-446655252

[2018-12-12 16:42] #674 closed

[2018-12-12 16:49] NightRaider73 commented on #688
I deleted my Cache and changed it to the new default the clicked the "reset" and it reset it to that.

[2018-12-12 16:52] glouel commented on #688
Actually, unless I'm wrong, what's on the left and that you maked is the name of your Mac/Hard drive, and not your user folder. So it's working as intended for you.

[2018-12-12 16:54] NightRaider73 commented on #688
![screen shot 2018-12-12 at 8 54 20 am](https://user-images.githubusercontent.com/44180668/49885257-96909600-fdeb-11e8-8747-c3d02cf10261.png)

[2018-12-12 16:58] glouel commented on #688
What does it show BEFORE you click ?

[2018-12-12 17:04] NightRaider73 commented on #688
I re-tested and it is fine now.  Thank you again👍🏻

[2018-12-12 17:04] #688 closed

[2018-12-12 18:42] NightRaider73 commented on #623
@hidehiro98 Could you please update your download 1.4.6 and update your guide please?
https://github.com/JohnCoates/Aerial/releases/download/v1.4.6/Aerial.saver.zip

[2018-12-13 14:52] glouel commented on #549
I'm reopening this, this will be the main focus for me for 1.4.7.

[2018-12-13 14:56] glouel commented on #635
@hidehiro98 if you are still working on this, please note that some id changed with the december 5th new batch of videos, you can see the changes here :

https://github.com/JohnCoates/Aerial/commit/28b16b197be33d2e3eb5597023dd9ed008ca4b10#diff-8ca591987ad761e7c867fdfb399a0aab

If you need any help let me know.

[2018-12-13 15:37] glouel commented on #549
So far so good with Sparkle and the Heroku instance, but it has a pretty big drawback in that it generates the appcast for your own repos and not the ones you manage with the same name. So my current setup works only for my fork.

It's good enough for testing and I'll be doing my implementation/testing there, but that won't do for the public release. I'll try getting in touch with @JohnCoates to f

[2018-12-13 18:07] esetnik commented on #549
Maybe we could just create a custom appcast and version it with this project. Then point it at the master branch like this https://raw.githubusercontent.com/JohnCoates/Aerial/master/appcast.xml. Then when you do a new release just include an updated appcast.xml file in the final merge to master.

[2018-12-13 18:07] esetnik commented on #549
Then you wouldn't need to deal with all the heroku stuff and everything would be self-contained in the project on github.

[2018-12-13 18:56] glouel commented on #549
Yep I'm looking at that as a plan B, one other issue with the heroku is that it doesn't handle the EdDSA signing that was added to Sparkle "recently" so that's an issue too that prevents updates. Otherwise sparkle integration looks ok (I did it with cocoapods which brings some issues by not copying frameworks into the .saver, but I worked around that).

[2018-12-13 19:34] bryanmmch opened #689 "quits when opening"
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2018-12-13 19:50] glouel commented on #689
Hi, sorry about that.
- Does that happen all the time ?
- Was this your first install of Aerial or did you update from another version ?

If this was your first install, can you go into /Library/Caches/Aerial/ and let me know which files are there ?

Also make sure you're not behind a firewall or something similar.

Thanks

[2018-12-13 21:33] bryanmmch commented on #689
Yes, this is consistent.
I’ve removed the preference pane, the entire cache and the pref file.

This was an over-the-top upgrade from a previous version.

Unrestricted internet.

[2018-12-13 22:05] glouel commented on #689
@bryanmmch after deleting the entire cache, same issue I guess ? Since you deleted your cache, can you check after relaunching if it created /Library/Caches/Aerial ? And tell me which files are there after launch and post crash ?

This is assuming you wiped the Aerial directory in your cache (including the Aerial directory itself, not just content). If you haven't, I'd suggest that. Thanks!

[2018-12-13 23:05] bryanmmch commented on #689
that's odd, the /Library/Caches folder permissions where such that our
account (admin:80) didn't allow changes.

Re-created the Caches directory, Aerial re-creates its 'Aerial' folder with
the contents
Aerial
entries.json
resources.tar
TVIdleScreenStrings.bundle
tvos10.json
tvos11.json

and confirmed as working.

thanks :)

On Fri, Dec 14, 2018 at 11:05 AM Guillaume Louel <notifications@github.com

[2018-12-13 23:12] glouel commented on #689
@bryanmmch That's weird for "Caches"... But good it's fixed. I guess we should add a sanity check for that, always not nice to crash

Thanks for following up quickly on this ;)

[2018-12-13 23:12] #689 closed

[2018-12-14 10:56] ios11iphone6s opened #690 "Screensaver black"
macOS HighSierra 10.13.3
Hackintosh iMac (27-inch, Late 2013)
FullHD 1920x1080

Installed through brew cask.

![duq0fcmuwaiu5fd jpg large](https://user-images.githubusercontent.com/36934886/49999280-6c420280-ffbc-11e8-9320-ee5ef72c9084.jpg)

[2018-12-14 13:56] glouel commented on #690
Hi @ios11iphone6s

There are bugs with 10.13.3, there's a couple of workarounds but it doesn't work for most people (restarting Syspref with aerial selected and enabling screensaver clock).

I would highly recommend you upgrade to at least .4 or .6 as this is a MacOS issue. Check this threads for more:

https://github.com/JohnCoates/Aerial/issues/567
https://github.com/JohnCoates/Aerial/issues/433

[2018-12-15 02:11] SeanMSmith commented on #630
I updated the community descriptions (#691) for those London and Los Angeles videos that have been re-cropped or re-edited.

The new Victoria Peak video is simply ghastly, but then so was the new Victoria Harbour 2 video from the last round of Apple changes. Is it possible that the HDR versions of these two videos actually look good on an Apple TV? (If they look anything like these SDR versions, t

[2018-12-15 15:16] glouel commented on #630
@SeanMSmith that's awesome, thanks, will be in next build.

I haven't seen the videos on a HDR TV yet, but usually (modern) movie and TV content is massively saturated, so maybe they wanted to align with those expectations ? The color expectations are certainly different on a "calibrated" computer screen though over the years, the color spaces are slowly converging.

By experience, downconverting

[2018-12-15 20:32] SeanMSmith commented on #630
The new "Move old videos" feature will indeed be a great help (even if only for archiving old videos), as has been the recently-added ability to right-click on videos in the Aerial UI and open them in QuickTime Player, which is tremendously useful when editing community descriptions. These two new features will save a lot of time, so thank you very much!

Of course, with all the edits and re-crops

[2018-12-15 22:17] NightRaider73 opened #693 "Feature Request: Ability to select where you want to move old videos"
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model: MacBook Air (13-inch, Early 2015)
- [ ] macOS version: 10.14.2
- [ ] Monitor setup: Display only

#### Description of issue / Feature request

Ability to select where you want to move your "old videos" and/or a tool tip that shows where you move it to when you click "m

[2018-12-16 20:00] esetnik commented on #549
Very cool!

[2018-12-17 17:57] NightRaider73 commented on #693
Okay then

[2018-12-17 20:57] SimmPe opened #694 "System Preferences crash"
@JohnCoates
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model: MacBook Pro (15 Zoll, 2016)
- [ ] macOS version: 10.14.2 (18C54)
- [ ] Monitor setup: Integrierter Bildschirm 15,4-Zoll (2880 x 1800) + Display: HP S340c 34-Zoll (3440 x 1440) | Grafikkarte: Radeon Pro 455 2048 MB

If appropriate, please enable `Debug mode`

[2018-12-17 21:08] glouel commented on #694
Hi, thanks for your report and sorry about that.

Few questions because you're not giving me much context here...
- was this the first time you installed Aerial ? Did you have a previous version before ?

Something that seems incredibly weird is that path : /Users/SimmPe/Movies/Aerial/tvos11.json
- Did you change the default path for this or not ? And then it failed after that ?

 By default your

[2018-12-17 21:32] SimmPe commented on #694
yeah. just restarted system preferences -> et voila: Warning is gone

[2018-12-17 21:35] #694 closed

[2018-12-19 10:58] hidehiro98 commented on #623
@glouel I updated the list!! Would you update the link URL because URL is changed while the title of the document changing.
https://paper.dropbox.com/doc/Aerial-macOS-screen-saver-list-with-version-1.4.6--AT8JYSGrIHiMF4g2IcZq30lmAg-HvOeL0gNhLpqpIFgmLHaS#:h2=California-to-Vegas

[2018-12-19 15:03] glouel commented on #623
@hidehiro98 awesome, updating right now ! Thanks a lot !

[2018-12-26 13:32] #690 closed

[2018-12-26 13:34] glouel commented on #680
Closing this as no answer, feel free to reopen if you still need help

[2018-12-26 13:34] #680 closed

[2018-12-27 08:30] hachirotahoshino opened #696 "Blank window when selecting aerial in the screensaver prefpane"
#### General troubleshooting tips

Before logging an issue please check that:
- [x 1.4.6] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x not exactly this and workaround of other haven't worked ] Your issue isn't already mentioned in our [issues](https://git

[2018-12-27 14:33] glouel commented on #696
@hachirotahoshino first, really sorry about that !
According to the log, it looks like you are running version 1.4.4 ? Did you try version 1.4.6 ? There were many changes since 1.4.4 and many bugs fixed.

See here :
https://github.com/JohnCoates/Aerial/releases/latest

I would suggest you upgrade to 1.4.6 and let me know if you still see the issue. Your log seems to point to a crash when downloadi

[2018-12-27 14:43] hachirotahoshino commented on #696
Hi @glouel In 1.4.4 i had the crash, now i don't have crash but blank pref pane as in the picture.
I don't have anything blocking outgoing connections!

Hi have checked a similar topic before and tried this link in safary without any issue:

![capture d ecran 2018-12-27 a 15 42 02](https://user-images.githubusercontent.com/38068857/50483900-0d35b200-09ee-11e9-88c2-70d9f091b8b7.jpg)

without crash,

[2018-12-27 15:14] glouel commented on #696
@hachirotahoshino Thanks a lot for clarifying ! I'll make a special build with forced logs for you so we can find the issue. Will get back to you later today.

[2018-12-27 15:39] glouel commented on #696
@hachirotahoshino sorry for the multiple message, you can find the build here :
https://github.com/glouel/Aerial/releases/download/v1.4.7test2/Aerial.saver.zip

Please note, if you delete your .plist (/Users/YOURUSERNAME/Library/Preferences/ByHost/com.JohnCoates.Aerial.{UUID}.plist), starting with 1.4.6, Aerial will do the following things at startup to look/create the cache folder:

- Look if /Li

[2018-12-27 16:13] hachirotahoshino commented on #696
hi, so first i've tried with aerial in console while launching aerial:

the results i have are these:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'working directory doesn't exist.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff3743cff5 __exceptionPreprocess + 256
	1   libobjc.A.dylib                     0x00007fff63594efb

[2018-12-27 16:20] glouel commented on #696
@hachirotahoshino interesting, it looks as if the cache directory doesn't exist/wasn't created, and it probably fails to untar the tvos12 json bundle.

Let me know what happens with the other build, particularly with your cache directory location, I think the issue is around this (it could be that the path is write protected or your user doesn't have access to it, something like that).

[2018-12-27 16:22] hachirotahoshino commented on #696
after cleaning the caches and prefs (strangely there was no Aerial folder in neither of global nor user Library/Caches)

installed the new one

relaunch

![capture d ecran 2018-12-27 a 17 16 45](https://user-images.githubusercontent.com/38068857/50486746-aae3ae00-09fb-11e9-802c-934d520e6d08.jpg)

and same issues in console.

I went to check for logs in /L/Caches or ~/L/Caches without success. no.

[2018-12-27 16:31] hachirotahoshino commented on #696
Yes i've deleted the plist in ~/LPreferences/byHost shouldn't i? i thought as clean install. :-/

I just tried creating Aerial folder in both /L/C and ~/L/C

same issue

[aerial.mov.zip](https://github.com/JohnCoates/Aerial/files/2712885/aerial.mov.zip)

il start aerial, ask for the automatic update but directly goes to empty window (the message for auto update was so fast i had to record it to re

[2018-12-27 16:32] hachirotahoshino commented on #696
ok i'll check permission

[2018-12-27 16:35] hachirotahoshino commented on #696
`HackThalo:~ ssm$ ls -ld /Library/Caches/Aerial/
drwxrwxrwx  2 ssm  admin  64 27 déc 17:24 /Library/Caches/Aerial/
HackThalo:~ ssm$ ls -ld Library/Caches/Aerial/
drwxrwxrwx  2 ssm  staff  64 27 déc 17:23 Library/Caches/Aerial/`

[2018-12-27 16:38] glouel commented on #696
Yes you did alright deleting the plist, I read your answer too fast, sorry about that.

I would suggest removing  /Library/Caches/Aerial and only keep  ~/Library/Caches/Aerial and try again ? Sorry about this, trying to understand what happens here.

[2018-12-27 16:56] hachirotahoshino commented on #696
Tried with only /L/C/Aerial/ , and same issue!

Please don't be sorry, software is great and free and you're helping <3

If it help for me it happen since i deleted the folder where i wanted it to store files and placed it on another hard drive.

i thought it would just putting me an error it can't find it

then i've done so much things to uninstall reinstall that i may have tempered something :)

[2018-12-27 17:02] glouel commented on #696
Just to be clear, I'd suggest:
removing /Library/Caches/Aerial (global one)
keep ~/Library/Caches/Aerial (in your user directory)

And try again ?

Just to make sure, did you happen to have moved your whole user directory (not just the Aerial cache) ?

I'm a bit puzzled about what could be happening, especially since you removed the plist. I'll think of something ;)

[2018-12-27 18:19] hachirotahoshino commented on #696
same issue :)

nop nop didn't touch my user directory. everything's fine for the rest

on 1.4.4, when it crashed, i started by removing plist then caches/aerial folder(s) but it kept crashing, then i didn't use aerial for some time and removed it then today i d/l 1.4.6 installed, and i just had this situation

i only touched the "supposedly" aerial files, nothing else. that's also the reason i ope

[2018-12-27 18:31] glouel commented on #696
Please give this build a shot :
https://github.com/glouel/Aerial/releases/download/v1.4.7test3/Aerial.saver.zip

It will create AerialLog.txt on your desktop instead, which should be safe permission wise, and hopefully lets me find the issue. Thanks.

[2018-12-27 18:51] hachirotahoshino commented on #696
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2713101/AerialLog.txt)

[2018-12-27 18:52] hachirotahoshino commented on #696
i recognise my old AERIALS personalized cache folder path :)

[2018-12-27 19:07] glouel commented on #696
So, for some reasons, it looks like your old folder is still taken into account, see this line :

19:50:49 : cache to be used : Optional("/Volumes/DATAS/AERIALS")

That folder doesn't seem to exist and thus everything fails afterwards. I've added a fix to check if the folder exist before using it, and if not fail back to the folders I specified above.

That location is persisted in the plist, so,

[2018-12-27 19:17] hachirotahoshino commented on #696
Thanks, i promess i trashed the byHost plist :) i also didn't understand why it kept the settings, i thought Saved Applications State but found nothing... and you were right, there was also a plist directly below /preferences, should have checked sorry :-/

[2018-12-27 19:17] hachirotahoshino commented on #696
i was so sure it should be in ByHost i haven't checked there...

[2018-12-27 19:18] glouel commented on #696
No worries, I've seen it a couple of times in the main Preferences instead of ByHost here, but I thought it was something on my development machine.

All good then ?

[2018-12-27 19:21] hachirotahoshino commented on #696
Before d/ling your test4 version, i just tried trashing the second plist, no more plist either in prefs or byhost... and same issue. so i am going with the test4 and i'll tell you.

[2018-12-27 19:21] hachirotahoshino commented on #696
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2713155/AerialLog.txt)

FYI the log with earlier and latest test3 version now i'll test4

[2018-12-27 19:32] hachirotahoshino commented on #696
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2713177/AerialLog.txt)

![capture d ecran 2018-12-27 a 20 31 15](https://user-images.githubusercontent.com/38068857/50492182-6b768b00-0a16-11e9-86ea-4357a0114635.jpg)

![capture d ecran 2018-12-27 a 20 30 54](https://user-images.githubusercontent.com/38068857/50492183-6b768b00-0a16-11e9-8a14-c7ff1ae20863.jpg)

better but not there yet, or

[2018-12-27 19:47] glouel commented on #696
First, your log looks ok now.

20:23:49 : cache to be used : Optional("/Users/ssm/Library/Caches/Aerial")

Your first screenshot looks ok, not the second, did you mean to post both ? Was the first launch ok but not the second ? Bit of context would help. Close and restart System Preferences maybe ?

[2018-12-27 19:53] hachirotahoshino commented on #696
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2713220/AerialLog.txt)
[aerialtest4.mov.zip](https://github.com/JohnCoates/Aerial/files/2713221/aerialtest4.mov.zip)

sorry i explained badly, video worth thousands words :)

[2018-12-27 19:58] glouel commented on #696
No problem!

Just saw your video, that's indeed a new issue. Did you completely close System Preferences (not just go back to the main panel) before reopening it ? I'd suggest using Console as you did above and look for any error thrown there when you click the button.

[2018-12-27 20:01] hachirotahoshino commented on #696
yep, done that! quit prefs if i just go back to main panel and come back i go directly to blank page!

i’ll do that tomorrow! gotta go to bed for now! thanks for everything so far, i’ll keep you updated ;)

[2018-12-28 04:38] hachirotahoshino commented on #696
`
[C21 Hostname#8d0a2361:443 tcp, url: https://sylvan.apple.com/Aerials/2x/Videos/comp_A105_C003_0212CT_FLARE_v10_SDR_PS_FINAL_20180711_SDR_4K_HEVC.mov, tls] cancelled
	[C21.1 <private> 192.168.69.252:51003<->IPv4#93794966:443]
	Connected Path: satisfied (Path is satisfied), interface: en2, ipv4, dns
	Duration: 0.719s, DNS @0.000s took 0.002s, TCP @0.004s took 0.019s, TLS took 0.063s
	bytes in/out

[2018-12-28 04:42] hachirotahoshino commented on #696
This one loops good news is it started populating the Caches/Aerial folder so it is not right access to the folder:

![capture d ecran 2018-12-28 a 05 41 17](https://user-images.githubusercontent.com/38068857/50502910-39d7e100-0a63-11e9-98de-8958e85ee46a.jpg)

[2018-12-28 04:44] hachirotahoshino commented on #696
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2713987/AerialLog.txt)

[2018-12-28 11:42] glouel commented on #696
Thanks for you for looking into it, some thoughts:
- the start/cancel/cancelled on console is normal, it's just the SSL connection being closed after being used. What you saw here was the streaming of a video, which is quite ok.
- your Cache/Aerial/ folder looks correct indeed (finally !)
- if I read  your log correctly, you opened the "Economiseur d'écran" panel, waited for maybe 30 seconds befor

[2018-12-28 13:46] glouel commented on #696
So, found a small issue but I'm not confident that is it. Can I bother you to try this build anyway ?

https://github.com/glouel/Aerial/releases/download/v1.4.7test5/Aerial.saver.zip

If it still fails, I'd love if you could send me the full console.log, following this procedure : https://support.omnigroup.com/console-osx/

Don't filter by Aerial this time on top left, use the "Effacer" button in

[2018-12-29 08:32] hachirotahoshino commented on #696
[console.txt](https://github.com/JohnCoates/Aerial/files/2716201/console.txt)
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/2716202/AerialLog.txt)

So, i still have blank window when i choose to edit aerial setting so here are the console export and aerial log (with the test5 you sent me)

[2018-12-31 11:47] jhewell56 commented on #479
Any progress or updates on this request? I would like it as well, if possible.

[2018-12-31 15:11] glouel commented on #696
Hey @hachirotahoshino sorry for not getting back to you earlier.

So I looked at your logs, here's the error :

[code]

That's a bit peculiar ! What seems to be happening is that the system tries to change the extended attributes of `DesktopScreenEffectsPref.prefPane`(which I'm pretty sure is the preference panel where you pick the desktop background and which screensaver to use).

Why does the sy

[2018-12-31 16:31] glouel commented on #696
I'd say nope, shouldn't be !

🎉🎉🎉

My guess, somehow those builds got quarantined and rolling back to 1.4.6 put a fresh non quarantined file as it should be.

Pas de souci, bon réveillon aussi  et content qu'on ait enfin résolu le truc ;)

[2018-12-31 16:43] glouel commented on #479
It's still in the todo list, I'm not sure if we can still do that on modern macOS, we'll see next year I guess ;)

[2019-01-08 00:17] Shezan2002 opened #698 "Feature Request"
- [ ] Mac model: iMac 21.5" (Mid 2014)
- [ ] macOS version: Mojave 10.14.2
- [ ] Monitor setup: Display Only

I was hoping that a new feature could be added so that the screensavers could just shuffle in one go, it would be great so that the same screensaver doesn't repeat over and over. If that option does exist, can somebody please tell me how to activate it, would be really appreciated, thanks.

[2019-01-09 00:17] Shezan2002 commented on #698
It has been solved, looked like a temporary glitch, its finally shuffling :) Thanks

[2019-01-09 00:17] #698 closed

[2019-01-10 18:18] TheMoonDawg commented on #672
I also wanted to chime in and comment on how phenomenal the new updates are. I LOVE the Homebrew support (much easier to keep up to date)!

I've been running the old version for the past year and seeing all the new videos and config options make this app a must have for any Mac owner. I've already swayed a few coworkers to install it.

Awesome work @glouel !!

[2019-01-16 19:59] AnderCrafter opened #701 "Stalled Image"
- [iMac (Retina 4K, 21.5-inch, 2017) ] Mac model:
- [ 10.14.2] macOS version:
- [ Internal] Monitor setup:

If appropriate, please enable `Debug mode` and `Log to disk` in `Advanced` tab and replicate your bug, then attach the `AerialLog.txt` file (You can access this file through the Advanced tab).

#### Description of issue / Feature request

20:07:57 : <AerialView: 0x7fc9b544dd00> AVPlayerItemP

[2019-01-16 20:07] glouel commented on #701
Hi, sorry about that issue.

Reading the log, it looks like files may not be available offline, see this :

[code]

If you are really loading files from disk, you should see something like this :

[code]

I'd suggest you double check that you have downloaded the file in the correct format (4K HEVC). In the main UI, you can change the "Preferred video format" from 4K HEVC to another, you should see

[2019-01-17 10:31] AnderCrafter commented on #701
Ok, i will check if i am back from School, said it to download everything, it should be finished by now

Sent from my iPad

[2019-01-17 15:23] AnderCrafter commented on #701
Ok it works, thank you

[2019-01-17 15:24] AnderCrafter commented on #701
ok it works

[2019-01-17 15:24] #701 closed

[2019-01-17 15:27] AnderCrafter opened #702 "Open in Quicktime not Working"
When clicking "Open in QuickTime" nothing happens, only possible explanaition is that 5K Player is my default video player

[2019-01-17 15:42] glouel commented on #702
So I just double checked, if I set VLC as default for all .mov files, it then opens VLC as it should. So I'll double check on your end your file associations, or maybe it's something with your specific player, can't help you much more than that.

[2019-01-23 22:14] murdockrb opened #703 "2018 MacBook Air Issue"
I looked through current and closed issues with no success. I have a new 2018 MacBook Air with Mojave up-to-date. Install latest 1.4.6 trying both current user and all users. Can initially see the Aerial in list of screensavers but soon all screensavers are blanked out. Deleting the Aerial restores the other screensavers. I have quit System Preferences when installing, tried rebooting, deleted any

[2019-01-24 13:43] glouel commented on #703
Hey @murdockrb

Sorry about that, can you look at this post https://github.com/JohnCoates/Aerial/issues/681#issuecomment-443729062 and paste the crash log so I can have a look at it ? Thanks !

[2019-01-24 22:03] murdockrb commented on #703
[Crash Log.txt](https://github.com/JohnCoates/Aerial/files/2793807/Crash.Log.txt)
Thanks here is the log

[2019-01-24 22:06] murdockrb commented on #703
Thanks for the reply. I've uploaded the Crash Log to the issue. Hopefully there is no personal information. I'm not that knowledgeable about them.

Thank you!!

________________________________
From: Guillaume Louel <notifications@github.com>
Sent: Thursday, January 24, 2019 5:43 AM
To: JohnCoates/Aerial
Cc: murdockrb; Mention
Subject: Re: [JohnCoates/Aerial] 2018 MacBook Air Issue (#703)

Hey @mu

[2019-01-25 13:59] glouel commented on #703
Thanks for this, I'll have a look later today and get back to you. To answer your question, yes, crash logs are anonymized. More information here on Privacy section if you want to know more : https://developer.apple.com/documentation/os/logging#overview

[2019-01-25 15:15] glouel commented on #703
The log isn't straightforward but it does look like some path issue (did you change cache location at some point ?), sounds similar to this one : https://github.com/JohnCoates/Aerial/issues/696

Could you remove Aerial.saver (in both locations, see readme for more info on removing them) and install this test build :
https://github.com/glouel/Aerial/releases/download/v1.4.7test5/Aerial.saver.zip

I

[2019-01-25 18:23] glouel commented on #630
So a new JSON with new videos, the strings bundle was also updated.

- Space, Antartica, night : Aurora Australis over Antartica, wiiiilld colors, looks really nice !

![capture d ecran 2019-01-25 a 18 21 16](https://user-images.githubusercontent.com/37544189/51764025-4f790e80-20d4-11e9-9c4f-39fae38a8ec0.jpg)

- Space, North America, night : Moving towards Canada and Aurora Borealis, definitely a

[2019-01-25 18:35] dVIAN13 opened #704 "1.4.7beta1 json update issue"
Hello @glouel! great work at keeping this updated!

I think I may have found an issue... I went to the updates tab and clicked to check for json update button.. the button never came back to clickable and I didn't have any new videos available to download in my main list... log says total processed 69 videos.. also, the button doesn't become usable again until I close out Aerial and got back into

[2019-01-25 18:40] glouel commented on #704
Hey @dVIAN13

The button thing is normal in this beta, I had to rush it because of the new videos. Did you close and reopen the control panel ? The list should update then as far as I remember.

[2019-01-25 18:42] dVIAN13 commented on #704
@glouel Yes, I have opened/closed a few times to see if I could get it to update...

here's is how my folder looks as far as recently updated files..
<img width="629" alt="screen shot 2019-01-25 at 10 42 11 am" src="https://user-images.githubusercontent.com/22992333/51765887-f1c1d380-208d-11e9-8cd6-82d596fd8dd5.png">

[2019-01-25 18:45] glouel commented on #704
@dVIAN13, can you look at the size/date of your entries.json ? This is the new one :

![capture d ecran 2019-01-25 a 19 44 19](https://user-images.githubusercontent.com/37544189/51766004-b6e58d00-20d9-11e9-9d9e-6551103f1409.jpg)

[2019-01-25 18:47] dVIAN13 commented on #704
here you go.. :)

looks like it did not update...

<img width="265" alt="screen shot 2019-01-25 at 10 46 47 am" src="https://user-images.githubusercontent.com/22992333/51766104-8c221700-208e-11e9-8846-e63df6f4ae6f.png">

[2019-01-25 18:50] glouel commented on #704
Did you fully close and restart System Preferences ? In any case, just delete entries.json, it should redownload it and you'll get the new file. Please let me know how it goes !

[2019-01-25 18:52] dVIAN13 commented on #704
I had closed completely.. a few times. deleting/moving it out of the folder worked...

[2019-01-25 18:53] glouel commented on #704
Ok I'll check the button code, maybe something didn't work. I'll update the 1.4.7beta1 release info thanks !

[2019-01-25 18:55] dVIAN13 commented on #704
also, my system was hung for a few seconds initially after opening the preference pane. It then popped the enable auto update window.. Not sure if my system is just maxed out of RAM right now, or if it was doing something...

[2019-01-25 19:01] glouel commented on #704
The sparkle initial check should not hang things, could be specific to your system. I'll keep an eye open if other people complain about it ! If you manually click the second button, it should tell you you are up to date.

I've updated the release note to add the mention to delete entries.json.

[2019-01-26 14:14] lkingjr commented on #630
Installed 1.4.7 Beta on a Mojave 10.14.4 beta install. For some reason the AerialLog.txt file is created to the Desktop instead of in the Cache folder.

[2019-01-26 15:31] glouel commented on #630
@lkingjr beta2 fixes this :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta2/Aerial.saver.zip

[2019-01-26 15:33] lkingjr commented on #630
Thank you.

On Sat, Jan 26, 2019 at 10:31 AM Guillaume Louel <notifications@github.com>
wrote:

[2019-01-26 15:38] lkingjr commented on #630
I forgot to mention, Clicking the "Check Now" update button generates an
error.
[image: Screen Shot 2019-01-26 at 10.35.20 AM.png]

On Sat, Jan 26, 2019 at 10:33 AM Louis King Jr <inlieuoflou@gmail.com>
wrote:

[2019-01-26 15:40] glouel commented on #630
Can you repost your screenshot through github ? It doesn't work by email. Thanks.

[2019-01-26 15:43] lkingjr commented on #630
Yes.
![image](https://user-images.githubusercontent.com/2839164/51789472-264d9200-2157-11e9-91df-3d2f61e0dc9f.png)

[2019-01-26 16:02] lkingjr commented on #630
FWIW, I restarted my Mac and no longer get the error.

[2019-01-26 16:03] glouel commented on #630
I think I had an issue with the XML, tried various fixes. Did you actually auto update ?

[2019-01-26 16:05] glouel commented on #630
Looks like I fixed it and it seems to work. The update process isn't super nice, it doesn't restart the system preferences panel (I don't think it can) but it's better than not having an auto update at all I think !

[2019-01-26 16:07] lkingjr commented on #630
I agree. :o)

[2019-01-27 03:20] ZxNuClear opened #708 "1.4.7beta1/2. Crash when try open Settings"
When I try to open the settings, I get this error. Version 1.4.6 works well and there are no problems with it. What data needs to be provided to solve the problem?

![screen shot 2019-01-27 at 05 48 24](https://user-images.githubusercontent.com/47071207/51795867-2901c300-21fb-11e9-8418-71cc184b2c79.png)
![screen shot 2019-01-27 at 06 18 03](https://user-images.githubusercontent.com/47071207/517958

[2019-01-27 03:55] ZxNuClear commented on #708
Preview button is works and the Screensaver continues to turn on after a specified time. I just can not access the Settings.

[2019-01-27 10:43] glouel commented on #708
Sorry about that and thanks for the crash log, I'll have a look asap and let you know.

[2019-01-27 14:10] euppi98 opened #709 "HEVC support in early macOS"
Guys, is it possible to install a HEVC in macOS Sierra?

[2019-01-27 15:06] SouzaaThales commented on #708
Same here

[2019-01-27 17:10] ZxNuClear commented on #708
AerialLog.txt

[code]

[2019-01-27 19:20] glouel commented on #708
It looks like I managed to reproduce the crash once on 10.13.6 on my MBA, @SouzaaThales can you confirm you are running that macOS version too ?

It's intermittent here though, most of the time I can open Aerial's panel correctly. Will have a more thorough look as the crash log is pretty vague (awakeFromNib).

[2019-01-27 19:41] glouel commented on #708
@ZxNuClear @SouzaaThales

Can you try this test build ? I think the crash was linked to how I initialized Sparkle which may have created a race condition. This build should be safer.

https://github.com/glouel/Aerial/releases/download/v1.4.7test6/Aerial.saver.zip

[2019-01-27 20:45] glouel commented on #708
Ok thanks for confirmation on OS and sorry about test6. I'll have another look at it and get back to you.

[2019-01-27 20:47] ZxNuClear commented on #708
@glouel
I just reinstalled version 1.4.6 for the experiment and can confirm that there are no problems with it.

[2019-01-27 20:51] glouel commented on #708
@ZxNuClear thanks for taking the time to test all this. My guess is it's linked to sparkle as this is the only major thing added. I'm trying to replicate with the debugger attach and see if I can find what happens.

And don't apologize, your english is more than fine !

[2019-01-27 20:55] ZxNuClear commented on #708
@glouel If you need any additional information from me I will gladly provide it. The next 1.5 hours I will be at my computer

[2019-01-27 21:04] glouel commented on #709
@euppi98 if you mean make Quicktime play HEVC pre High Sierra, I'm not aware of a way to do that, no.

If you just want a HEVC player for Sierra, VLC will do that for you.

[2019-01-27 21:30] ZxNuClear commented on #708
@glouel
I'm not sure that this can be somehow interconnected, but I noticed this feature:
1. if I have version 1.4.5 installed and I try to install version 1.4.6, then the system asks me "Do you want to replace it with the NEWER version?"
![145 to 146](https://user-images.githubusercontent.com/47071207/51807121-d6c0b080-2293-11e9-8cf2-bc5c63fd2345.png)

2. if I have version 1.4.5 or 1.4.6 installe

[2019-01-27 21:36] glouel commented on #708
@ZxNuClear Thanks for looking into it on your end. I think this is because of the beta that you see the older/newer thing.

It took some time to update Xcode on my old macbook air but I think I found the issue this time, it would crash at startup when Sparkle (auto update) never had a chance to check for new updates. This should be fixed in this build.

Please close System Preferences before insta

[2019-01-27 21:40] ZxNuClear commented on #708
@glouel yeah, you did it. Now it worked.
![2019-01-28 0 38 20](https://user-images.githubusercontent.com/47071207/51807220-5c912b80-2295-11e9-9b83-838ecc586d50.png)

[2019-01-27 21:42] glouel commented on #708
@ZxNuClear awesome, sorry again about the bug !

[2019-01-27 21:44] ZxNuClear commented on #708
@glouel Thank you for your work and for your wonderful app.

[2019-01-28 14:11] #709 closed

[2019-01-28 15:53] glouel commented on #704
This is fixed in beta 3 now 👍

[2019-01-28 15:53] #704 closed

[2019-01-28 15:53] glouel commented on #708
Pushed beta 3 with that fix !

[2019-01-28 15:53] #708 closed

[2019-01-28 16:00] dVIAN13 opened #710 "Auto Update Observations"
@glouel

Thank you again for your continued support of this project! I know the auto update function was a pain to get in. With the newest update (1.4.7b3), I decided to try out this new feature. These are my observations:

1) When clicking the 'check for updates' button, it finds the update and loads the updater screen, however it was not 'focused'. I tried several times with same result.(possibl

[2019-01-28 16:30] glouel commented on #710
Yeah and it's definitely not perfect which is why I postponed it for a while ;)

I don't know if this is the expected way Sparkle works or not to be honest (I kinda think it is), that's pretty minor imo.

This one is painful yes 🥺 Sparkle doesn't manage to close the panel. I don't know if I can help fix that by closing the panel when you click "restart and install", I haven't found how any hook in

[2019-01-28 16:45] dVIAN13 commented on #710
Thanks @glouel

1) You're correct, not a deal breaker, just an observation..
2) No worries. it all works, which is i'm sure is a feat in and of itself.. 😄
3) Yeah, it asks for my login for install rights...
4) Okay.. no worries. we can test next build if you find a bug.. 😉

Thanks again for the improvements!

[2019-01-30 17:30] murdockrb commented on #703
And yes, initially I tried to make the cache location an external thumbdrive.

________________________________
From: Guillaume Louel <notifications@github.com>
Sent: Friday, January 25, 2019 7:15 AM
To: JohnCoates/Aerial
Cc: murdockrb; Mention
Subject: Re: [JohnCoates/Aerial] 2018 MacBook Air Issue (#703)

The log isn't straightforward but it does look like some path issue (did you change cache l

[2019-01-30 17:33] glouel commented on #703
I see. If you configured a path that didn't exist (removed thumbdrive), old versions would have had an issue. You didn't comment on whether the test build fix the bug for you ?

[2019-01-30 19:51] murdockrb commented on #703
No it did not. I've removed all old versions based on the read me.

Sent from my iPhone

On Jan 30, 2019, at 9:33 AM, Guillaume Louel <notifications@github.com<mailto:notifications@github.com>> wrote:

I see. If you configured a path that didn't exist (removed thumbdrive), old versions would have had an issue. You didn't comment on whether the test build fix the bug for you ?

—
You are receiving

[2019-01-31 05:14] SeanMSmith commented on #620
Now that Aerial is using kCLLocationAccuracyThreeKilometers (#663), does it make any sense to continue displaying a pretended accuracy on the order of one millimeter? (One tenth of a degree (0.1°) is 1.7 km.)

[2019-01-31 12:43] glouel commented on #620
To be clear, there's a difference between what you ask and what you get, it's merely a suggestion (and on MacOS it has 0 impact).

I'll move to 3 decimals (110m) as a compromise.

[2019-01-31 13:01] glouel commented on #703
Sorry but I'm not sure I understand, or you didn't paste the correct log as everything works there. Please delete the AerialLog.txt on your desktop, and launch Aerial from the System Preferences until it crashes, and paste that AerialLog.txt from your desktop (please also try to use Github UI, attachements by mails doesn't always work).

Thanks

[2019-01-31 20:30] SeanMSmith commented on #710
Something to consider implementing in the Updates pane _might_ be a checkbox to "Check for beta updates", below the "Automatically check for updates" line and indented, and dimmed unless "Automatically check for updates" is checked.

The disadvantage of such a preference, of course, might be an increase in support issues from early adopters who don't understand the concept of beta software, so I'm

[2019-01-31 20:41] glouel commented on #710
I did think about it but it's a mess with Sparkle (the auto updater I use). So the plan right now will be just like homebrew, only deploy full versions there.

I try not to do betas usually but in this case I really want to iron out things before putting it to everyone.

Hopefully betas will be infrequent enough that it doesn't matter.

Yep that's the current plan. For the 1.4.7betas, you'll get b

[2019-01-31 21:35] SeanMSmith commented on #710
When Apple changes the videos and messes up the POI timings in our community descriptions, betas give those of us who maintain them an opportunity to update them before a new version of Aerial is officially released.

(I'm assuming that with Aerial's ability to automatically check for new videos, a new version of the Aerial screen saver isn't necessary to play them, but it seems that when Apple up

[2019-01-31 22:09] glouel commented on #710
Yes I understand. I fix the IDs in the JSONs as part of the update, but that's about it.

There are different cases but to sum it up, it usually does work with border effects. Best case scenario, you get the new videos with a bland description ("San Francisco, One"). Worst case scenario, the new version of a video trips the deduplication mechanism and you may get 3 different versions of the video

[2019-02-01 01:52] murdockrb commented on #703
Good news. When I tried again today, it now appears to be working successfully! Not sure how or why but the System Preferences screensaver screen is no longer blank. Thank you for your help!

[2019-02-01 01:58] glouel commented on #703
Good to know. It's quite possible that the first time it still failed but recovered afterwards. FYI, the fix is also in the public 1.4.7 betas should you wish to install them, see latest version here :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta3/Aerial.saver.zip

[2019-02-01 01:58] #703 closed

[2019-02-01 08:17] char1eslu opened #714 "Screen Saver doesn't run on macOS High Sierra 10.13.1"
"You cannot use the Aerial screen saver with this version of OS X." message
If you get a message saying You cannot use the Aerial screen saver with this version of OS X. Please contact the vendor to get a newer version of the screen saver. that is a known bug with macOS that was reported to Apple in April 2016 as rdar://25569037. As of November 2017 the bug is still not fixed. To work around the b

[2019-02-01 11:44] glouel commented on #714
Hi @char1eslu

This is a bug in some early versions of MacOS, it was fixed in 10.13.4 and is definitely fixed in the latext 10.13.6. You can check this message https://github.com/JohnCoates/Aerial/issues/567#issuecomment-431921805 for more information about it, but as far as I remember, only updating to a later point update (at least .4) was the solution as it wasn't a bug in Aerial as far as we k

[2019-02-01 11:44] #714 closed

[2019-02-01 11:45] #702 closed

[2019-02-01 18:37] glouel commented on #710
So back to the original topic, I *may* have a solution around 2 (not closing/restarting), but I haven't managed to get it to work. Hopefully I'll get there.

Regarding 4 (crash at first launch) I think I got it but will have to double check. We'll be able to check with beta 4.

[2019-02-01 21:01] dVIAN13 commented on #710
@glouel Thank you for keeping on top of this! I think those two things alone would help eliminate some of the confusion on if the update worked/applied or not. :)

[2019-02-07 17:00] alekplay opened #718 "Feature Request: Only play on external displays"
It'd be nice if I could specify the areal to _only_ be displayed on external displays. Currently the options are:

- Only on Main Display
- Mirrored on All Displays
- Different on Each Display

However many, myself included, have our desks set up in a way that the external displays are the main feature-point. Given the size difference between the external displays and the main display, the entire

[2019-02-10 12:08] bgondy opened #719 "Changing cache location seems to be broken"
I've just installed aerial with `brew cask install aerial` on a fresh install of Mojave.

When I change the cache location, nothing is moved to the new one and when I download all videos, they'r are still stored in the default cache location (`/Library/Caches/Aerial`).

The reason why I need to change cache location is that I use a Micro SD card ([nifty minidrive](https://www.amazon.com/gp/product

[2019-02-10 12:35] glouel commented on #719
Hi @bgondy

Just to clarify, "Change location" does not move your existing files. It changes the saved location.

Here's how to make it work :
- Change the location (the path MUST exist)
- Fully quit Aerial (that means fully closing System Preferences)
- Move your files if you want to (you don't have to)
- Restart Aerial in Sys Pref.

You should see the new path taken into account and at the very

[2019-02-10 17:20] bgondy commented on #719
Thanks for clarifying. I was not closing System Preferences, only screensaver options. It works as expected. Maybe this could be mentioned in the troubleshooting section.

Regarding to the external device, it doesn't aim to be unplugged: paperclip would be required to do it.

[2019-02-10 17:20] #719 closed

[2019-02-11 15:16] glouel commented on #719
Depending on systems, just closing the options is enough as opening again will start a new instance. Not on other systems.

In any case, I did add a long section about cache location that will hopefully clarifying things for others, thanks for your feedback ! https://github.com/JohnCoates/Aerial/issues/719#issuecomment-462152875

[2019-02-14 01:01] vovasty commented on #681
Creating ~/Library/Caches/Aerial resolved the issue for me
Aerial 1.4.7b5
OSX 10.14.3

[2019-02-15 13:32] glouel commented on #718
Hey @alekplay

So, I think that right now we can only distinguish "main" and "secondaries" as defined by which one you set as main in Sys Pref. I could probably add "Only on Secondary Displays" as an option though. Will get back to you on this.

[2019-02-15 16:21] glouel commented on #681
Thanks for your feedback @vovasty ! Did you previously move the folder to another location maybe ? What's weird is 1.4.7 should have recreated /Library/Caches/Aerial/ for you in any case. Recreating yourself ~/Library/Caches/Aerial should do the trick too, but that's weird that Aerial couldn't recreate the folder in the first place.

[2019-02-15 17:45] glouel commented on #718
@alekplay can you give this build a shot and let me know if that works for you :
https://github.com/glouel/Aerial/releases/download/v1.4.7test9/Aerial.saver.zip

[2019-02-15 21:22] vovasty commented on #681
It was fresh install using `brew`. Next I replaced new version (1.4.6) with the latest Aerial (1.4.7b5), followed offline mode instructions and realized that Caches/Aerial was not created by the screensaver. After I created it Preferences pane starts working.

[2019-02-18 07:32] fl0gic opened #722 "Request: Ability to check/uncheck all."
It'd be nice to be able to check and uncheck all videos in one click, as well as having this for each specific category.

For instance, I was trying to show off a new Antarctica screensaver, and I went through and unchecked each video by hand until I only had that one to guarantee I would get it (I later found out that I can right click to open in QuickTime, but this would still be useful).

[2019-02-18 14:49] glouel commented on #722
Hi @fl0gic

There's a button at the bottom at the list that pops an action menu, exactly for this purpose.

[2019-02-18 15:32] aitor commented on #635
A quick ping to @KovalevArtem and @hidehiro98 to let them know that we've setup a translation process based on [lokalise.co](lokalise.co) and that it's now super easy to contribute to the project by translating the video descriptions to your language.

If you're still interested you can see [the process here](../blob/master/Resources/Community/Readme.md).

[2019-02-18 15:33] aitor commented on #547
@SeanMSmith A quick ping to let you know that we've setup a translation process based on [lokalise.co](lokalise.co) and that it's now super easy to contribute to the project by directly translating the video descriptions to any language.

@glouel We can close this ticket right?

[2019-02-18 15:45] glouel commented on #547
Indeed thanks ! @SeanMSmith feel free to ping me/aitor so we can add you to the group, this should make it much simpler next time a new video comes around !

[2019-02-18 15:45] #547 closed

[2019-02-18 15:52] #722 closed

[2019-02-18 15:52] #693 closed

[2019-02-18 15:52] glouel commented on #684
I'll be closing this, please feel free to let me know in the future if something else breaks !

[2019-02-18 15:52] #684 closed

[2019-02-18 15:53] #672 closed

[2019-02-18 15:54] #620 closed

[2019-02-18 17:55] kaedys opened #725 "System Preferences crash"
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- **Mac model:** MacbookProc14,3 (15-inch, 2017, the one with the new touch strip)
- **macOS version:** 10.13.4
- **Monitor setup:** Laptop plus two 4k external monitors connected via USB-C -> HDMI adaptors

**If appropriate, please enable `Debug mode` and `Log to disk` in `Advanced` t

[2019-02-18 18:04] glouel commented on #725
@kaedys very sorry about that.

Some random things to try and fix your issue :

- Just so I know, did you also try the beta or not ? The betas are not available through homebrew, here's the latest version (it does contain some important crash fix, although maybe not for your issue) :
https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta5/Aerial.saver.zip

- Can you look into /Library/C

[2019-02-18 18:21] kaedys commented on #725
Did both, I had not tried the beta, and there was no cache directory.  Probably should have done them separately, but _one_ of the two appears to have worked.  Much appreciated.

[2019-02-18 18:21] #725 closed

[2019-02-18 18:27] glouel commented on #725
Ok, in theory 1.4.7 will try to recreate that directory if it's missing, so could have been that. Thanks for following up !

[2019-02-18 20:35] SeanMSmith commented on #547
@glouel @aitor Ping!

[2019-02-19 09:08] aitor commented on #547
@SeanMSmith Send me your email (hello AT aitor DOT is or by DM in Twitter @_aitor)

[2019-02-19 21:02] KovalevArtem commented on #635
@aitor I want to translate into Russian

[2019-02-19 22:23] aitor commented on #635
@KovalevArtem please send me your email to hello AT aitor DOT is or a DM in Twitter to @_aitor

[2019-02-20 05:52] Soruk commented on #635
@glouel @aitor I can do translation for Polish. How I can do it?

[2019-02-20 09:28] aitor commented on #635
@Soruk please send me your email to hello AT aitor DOT is or a DM in Twitter to @_aitor. Thanks!

[2019-02-20 10:28] kaloprominat opened #726 "ScreenSaverEngine spawns multiply and lockscreen login do not work"
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2019-02-20 17:05] glouel commented on #726
Hi @kaloprominat

This is indeed pretty bad, sorry about that. This is the first report of something like this so there might  be something specific to your system (OS version/video driver or something).

In the AerialLog.txt, I can see new instances popping up too, which is super weird. It's about once an hour, but can be happening more frequently. Can you answer these questions so we can see if

[2019-02-27 09:48] kaloprominat commented on #726
I'm sorry for late answer. I've figured out that this behaviour occurs with any screensaver on my machine. So i would make a conclusion, that this issue is not relevant to Aerial screensaver. Sorry for disturbing.

[2019-03-02 20:58] BigChickenInc opened #730 "Not compatible with Google+ Featured Photos screensaver"
### System Info
Mac model: MacBook Pro 13-inch, 2018
macOS version: 10.14.4 Beta
Monitor setup: None (no plug or casting used)

#### Description of issue / Feature request
I cannot have both the Google+ Featured photos screensaver and the aerial screensaver installed at the same time, I can switch between them by reinstalling the one that breaks, which breaks the other. (They are both up to date)

[2019-03-02 21:00] glouel commented on #726
No worries, thanks for following up on this. This might just be a 12.6 issue, you should probably look if there's not a newer point update.

[2019-03-02 21:00] #726 closed

[2019-03-02 21:02] glouel commented on #730
Hi @BigChickenInc

Never heard of "Google+ Featured photos screensaver", can you provide me a link (wasn't Google+ killed by Google ?) ?

Also can you give me more details about what "breaks" ? What do you see with Aerial when that happens, what kind of breakage are we talking about ? Also, crash logs ?

Thanks !

[2019-03-06 23:41] ryan-madrona opened #732 "Feature request: specify which displays show screensaver"
Hello, in the options you have Play Aerials:
- different on each display
- mirrored on all displays
- only on main display

Would it be possible to specify which monitors it plays on?

Reason being, in my case I have a 2012 Mac mini that only supports 2 video outputs, but I have a 3rd display connected via a USB to HDMI converter. It's laggy/low frame rate and doesn't look good with a video playin

[2019-03-07 22:09] SeanMSmith opened #733 "Feature request: User-defined video sets"
**Feature request: User-defined video sets**

_Summary:_

With the large number of Aerial videos now available (73!), it would be handy to be able to define and choose from custom sets of Aerial videos.

_Details:_

Sometimes I want to see only Nighttime space videos, at others all space videos, or only city videos (but not of Los Angeles freeway traffic!), or only videos of natural landscapes, or

[2019-03-08 19:17] thewatts commented on #297
@glouel while the release notes say signed - I'm still prompted with with the unidentified developer warning (build is 1.4.6)

![](https://thewatts.s3-us-west-1.amazonaws.com/Screen-Shot-2019-03-08-13-17-06.18.png)

[2019-03-08 19:33] glouel commented on #297
@thewatts can you check the latest beta ? It's possible I forgot to sign this one but I try to sign them all. Thanks !

[2019-03-08 19:37] glouel commented on #732
Hi @ryan-madrona

So right now, we don't detect individual monitors, I'm not sure we can do that within the boundaries of the screensaver, I'll have to check.

What we can do right now is differentiate the first one vs "all the others" which is what we implement (there's also a new everything but main display in latest beta).

[2019-03-08 20:54] thewatts commented on #297
@glouel latest beta is also not signed 😅

[2019-03-08 21:19] glouel commented on #297
@thewatts can you try this in console :

[code]

You should see something with:
[code]

The .saver is signed, but the .zip is not which may be why you see that prompt, depending on what you use to unzip ? I think Safari with it's default unzip safe content won't generate a warning, but some other tools may ? Can you clarify what you use to unzip ?

The zip is actually signed, but just for Sparkle

[2019-03-08 21:28] thewatts commented on #297
[code]

[2019-03-08 21:30] JohnCoates commented on #297
Looks fine to me

[2019-03-08 21:36] thewatts commented on #297
Hmm, I'm not sure. I've tried on two different computers outside of my own. Both gave the security warning.

Any thoughts on what this could be?

[2019-03-08 21:47] JohnCoates commented on #297
The warning happens when you unzip or when you run the .saver file?
could I see the output for ```codesign -vvvv -R="anchor apple generic" Aerial.saver```

[2019-03-08 21:49] JohnCoates commented on #297
Under in System Preferences -> Security & Privacy do you have checked App Store, or "App store and identified developers" under "Allow apps downloaded from:"

[2019-03-08 21:55] thewatts commented on #297
[code]

[2019-03-08 22:28] glouel commented on #297
@thewatts you didn't answer, how do you unzip ?

[2019-03-08 22:32] thewatts commented on #297
@glouel sorry 😅

If I remember correctly, one instance was Safari’s - the other was using Mac’s default (double click to unzip)

[2019-03-08 22:53] glouel commented on #297
No worries. Can you try:

[code]

My guess is you'll see `com.apple.quarantine` because it's a downloaded file. According to this post here https://stackoverflow.com/a/31395999 , removing that metadata (-d) will fix your issue.

What I don't get is why only some people have this issue. There may be some answer in this post https://stackoverflow.com/questions/31709087/failure-digitally-signing-a-ma

[2019-03-09 21:15] JohnCoates commented on #297
I was able to replicate this on a stock installation of Mojave, and can confirm `xattr -d com.apple.quarantine Aerial.saver` fixed the issue. Would signing the .zip file solve this?

[2019-03-09 21:16] glouel commented on #297
I thought so but the links above seem to imply that it may not. Can you check into console why it's rejected ? See here :
https://developer.apple.com/library/archive/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG207

[2019-03-09 21:23] JohnCoates commented on #297
Console's messages are not very helpful. I feel that the best past forward is to sign the zip or release via signed dmg. What do you think?

[code]

[2019-03-09 21:26] glouel commented on #297
Guess it's likely it's the unsigned zip then. I'll check how to sign the zip (.xip I guess) for the next build (or go dmg route, this might break sparkle though will have to check)!

[2019-03-11 15:35] BigChickenInc commented on #730
https://plus.google.com/featuredphotos

this is not necessarily something that needs to be fixed, I just figured that you would want to be made aware of the issue because it might lead to your screen saver being incompatible with a number other screen savers too, this is just the one I found. Thank you for the help 😄

[2019-03-11 15:46] glouel commented on #730
@BigChickenInc thanks !

However let me reiterate : "Also can you give me more details about what "breaks" ? What do you see with Aerial when that happens, what kind of breakage are we talking about ? Also, crash logs ?"

That would be helpful to have an idea of what the "incompatibility" is. Thanks a lot.

[2019-03-16 15:06] gossi commented on #681
I cannot open preferences as well. I've installed it manually (latest beta, atm 1.4.7-beta.something) and via `brew`. I've had installed an earlier version before. I installed over the old one and also uninstalled and give it a fresh install, for this I deleted the cache folders before installing a new one. Neither of them worked, maybe this log can help (I have a feeling it could badly interact w

[2019-03-16 15:15] glouel commented on #681
Can you try this solution from above and let me know ?

Thanks

[2019-03-16 16:11] gossi commented on #681
Those folders were/are present.

[2019-03-16 16:12] glouel commented on #681
Can you delete all but ~/Library/Caches/Aerial, and have that one be empty of anything ?

[2019-03-16 16:18] gossi commented on #681
I deleted `/Library/Caches/Aerial` and `~/Library/Caches/Aerial` and recreated the latter one (to make sure it's empty). Still no prefpane but I can see it created the contents in the `~/Library/Caches/Aerial` (it was using the global one before)

[2019-03-16 16:19] glouel commented on #681
Can you post a screenshot of what it created ? Sorry for all the trouble but the crash log didn't give me much to go with sadly.

[2019-03-16 16:21] gossi commented on #681
There you go:

[code]

unless you want me to look into the `bundle` thing ;)

btw:

[code]

[2019-03-16 16:26] glouel commented on #681
Hehe that's good enough, thanks ! FYI, this is good so it should work as is with latest build.

But this is not, I fixed a lot of issues regarding those crashes in 1.4.7 beta, would it be too much to ask you to uninstall the brew version and install this one ?

https://github.com/JohnCoates/Aerial/releases/tag/v1.4.7beta6

I kept this one in beta for a long time, apologies for that, I didn't want

[2019-03-16 16:30] gossi commented on #681
I did `brew cask uninstall aerial`; removed `~/Library/Caches/Aerial`. Installed `1.4.7-beta.6` manually. Created `~/Library/Caches/Aerial`, no prefpane but the same contents are created in there (at least `ls -l` is identical).

[2019-03-16 16:34] glouel commented on #681
Ok just to clarify :
- when you go to screensaver pane, do you only have one Aerial icon on the left (make sure you don't have another version laying around) ?
- if so, when you select it, do you see a preview of a video (may take a bit to buffer) ?
- can you clarify it crashes only when you press the options button below the preview ?

Thanks !

[2019-03-16 16:36] gossi commented on #681
Exactly to what you described:

- Screensaver pane has only one Aerial tile
- When I select the tile, the view on the right is playing
- When I click options below the video, it crashes

[2019-03-16 16:49] glouel commented on #681
Ok thanks. Looks like your issue is different, as you had guessed looking at the log it's actually the razer plugin code that crashes, not Aerial directly.

I'm not sure if the plugin is still active if you unplug your razer audio thing, that would be worth a shot ? If you are really patient, maybe uninstall there software and see if it still crashes ? That would infirm/confirm the incompatibility

[2019-03-16 16:56] gossi commented on #681
Thank you for the investigation. I can see that the razor software runs (although the hardware is unplugged). I tried to kill the processes but there is another one starting them again, if they are down... Will try tomorrow to uninstall that and see if this is affecting Aerial.

Other than that, the screensaver itself works 👍 It's only the prefpane, that's not showing.

[2019-03-16 16:57] glouel commented on #681
Thanks for your time reporting this, hopefully we'll find a workaround! Let me know when you know more.

[2019-03-31 03:14] jahirfiquitiva opened #734 "Feature request: 24h hour format"
#### General troubleshooting tips

Before logging an issue please check that:
- [x] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2019-03-31 12:07] clerkenwellconsulting opened #735 "The screensaver never starts on the projector screen"
- Mac model: MacBook Pro (Retina, 13-inch, Early 2015)
- macOS version: Mojave
- Monitor setup: connected HDMI Projector

#### Description of issue / Feature request
The screensaver never starts on the projector screen, other screensavers do.

[2019-03-31 12:09] clerkenwellconsulting commented on #735
Turned out that was just disabled by default.

[2019-03-31 12:09] #735 closed

[2019-04-03 21:55] jahirfiquitiva opened #736 "Downloads keep disappearing"
#### General troubleshooting tips

Before logging an issue please check that:
- [x] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2019-04-03 22:17] glouel commented on #736
Hi

Aerial never deletes anything. Depending on your installation, videos are downloaded either to /Library/Caches/Aerial or ~/Library/Caches/Aerial. You can see the current path in the Cache tab of the preference panel.

I suggest you check both, and make sure you didn't manually change the cache storage path. Changing the path doesn't move the videos.

If you haven't, I'd check if you have some

[2019-04-03 22:19] glouel commented on #734
We already do that, the time format depends on whatever you set in your MacOS regional settings. You can enable 24h mode there and Aerial will comply.

[2019-04-03 22:19] #734 closed

[2019-04-03 22:19] #718 closed

[2019-04-04 03:05] jahirfiquitiva commented on #734
You're right. Sorry, I didn't know this.

[2019-04-04 03:12] JayHoltslander commented on #732
I thought I'd submitted the same request but can't find it so... +1

[2019-04-04 03:14] jahirfiquitiva commented on #736
Yep. You're right. I didn't realize that. Thanks for the information

[2019-04-04 03:14] #736 closed

[2019-04-04 19:19] Wheels1955 opened #737 "Aerial won't launch"
Installed on my 2015 iMac running macOS 10.14.4. Upon launching ScreenSavers, Aerials appears at the bottom of the list of selections.

Right click and the pane goes blank. All of the other ScreenSavers function normally.

Ideas?

Thx for the help,
Frank Petrie

[2019-04-04 19:22] glouel commented on #737
Hi

Can you clarify which version you installed ? Was it the latest beta of the stable build ? If you haven't, try latest beta.

If it still hangs, can you check the Console.app crash logs ? See this post for more https://github.com/JohnCoates/Aerial/issues/681#issuecomment-443729062

Thanks !

[2019-04-05 01:20] Wheels1955 commented on #737
Version 1.4.6 To be honest, I don't know what I'm looking for in Console.app having never used it.I'll try the latest beta build. Thx.

[2019-04-05 01:29] Wheels1955 commented on #737
Version 1.4.6 To be honest, I've never used Console.app so I don't know what I'm looking for.

The latest build I could find was Aerial.saver.zip. I could no locate no betas. Sorry.

[2019-04-05 10:14] glouel commented on #737
Ok no worries for console.app, if needed I'll get you through it later.

But here's the latest beta : https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta6/Aerial.saver.zip

Please give it a shot as it fixed some similar issues for some people.

[2019-04-05 21:15] Wheels1955 commented on #737
Guillaume,

Sorry to report that the new beta didn’t work either. Perfect way to kickoff the weekend, eh?

We'll try again next week,. Thx again,
Frank

[2019-04-08 11:35] Katafalkas commented on #737
Got the same issue.

[2019-04-08 11:36] glouel commented on #737
Sorry about that. Can you tell me if it was the first time you installed Aerial or if you had installed it previously ?

[2019-04-08 13:39] glouel commented on #737
@Wheels1955 and @Katafalkas

One thing that has happened in the past is that on some systems, Aerial wasn't able to create it's temporary cache directory which leads to not being able to do anything. So, my first guess would be to check if you have any Aerial folder in either /Library/Caches, or ~/Library/Caches.

If you don't have a folder there, then that's your issue. It's probably a permission

[2019-04-08 19:21] Wheels1955 commented on #737
Found nothing in cache. After launching the link provided, no Aerial folder appeared in Library/Caches.

Process:               com.apple.preference.desktopscreeneffect.screeneffects.remoteservice [16446]
Path:                  /System/Library/PreferencePanes/DesktopScreenEffectsPref.prefPane/Contents/Resources/ScreenEffects.prefPane/Contents/XPCServices/com.apple.preference.desktopscreeneffect.sc

[2019-04-08 19:22] Wheels1955 commented on #737
Sorry. Could find nothing in Help File to send a manageable file.

[2019-04-08 19:31] glouel commented on #737
@Wheels1955 can you try and create an Aerial folder in /Library/Caches ? It will fix your issue.

[2019-04-08 20:24] Wheels1955 commented on #737
Done.

[2019-04-08 20:26] glouel commented on #737
Does it fix your issue ?

[2019-04-08 23:21] Wheels1955 commented on #737
It was there. Just went back to my iMac and it's no longer there. Let me try again.

[2019-04-08 23:31] Wheels1955 commented on #737
This is extremely bizarre. I tried to recreate an Aerial folder. I receive a message that says I can't name the folder that because there is an Aerial folder that already exists. But it's nowhere to be found. Stranger still, when I go to take a screengrab to send to you, it refuses to retain the Capture!

[2019-04-08 23:43] glouel commented on #737
Well, one trick you could try,
- open Terminal
- type this : open /Library/Caches/Aerial

It will open a finder window at that location so you can see the content. I'd suggest you give "open ~/Library/Caches/Aerial" a shot too (if you don't know the difference, the ~ refers to your user directory).

As for screenshots, another trick, press Cmd+Shift+4, you'll see a selector. Then press spacebar an

[2019-04-09 00:00] Wheels1955 commented on #737
Dang! For giggles, I installed your latest link despite the warning message and it took! I left folder in Caches as Untitled Folder as it won't let me rename it. It took anywhere 15-30 seconds to download previews. We'll see how it goes from here.Once again, thx.

[2019-04-09 00:02] Wheels1955 commented on #737
Also strange, Untitled Folder is empty.

[2019-04-09 00:05] Wheels1955 commented on #737
Rod Serling would be proud. Entered the string you recommended into Terminal and it claims no such folder exists. And as for screengrabs, neither Command-4 or Command-5 would work. My head hurts. :)

[2019-04-09 00:06] glouel commented on #737
Untitled folder ? Well, as long as it works I suggest you let it be 😄

As for the warning yes there is an issue because the zip is unsigned I hope to fix it soon.

[2019-04-09 00:07] glouel commented on #737
You need to maintain both the cmd key and the shift key and press 4 fyi

[2019-04-09 00:08] Wheels1955 commented on #737
Typed in the other Terminal command and that didn't work either.

[2019-04-09 00:09] Wheels1955 commented on #737
But I picked about a dozen recordings and can trigger them with a Hot Corner.

[2019-04-09 01:07] Wheels1955 commented on #737
Worked twice then died. I'll wait until it's fully baked.

[2019-04-09 01:14] glouel commented on #737
Do you mean the Untitled Folder disappeared ? I'm starting to think that you may be running some software that periodically wipes caches to free disk space. Any chance you are running something like CCleaner, or macOS prompted you to free space ?

[2019-04-09 03:41] Wheels1955 commented on #737
Yes, I know. Have a good day.

Frank

Carpe Bacon

[2019-04-09 03:51] Wheels1955 commented on #737
Guillaume,

Yes, the Untitled Folder vanished. I had the Finder window open and I looked away and turned back and it had vanished.

RE: Cache cleaner. I  will double check Clean My MAC X but I wasn’t prompted by macOS. It is what it is, I guess. Thx for your time and consideration.

Have a great Tuesday,
Frank

Carpe Bacon

[2019-04-09 10:44] glouel commented on #737
Well, the purpose of Clean My Mac X is exactly to delete the caches which will delete Aerial files and make it unoperable. Most of the time Aerial should recover (redownloading everything) but depending on how they do the cleanup, they may lock the file location (which explains how you could not create the Aerial folder despite it not being there). Did you Clean or had it running in background ? (

[2019-04-09 15:17] Wheels1955 commented on #737
Guillaume,

I run it manually but will look into the background automation.

Again, thx,
Frank

Carpe Bacon

[2019-04-09 16:48] Wheels1955 commented on #737
Guillaume,

Went under the hood of Clean My Mac X. Could find no cache scrubbing running in the background. I do daily run Smart Scan which among other things cleans the caches. I opened up prefs and the Smart Scan function. I found a half dozen or so functions that you could disable.

There were separate functions for cleaning System Caches and User Caches. I turned off User Caches. I then reinst

[2019-04-09 16:51] glouel commented on #737
Thanks for keeping trying, glad we solve the issue for you Frank. I will add some information on the readme page about possible interactions with software like CCleaner and Clean My Mac X for other people who may stumble upon that issue. Take care !

[2019-04-09 16:52] #737 closed

[2019-04-10 17:55] owellsjr opened #738 "Aerial causes immediate logout in latest macOS 10.14.5 Beta"
### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model: 2017 MacBook
- [ ] macOS version: 10.14.5 Beta (18F108f)
- [ ] Monitor setup: LG 27UD88 external and bull-in Retina display

Since updating to the latest macOS 10.4.5 beta I've noticed that every time the Aerial screensaver launches it immediately shuts down all running

[2019-04-10 17:59] glouel commented on #738
Ouch, that's not good. I'm also on the beta but haven't seen that. Can you confirm which version of Aerial you are using ?

[2019-04-10 18:08] owellsjr commented on #738
I was on Aerial 1.4.7 beta 3 when I first noticed it but I figured I should update to the latest Aerial 1.4.7 beta 6 to see if that would fix it but no dice.

[2019-04-10 18:43] glouel commented on #738
Thanks I'll try to reproduce. Does it also happen if you start Aerial with hot corners ?

If you are willing, do you think you could look into Console.app to see if there's a crash log ? I mentionned how to do that in this post (around the end, ignore the uninstall stuff) https://github.com/JohnCoates/Aerial/issues/737#issuecomment-480835738

[2019-04-10 18:55] owellsjr commented on #738
It definitely happens when I use hot corners since I routinely do that to lock my machine when I leave my desk. I'm not sure if it happens when the screensaver invokes itself after the set time of inactivity. And there's nothing in Console in the User Reports folder with "com.apple.preference.desktopscreeneffect.screeneffects.remoteservice" in the middle column.

[2019-04-10 19:11] glouel commented on #738
Ok thanks for confirming all this ! This definitely does not happen here on my iMac 2015 with the same macOS, so I'm wondering if this could be a video driver issue with video decoding hardware acceleration ?

If you feel like it, could you go to Aerial's cache folder (/Library/Aerial/Caches or ~/Library/Aerial/Caches unless you changed it) and try playing those videos with quicktime ?

I'll try t

[2019-04-10 19:21] owellsjr commented on #738
I tried about 10 random videos in ~/Library/Caches/Aerial and they all played in QuickTime without incident.

[2019-04-10 19:28] glouel commented on #738
Ok that was worth a shot, thanks I'll keep monitoring this and keep you posted.

[2019-04-11 00:41] owellsjr commented on #738
So remember when macOS Mojave 10.4 Beta 4 was released and things went off the rails with Aerial? #464 Distorted display followed by a kernel panic?

And the workaround was to check the **Show with clock** option to get it to function? At least until Beta 6 was released which resolved that issue. Well I decided to try that workaround and lo and behold ... Aerial runs as expected and doesn't immedi

[2019-04-11 00:53] glouel commented on #738
Oh wow, well first thanks for trying to find a solution @owellsjr, this will be helpful to others who will undoubtedly face the same situation.

This must indeed be a new iteration of this bug that happened a lot with Macs with Intel graphics. I actually added a while back a very faint dot on top of the video in a corner, it seemed to serve the same purpose as the show clock, and was a succesful w

[2019-04-11 01:01] owellsjr commented on #738
I unplugged my external monitor and in that setup Aerial works as expected with **Show with clock** checked or unchecked. When the external monitor is plugged in (not mirrored, Aerial only on the external monitor) it only works with **Show with clock** checked. Unchecked results in the immediate logout.

[2019-04-11 10:31] glouel commented on #738
@owellsjr thanks for checking !! I'll have a look at the code and see if I can improve that.

[2019-04-11 15:11] glouel commented on #738
@owellsjr I just checked and the workaround code was disabled for Mojave ! I'll add it back for everyone, I'll ping you with a fresh beta, hopefully that will fix it for you.

[2019-04-11 16:57] gregarios commented on #194
Love this idea! Would pay.

[2019-04-11 20:48] owellsjr commented on #738
@glouel That fixed it. You are the man! Thanks so much. :)

[2019-04-12 12:00] glouel commented on #738
Glad we fixed it 🎉

[2019-04-12 12:00] #738 closed

[2019-04-15 21:58] ccharlton commented on #718
This is gonna be nice. :)

[2019-04-16 15:54] zored opened #742 "Set screensaver from terminal"
## Problem
Screensaver resets after being set from CLI defaults script. But it worked before.

## How to reproduce
I have a script to set Aerial screensaver as default:
[code]

And we have a nice config after running this code:
[code]

It worked great before macOS 10.12. Now when screensaver starts - it turns into regular hostname screensaver. And config resets too:
[code]

Does anyone have soluti

[2019-04-17 12:42] glouel commented on #742
Hi @zored

Have you tried this with another 3rd party screensaver ? I'm not sure this is specific to Aerial, this may be a macOS bug more than ours.

In general, a screensaver is just a plugin that gets executed by the system when he wants, we have no control about our lifecycle, nor about the install process or setting ourselves as default. So unless our screensaver gets rejected for some reason

[2019-04-18 14:41] dVIAN13 opened #745 "Update Process"
Hi @glouel,

Thank you again for you continued support! I wanted to confirm the update process. I have included a link to a video, and as you can see, the auto-update didn't fire when I opened, and when I did do it manually, it downloads and then does the 'Install & Relaunch', but then doesn't do anything. further more, I had to then close the Aerial preferences, and then close System Presences fo

[2019-04-18 14:42] #745 closed

[2019-04-18 14:42] dVIAN13 commented on #710
Hi @glouel,

Thank you again for you continued support! I wanted to confirm the update process. I have included a link to a video, and as you can see, the auto-update didn't fire when I opened, and when I did do it manually, it downloads and then does the 'Install & Relaunch', but then doesn't do anything. further more, I had to then close the Aerial preferences, and then close System Presences fo

[2019-04-18 16:13] glouel commented on #710
@dVIAN13 Thanks a lot for the video and no worries about the other issue. I kept this one open since I'm still unhappy about the updater current process.

So, let me recap:
- Auto update didn't fire when I opened : Looking at the video, it says your last update check by Sparkle was yesterday. Sparkle will not try if at least 24h haven't elapsed since last check, so it's likely that. As expected.

[2019-04-18 17:17] glouel commented on #710
@dVIAN13 I got it for the relaunch doesn't quit ;) Will post a build soon, more info here https://github.com/sparkle-project/Sparkle/issues/1354#issuecomment-484597863

[2019-04-18 17:25] glouel commented on #710
@dVIAN13 If you have a sec, can you manually install this : https://github.com/glouel/Aerial/releases/download/v1.4.7beta7/Aerial.saver.zip

It's a fake beta7 with the fixed code. After install, try the update process, it should find current beta 8 and you'll see the relaunch hopefully working as expected. Let me know !

[2019-04-18 17:28] dVIAN13 commented on #710
@glouel OMG, you got it!good work by the way, you're amazing!

[2019-04-18 17:32] glouel commented on #710
Glorious ! And the directory auth thing explains it then !

This was my showstopper to release the next finale, I started working to day on that enhancement https://github.com/JohnCoates/Aerial/issues/733 so maybe I'll wait for it to be baked before releasing 1.4.8 (won't be named 1.4.7, there's a silly side effect to sparkle, it believes 1.4.7beta1 > 1.4.7 🙈)

[2019-04-18 17:46] dVIAN13 commented on #710
yeah, without long build numbers/etc, I could see it not parsing the 'beta' out of it..? next enhancement! choosing whether to update to beta builds or only public releases. ;) just messing. anyways, thanks again for the quick run-down and fix for this update thing!

[2019-04-18 20:21] glouel commented on #710
I hoped to do without the beta/non beta feeds but that didn't look realistic with community descriptions/localisation as pointed by @SeanMSmith, so I'll probably add that yep.

I also wanted to add a silent update option that could work in regular use (so no need to open the control panel to trigger the update popup; it would silent update when you get out of the screensaver). Didn't have much luc

[2019-04-19 12:57] glouel commented on #733
@SeanMSmith

I have to admit I was a bit reluctant, it's always the same issue with that kind of features, because videos may "change" with new versions etc, one would have to maintain it's sets when new jsons drop from Apple. But considering we didn't get any new one in nearly 3 months, I got to it yesterday.

So here's how it look :
<img width="377" alt="Capture d’écran 2019-04-19 à 14 28 55" sr

[2019-04-19 20:25] glouel commented on #710
@dVIAN13 @SeanMSmith
I've been looking into silent updating, but sadly you can't really control that as I wish with Sparkle. You can't have silent update just when running the screensaver, and normal check (with the window popping up with release info) in System Preferences.

I can manually trigger a check that pops a window when you get back to desktop, but sadly, our screensaver process gets kil

[2019-04-19 20:40] baldgzr commented on #730
In system preferences, screen savers with Aerial selected a message appears 'the screen saver cannot be used with this version of macOS'. Deleting the Google+ screen saver removes the error and all works OK. Very odd!?

[2019-04-19 20:43] glouel commented on #730
@baldgzr, can you please try this workaround and let me know ? It might be because it's 2 swift screensavers:

"You cannot use the Aerial screen saver with this version of macOS." error: Select Aerial, close System Preferences with Aerial still selected, re-open System Preferences and Aerial should now work.

Let me know if that works or not ?

[2019-04-19 21:14] baldgzr commented on #730
That works, the error moves to the Google+ screen saver. repeating the process will enable the screen saver selected when System Preferences is closed.

Cheers

[2019-04-19 21:18] glouel commented on #730
@baldgzr thanks a lot for checking ! I know it's not the most convenient workaround but that's the best we can do. Things will get better possibly with Swift 5 and ABI stability, should everyone update their screensavers.

@BigChickenInc please see the last 2 comments about the workaround for your issue. Thanks again to both !

[2019-04-19 21:18] #730 closed

[2019-04-21 21:41] aaronedell opened #749 "Clicking done in the preferences in settings doesn't do anything"
#### General troubleshooting tips

Before logging an issue please check that:
- [x] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [x] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2019-04-22 10:27] glouel commented on #749
Hi @aaronedell !

You are running a very outdated version of Aerial that had this bug. We've fixed it since and improved many other things.

Please download the latest version here, it will fix your issue : https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta9/Aerial.saver.zip

[2019-04-22 10:27] #749 closed

[2019-04-22 14:49] aaronedell commented on #749
This is great - thank you

On Mon, Apr 22, 2019 at 3:27 AM Guillaume Louel <notifications@github.com>
wrote:

[2019-04-26 10:14] glouel commented on #733
Closing this, reopen if needed.

[2019-04-26 10:14] #733 closed

[2019-04-26 10:19] glouel commented on #710
@dVIAN13
So I've went ahead and implemented 2 things:

![Capture d’écran 2019-04-26 à 12 15 57](https://user-images.githubusercontent.com/37544189/56801185-21af7d00-681d-11e9-9310-fafb1a226c59.jpg)

- Beta update track. There's a new checkbox in the update pane, unselected default, that points to a separate beta feed (beta-appcast.xml). Right now it's the same as the normal one (there's an extra m

[2019-04-26 10:22] glouel commented on #681
So after looking at all this again, I've added a new mechanism to make it even more robust on some systems that may not allow access to /Library.

Now Aerial does this:
- Look for cache folder in /Library
- Look for cache folder in ~/
- Try to create cache folder in /Library
- **Try to create cache folder in ~/**

The last step is new and should fix the weird issues that some could fix by manually

[2019-04-26 10:22] #681 closed

[2019-04-26 10:25] glouel commented on #479
@jhewell56 and others
You can now use the right key to skip ahead, this can be disabled in preferences :

![Capture d’écran 2019-04-26 à 12 24 08](https://user-images.githubusercontent.com/37544189/56801678-53751380-681e-11e9-9820-8f5325fbef59.jpg)

Available starting with beta 10: https://github.com/JohnCoates/Aerial/releases/tag/v1.4.7beta10

[2019-04-26 10:25] #479 closed

[2019-04-26 14:49] dVIAN13 commented on #710
@glouel , this is fantastic!! I think this is a good solution to keep the app updated, without having to have a helper app or open sys prefs to have it check. I look forward to testing it out, and hopefully this will help keep beta to testing and not disrupt the larger community of people who just want the stable builds! 🎉

[2019-04-26 22:11] SeanMSmith commented on #733
This is excellent.

Thank you very much.

[2019-04-26 22:19] SeanMSmith commented on #710
I notice that in the "Automatic updates:" section of the "Updates" pane, the "Last checked" time no longer updates, either after an automatic update or after manually clicking "Check Now":

<img width="780" alt="Screen Shot 2019-04-26 at 3 05 21 PM" src="https://user-images.githubusercontent.com/11637439/56839149-1fa5e800-6836-11e9-8a80-322ae72c58c9.png">

[2019-04-27 12:36] glouel commented on #710
@SeanMSmith did you disable auto updates previously ? When Aerial starts (so from a closed system preferences) it should fill that info with what sparkle knows. The date comes directly from Sparkle so a bit puzzled about this one.

However, if you clicked Checked now, yes, it didn't change the text. That's fixed in beta 11 that I will put in the beta track soonish, it will now show "Last checked t

[2019-04-27 13:29] glouel commented on #710
@SeanMSmith I pushed beta11, it's only available in the beta update track as a test. It includes changes mentioned above and your PR.

@dVIAN13 you should be able to test the new silent update thing, just make sure you click the beta track. Also, I put the hour on the last checked field for sparkle, in case you want to have an idea when it should trigger. It will only trigger 24hr+ after the last

[2019-04-27 13:49] dVIAN13 commented on #710
@glouel, I changed the system date to tomorrow and tried the silent update, and it worked great!

2 Observations:

1) I am wondering if there is a way to not open the sys prefs for the 'silent' type of update..?

2) If for beta updates(sometimes you release multiple versions in a 24 hour period, albeit not always), I'm wondering if beta is checked, do you remove the 24 hour requirement, so it will

[2019-04-27 14:31] glouel commented on #710
🎉🎉🎉 Thanks for the very quick feedback !

I see what you mean, I wasn't fully happy about that either ! The way I force the update is strongly discouraged discouraged and not really supported, because of that you don't seem to be able to control the relaunching of the app, so I don't think I can improve on that.

So, to give you a bit of background, there are two separate ways the update system is

[2019-04-27 14:39] dVIAN13 commented on #710
@glouel, I think option 3 is good. thank you for talking through that. obviously I'm not wanting to wait to get your beta updates! 😉 I am also sure others would like this.

Thank you for also thinking through the relaunch observation, appreciate it. Have a great rest of your weekend!

[2019-04-27 20:27] SeanMSmith commented on #710
No.

It did not. To be clear, after the auto-update to v1.4.7beta10, I closed and then re-opened System Preferences, and the "Last checked" time had not updated. Then I manually clicked "Check Now" and then again closed and re-opened System Preferences, and still the "Last checked" time had not updated. (That was the point at which I took the screen shot above.)

[2019-04-27 20:44] SeanMSmith commented on #710
This is weird.

After auto-updating to v1.4.7beta11 and then closing and re-opening, the "Last checked" time did not update:
<img width="780" alt="Screen Shot 2019-04-27 at 1 36 13 PM" src="https://user-images.githubusercontent.com/11637439/56854851-11b59d00-68f2-11e9-9c80-91b2ba273252.png">

Then, after manually clicking "Check Now", the "Last checked" time updated to say "today":
<img width="780

[2019-04-27 21:10] glouel commented on #710
Ok thanks for the confirmation. The "today" is something I add manually when you click, then it reverts back to the "regular" way of checking the the last checked time that sparkle saves somewhere. It's super weird that the date is stuck here for you, maybe some weird Sparkle bug ?

I would suggest that for the next beta, you let it update while the screensaver is running (the new silent thing). I

[2019-04-27 21:33] SeanMSmith commented on #710
From 10 to 11, I opened System Preferences and checked "Look for beta updates" (which had been unchecked) in Aerial’s "Screen Saver Options". If I recall correctly, Sparkle’s update notification then immediately popped up, and I clicked on "Install & Relaunch".

[2019-04-27 21:55] glouel commented on #710
I’ll give you a heads up before pushing a beta tomorrow or monday, If you get the notification just close it’s window.

[2019-04-29 01:04] johnnyblair opened #755 "New Apple TV videos April 2019"
#### General troubleshooting tips

Before logging an issue please check that:
- [ ] You have the latest version installed (There may be a beta version that fixes your issue), see here for the latest releases and bug fixes: https://github.com/JohnCoates/Aerial/releases
- [ ] Your issue isn't already mentioned in our [issues](https://github.com/JohnCoates/Aerial/issues). You may find a workaround th

[2019-04-29 01:06] johnnyblair commented on #755
I just noticed that some really nice new videos started streaming on my Apple TV this week.  Any chance anyone has some information on these new videos?  Seems like some tropical stuff, possibly Antarctica, and some others.

[2019-04-29 01:11] glouel commented on #755
Hi @johnnyblair, which version of Aerial are you using ? You can find the version in the bottom right corner of the preference panel.

I had a quick look and the file hasn't changed since the january update. I'd suggest you install the latest beta to get the latest videos, if you haven't already.

[2019-04-29 03:21] papin97 opened #756 "Feature request: Display information setting on multiple monitors"
On the current version, there is a setting to handle Aerial playback on multiple display. Can we have the same setting for information text?
Like, currently the information only displays to main display. I want the setting so I can configure the information to display, just like Aerial playback setting.

[2019-04-29 10:34] johnnyblair commented on #755
What I am saying is that my Apple TV is showing new screensaver videos this week.  Ones that I do not see in the last update.  I am running the newest version with the January updated videos.  I will take some screenshots of the new videos I have noticed on my Apple TV later tonight.

[2019-04-29 10:41] glouel commented on #755
@johnnyblair ok please do ! Could be there's a new url that we don't know about, although that would be surprising. Are you running a tvOS beta maybe ?

I'm still seeing the same videos here on my Apple TV but what you get is so random on there, there could be new videos that I don't see.

[2019-04-29 10:45] johnnyblair commented on #755
ok after a reboot I think Aerial Saver is now seeing them.  just ignore this thread :)

[2019-04-29 10:48] glouel commented on #756
Hi @papin97

Right now the multi monitor code is really messy, but I'll put this for a future update. Thanks !

[2019-04-29 10:48] glouel commented on #755
Ok feel free to reopen if you see something new, thanks !

[2019-04-29 10:48] #755 closed

[2019-04-29 12:00] LiquidDev opened #757 "Feature Request: Include Option to load Personal Videos from local directory"
#### Description of issue / Feature request

Please include a local directory option where personal action camera movies can be uploaded from.
- Create local directory   -   ~/Library/Cache/Aerial
- Poll this directory for entries.json to pull correctly formatted screensaver descriptions
- Really Nice to have:  Include ability to add the JSON entry via the screensaver dialog.

Hoping you can suppo

[2019-04-29 12:18] glouel commented on #757
Hi @LiquidDev

This has been asked a few times but it's a pretty big task.

I'll consider this one for a future update, but no promise !

That's a mayyyybe, it's not easy to correctly generate that json.

That's a hard nope sorry, way too complex :)

G.

[2019-04-29 12:47] glouel commented on #710
@SeanMSmith new beta up just for you, you'll let me know. Hope we can fix this quickly, really need to get a stable build out this week ;)

[2019-04-29 18:37] SeanMSmith commented on #710
On my new 2019 iMac (which is what I’ve been testing the last few versions on), the "Last checked" time is still stuck on 2019-04-11 in v1.4.7beta12.

On my old 2015 iMac (whose settings and apps I migrated to the 2019 iMac using Migration Assistant), the "Last checked" time updates correctly. (I should have tested this before. Doh!)

Here’s how I updated on the 2019 iMac:

1. I invoked Aerial by

[2019-04-29 19:07] glouel commented on #710
@SeanMSmith
Well, at that point I'm out of ideas. Answering your question about the difference of the two dates, the date on top, I do manage manually. The second one is purely a Sparkle thing. I ask Sparkle for the date and I display it. Sparkle saves it/updates it on its own.

So right now not much more I can do. I will update to a newer version of Sparkle in the next beta cycle, hopefully it wi

[2019-04-30 16:25] dVIAN13 commented on #710
@glouel, 🎉 on releasing 1.4.8!!! I'm now thinking a little bit more about the auto update / beta checking...

If you've elected to have beta checking done, after the beta check comes back with nothing new, should it also then check to make sure user is on latest stable release?

For example, today I went to have it auto update from 1.4.7beta12 to 1.4.8, and it did not.. so right now, I am stuck on

[2019-04-30 16:27] glouel commented on #710
@dVIAN13 thanks !! You are way too quick I haven't updated the appcast, which is why you didn't see the update. Give me 10 minutes :)

[2019-04-30 16:28] dVIAN13 commented on #710
@glouel ;) my apologies, I got excited!

[2019-04-30 16:41] glouel commented on #710
@dVIAN13 no worries, it's certainly exciting ! You can give it a shot now it should work ! Also I've added the beta frequency check we talked about.

[2019-04-30 17:10] dVIAN13 commented on #710
@glouel, It worked great!, and now I know to be slightly more patient! 👍 thanks again for your continued support!

[2019-04-30 17:59] glouel commented on #710
Available in 1.4.8 so closing

[2019-04-30 17:59] #710 closed

[2019-04-30 18:24] SeanMSmith commented on #710
Today, when Aerial 1.4.7beta12 launched after the release of v1.4.8, I was immediately prompted to enter my password to unlock the screen. Since I was busy doing something else, I did not. After a period of time, the password entry screen timed out, whereupon Aerial relaunched, loaded a new video, and then I was again immediately prompted to enter my password.

This loop repeated about five times

[2019-04-30 19:56] glouel commented on #710
@SeanMSmith
Well, I think it's more about your particular setup. It looks like you installed Aerial in a directory that requires your password (maybe /Library instead of ~/Library ? Can you confirm this ? Or some network share of some type ?).

Can you also confirm if you are running some type of restricted account ?

I think it's the cumul of both things, restricted account + install in library t

[2019-04-30 19:58] #630 closed

[2019-04-30 19:59] glouel commented on #549
Closing this, available in 1.4.8.

[2019-04-30 19:59] #549 closed

[2019-04-30 20:17] SeanMSmith commented on #710
Aerial is indeed installed to /Library, but I don't think we should assume that's unusual.

I'm running in an Administrator account.

[2019-04-30 20:25] glouel commented on #710
@SeanMSmith
Well I had a check and it's indeed just /Library that does it.

I did a check here and now on Mojave (not sure that was the case previously), it explicitely states that you will be required an admin login/password, you can see that here in French:

![Capture d’écran 2019-04-30 à 22 22 02](https://user-images.githubusercontent.com/37544189/56990888-8c9ee200-6b96-11e9-9029-574e28942d4d.j

[2019-04-30 20:30] SeanMSmith commented on #710
The notice that an Administrator password will be required to install to /Library is not new. Being prompted to enter my password was expected; it’s the endless loop and the multiple Aerial (Autoupdate) processes that was unexpected.

I just invoked Aerial v1.4.7beta12 on my 2015 iMac. On that machine, I was immediately prompted to enter my password on the unlock screen, but after waiting 30 secon

[2019-04-30 20:35] glouel commented on #710
Ok must have missed that one.

Yeah I skipped that part as I was wondering why you were prompted for a password at all.

Obviously this is linked to your other issue. Whether the install goes through or not, Aerial asks Sparkle to reset the counter (that's why I asked you to try it this way to see if it would fix your april 11th issue). So it should not loop ever, unless you have yor other specifi

[2019-04-30 20:57] glouel commented on #710
@SeanMSmith regarding your date issue, I had another thought, can you please go into
~/Library/Preferences/

You should see in that folder a `com.JohnCoates.Aerial.plist`. If you open it with Xcode you should see something like this :

![Capture d’écran 2019-04-30 à 22 55 17](https://user-images.githubusercontent.com/37544189/56992785-1d77bc80-6b9b-11e9-99c2-a7141e7f2480.jpg)

Can you tell me if y

[2019-04-30 21:29] SeanMSmith commented on #710
In com.JohnCoates.Aerial.plist, SULastCheckTime is 30 Apr 2019 at 1:48:22 PM.

The Updates pane of Aerial is still showing "Last checked on 2019-04-11 at 18:27".

[2019-04-30 21:43] glouel commented on #710
This is wild. This is where Sparkle stores it's data, so it's storing it correctly, but it keeps reading (and giving Aerial) bad data from somewhere...

Is there a SULastCheckTime in the ByHost plist I mentioned ? Maybe look for a plist in /Library/Preferences ?

[2019-04-30 22:14] SeanMSmith commented on #710
Ah! I was looking at ~/Library/Preferences/com.JohnCoates.Aerial.plist.

In ~/Library/Preferences/ByHost/ there are two com.JohnCoates.Aerial.….plist files. One is empty, and the other has SULastCheckTime of 11 Apr 2019 at 6:27:39 PM! That file has a modification time of today, and its permissions on appear to be identical to those on the other preference files in ~/Library/Preferences/ByHost as w

[2019-04-30 22:21] glouel commented on #710
Well, awesome that it finally got fixed.

Maybe a previous beta messed things as I was trying to workaround some Sparkle issue. You should be good now, that's great.

As far as I know, moving Aerial.saver back to ~ wouldn't have fixed the issue, as the settings are read in the same place (it would have fixed the password prompt though).

I do understand the 60 mins + weekend thing, but there's not

[2019-04-30 22:23] SeanMSmith commented on #710
Incidentally, I noticed that in v1.4.7beta12 (and I think earlier versions), the "Auto install updates while the screen saver runs" and "Look for beta updates" options are indented from the the "Automatically check for updates" option:
<img width="780" alt="Screen Shot 2019-04-30 at 3 00 12 PM" src="https://user-images.githubusercontent.com/11637439/56997122-8dfee900-6b5b-11e9-97cf-542821ae74c4.pn

[2019-04-30 22:31] glouel commented on #710
Yeah... in the beta, I indented them because my goal was that if automatically check was unchecked, the rest of the options would be unavailable... And while I didn't implement the greyed out thing, I thought it was actually working that way. Except it didn't, those options are independent right now for better or for worse.

- The first checkbox controls the regular Sparkle auto update thing (the

[2019-04-30 22:43] SeanMSmith commented on #710
Yes, that makes sense. Thanks for the explanation, and thanks also for helping to get my stuck update time unstuck!

[2019-04-30 22:47] cryptochrome opened #759 "1.4.8: Chrome deems zip file unsafe"
When downloading the new 1.4.8 release using Chrome, Chrome stops the download with a warning that the file is not safe, indicating Chrome's built in malware scanner detected something fishy. It could be a false positive, but please double-check your package and run a malware scan.

[2019-04-30 22:59] Kavakuo commented on #759
VirusTotal didn't detect anything malicious, seems to be safe and a false positive by Chrome. I got the same warning. [VirusTotal report](https://www.virustotal.com/gui/file/b0e120a3743d4e139c0a68bf800cd10803331f379dbf526bd5bfeeab4532414c/detection)

[2019-04-30 23:04] cryptochrome commented on #759
While VirusTotal is nice, it's not 100%, especially when it comes to macOS. I am saying this as someone who is an IT security engineer by profession. I would definitely be alarmed by this and do a deeper analysis. Mac malware is on the rise.

[2019-04-30 23:04] glouel commented on #759
Hi @cryptochrome & @Kavakuo

Do you have the same issue getting a beta, for example this one : https://github.com/JohnCoates/Aerial/releases/download/v1.4.7beta9/Aerial.saver.zip

?

Looks like their heuristics flagged us, the new version includes Sparkle, this open source project : https://github.com/sparkle-project/Sparkle , which shouldn't be an issue although that may trigger their heuristics

[2019-04-30 23:09] cryptochrome commented on #759
Not getting a warning for the 1.4.7beta9 file. I'd still be extra cautious. Go get Eset for Mac. They have a 30 day trial version. It has one of the industry's best malware detection engines.

[2019-04-30 23:14] Kavakuo commented on #759
@glouel Betas download without warning, even the last one b12.

@cryptochrome Yeah, thought the same about VirusTotal and Mac software. But it detected that a Mach-O binary is included, scanned every file inside the bundle and even did a runtime analysis inside a sandbox. No detections should be at least an indicator for a false positive by Chrome.

[2019-04-30 23:16] glouel commented on #759
@Kavakuo thanks for the confirmation, I was going to ask ! b12 and 1.4.8 are identical featurewise for what it's worth.

[2019-04-30 23:20] cryptochrome commented on #759
I just downloaded the file from my computer in the office at work, which is protected by an enterprise firewall that decrypts SSL traffic and scans for malware using two different engines (Sophos and Avira). The file passed the firewall without being blocked, so those two engines didn't detect anything either.

[2019-04-30 23:22] Kavakuo commented on #759
@glouel But the builds are different? At least the hashes of `Aerial.saver/Contents/MacOS/Aerial` and the frameworks aren't the same between b12 and the final release.

[2019-04-30 23:25] glouel commented on #759
Yes different builds, sorry I wasn't clear. I meant just in terms of features they are identical, if one truly doesn't want to use the 1.4.8. We talked about the changes in this post https://github.com/JohnCoates/Aerial/issues/710#issuecomment-488137286 if you are interested, they are mostly cosmetic.

[2019-04-30 23:43] Kavakuo commented on #759
@glouel I guess the commits between b12 and final release shouldn't be really a problem. Do you still have the copy of the uploaded zip file locally on your Mac? Maybe you can compare the hash value of your local copy with a freshly downloaded zip file from GitHub. Just to be sure that nobody tampered the upload.

[2019-04-30 23:59] glouel commented on #759
@Kavakuo I can confirm they are identical, just redownloaded with Firefox and same as my build archive. MD5 (Aerial.saver.zip) = d32f7da0d110bf00afa15492a663faee FYI.

The zip is also signed for Sparkle so if it was tampered with, other users would have reported an issue with the Sparkle updater. You can see the signature generated on my Mac in the appcast here : https://raw.githubusercontent.com/

[2019-05-01 03:17] billstanden opened #760 "Brew installed v1.4.8 if "Auto install updates while the screen saver runs" with default enabled status only."
#### Required information
In order to help us sort your issue, we ask that you provide the following information:
- [ ] Mac model: Various MacBook Pros and iMacs
- [ ] macOS version:  10.14.4
- [ ] Monitor setup: Single and multiple

#### Description of issue

I'm installing Aerial via Brew and with the latest update discovered the screensaver would fail to start, falling back to the default after

[2019-05-01 10:01] glouel commented on #760
hi @billstanden and oops, sorry about that !

I think I know what happened, unlike regular install methods (manual or Sparkle), Aerial's control panel will never get launched with homebrew post update. So just going there I think fixes it.

I think I know what to do but it would be super nice to have confirmation, any chance you can paste me the crash log ? You can find more info on how to get it

[2019-05-01 11:25] heutger opened #761 "Location issues"
Hi,

first thanks for introducing an update mechanism. Second just a question, what does community information mean, which I can choose? Is the control panel also available in other languages and/or how can I help to localize?

Now the primary question:

I tried to change to day and night themes based on location, but can't choose this option. I'm on MacOS 10.14 and I also now activated Night Shif

[2019-05-01 11:38] glouel commented on #760
I managed to reproduce the crash, trying to test the fix ASAP but VirtualBox isn't really quick for this. Will update asap.

[2019-05-01 11:56] glouel commented on #760
@billstanden v1.4.9 is on its way, I submitted the PR for the new cask https://github.com/Homebrew/homebrew-cask/pull/62643

Again sorry about the issue and thanks for the report !

[2019-05-01 12:09] glouel commented on #759
@cryptochrome & @Kavakuo
Quick update, 1.4.8 actually had a crashing bug in case you launched the screensaver without opening the control panel (typical case for homebrew users). I don't know if this is what tripped Google but I did release 1.4.9 in any case.

I installed Chrome in a VM and Chrome complained that 1.4.9 was uncommon (duh), but not malicious. Same for 1.4.8 by the way (maybe it was

[2019-05-01 12:31] glouel commented on #761
Community descriptions are extra video descriptions. When Aerial plays, you can see location information about what you are watching on the bottom left corner by default. Some of these come from Apple, some videos however lack those information (only the newest tvOS12 videos have them, Aerial supports all the videos from previous tvOS versions). For those, we have Community Descriptions, written b

[2019-05-01 13:46] Kavakuo commented on #759
Here it says "Aerial.saver.zip is an uncommon download and could be malicious" (translated from a german Chrome). Chrome links to this article [https://support.google.com/chrome/answer/6261569](https://support.google.com/chrome/answer/6261569).

I think there are multiple categories for a warning as you can see in the article. Malicious, Unwanted and Uncommon. Aerial seems to be flagged with the l

[2019-05-01 13:50] glouel commented on #759
@Kavakuo can you clarify for me, was it the same message you had yesterday, or did it explicitly said malicious ? That's what was implied yesterday, certainly not uncommon.

I did see that article too here when I installed Chrome, and their 3 categorization. It makes sense it's seen as uncommon since it's just released.

[2019-05-01 13:56] Kavakuo commented on #759
@glouel I think so, but I'm not completely sure about this. Maybe @cryptochrome is. Nonetheless the warning says that it COULD be malicious. In addition with the only directly available dismiss button, this is alarming to the user.

[2019-05-01 14:01] Kavakuo opened #763 "Update to the latest Sparkle version"
The newest Sparkle release is 1.21.3, according to the `Podfile.lock` file, Aerial uses Sparkle v1.21.0. Security critical frameworks, in this case for automatic updates, should always be up to date or at least updated regularly. There were already security problems with Sparkle [in the past](https://vulnsec.com/2016/osx-apps-vulnerabilities/).

Maybe this also helps to resolve issues like #759.

[2019-05-01 14:13] glouel commented on #759
I tried to follow their website to issue a report but the link actually points to something else. Considering the beta builds don't give out the message (they were downloaded more) this may be transient until it gets downloaded more. If you can point me to a link to report the issue I'll gladly do so.

[2019-05-01 14:27] glouel commented on #763
Yes, there was no security related bug so I kept the same version throughout the beta process, but of course I'll keep it updated going forward. I've issued a 1.4.10beta1 with Sparkle 1.21.3 here : https://github.com/JohnCoates/Aerial/releases/tag/v1.4.10beta1

Regarding the Chrome uncommon issue, since the betas weren't flagged (or unflagged as they got more downloads ?) and all used the same Spa

[2019-05-01 16:07] glouel commented on #760
1.4.9 is now up on homebrew.

[2019-05-01 18:25] heutger commented on #761
Hi,

thanks for the additional information.

Regarding my primary problem, I was able to solve. I just looked into Preferences Security and because of the signing failure I wasn’t able to use option 2, as after accepting Aerial to be loaded although not signed (or signing failure), the option was able to be selected.

Grüße,

Christian

Von: Guillaume Louel <notifications@github.com>
Antworten an:

[2019-05-01 19:42] #761 closed

[2019-05-02 01:41] billstanden commented on #760
Installed and confirmed fixed.  Cheers.

[2019-05-02 01:41] #760 closed

[2019-05-02 10:48] papin97 opened #764 "[1.4.10b1] Aerial skips low battery check"
*Log file attached*
[AerialLog.txt](https://github.com/JohnCoates/Aerial/files/3137670/AerialLog.txt)
#### Description of issue / Feature request

Aerial keeps playing the video on lower than 20% battery level even though the power saving option is enabled on low battery.

[2019-05-02 17:24] fok opened #765 "Feature Request: Add "Vertically Opposed" and extra information show duration"
#### Description of issue / Feature request

Would be great if a "Vertically Opposed" setting would be available for Text/Extra information.
Also a separate show duration for the extra information would be nice.

[2019-05-02 17:25] fok opened #766 "Feature Request: Allow deletion of videos from cache"
#### Description of issue / Feature request

An option to delete specific videos from cache would be nice.

[2019-05-03 11:56] glouel commented on #764
Hi @papin97

Can you clarify exactly what you see ?

As of right now, the battery check only happens when Aerial starts playing (when the screensaver is first called by the system). If you cross the threshold while the screensaver plays, it won't stop. Is this what you saw ?

[2019-05-03 12:00] papin97 commented on #764
Hi @glouel
No. I set the screensaver to play after 1 minute. I was working on my laptop until it reaches 13% then I left it for a bit. When I came back the screensaver plays Aerial video (no black screen as expected). The threshold already crossed before the screensaver plays.

[2019-05-03 12:04] glouel commented on #765
Hi @fok

Vertically opposed is problematic because one can add a custom string that shows in the same corner of the clock, and we also allow custom font size, and Aerial has to run on all screen size, even the tiny ones. So if you put everything on the same line you have to handle collision between those strings, with potentially no visually good solution to handle them, which is why I didn't add

[2019-05-03 12:04] glouel commented on #764
@papin97
Ok then sorry about that, I'll have a look, might require a new beta with extra logging, I'll let you know!

[2019-05-03 12:05] glouel commented on #766
Good idea, marking for future enhancement for 1.5.0

[2019-05-03 12:47] fok commented on #765
Hi @glouel

I'm aware that collision might be tricky to handle for vertically opposed. I would just accept that the strings could overlap if they are too long (or the display too small). My resolution is high, I downsized the font to 18pt, and the extra text I want to show is short.
Alternatively collision handling could be made pretty basic: Either just cut both strings at 50% (or something like

[2019-05-03 13:29] glouel commented on #765
Understood, but I have to make it work for everyone.

I already do wrap multiple lines for descriptions, yes, because of large fonts. To implement correctly, this is a non trivial amount of work as the animation system has many moving parts so I'll give you a maybe if/when I overall the animation system, but you'll have to make do with the current options in the meantime.

The goal of the 10 secon

[2019-05-06 01:41] ArtemBernatskyy commented on #766
But we can manually remove videos from cache folder, aren't we ?

[2019-05-06 07:11] fok commented on #766
When you manually remove them Aerial doesn't pick up on that. Tried it twice. I had to remove the whole cache directory to have it sync again.

[2019-05-06 09:57] glouel commented on #766
You can, but you need to restart aerial for it to rescan your video folder.

[2019-05-06 13:08] glouel commented on #764
@papin97 sorry for the delay but my old macbook air's battery is shot so it was pretty hard to reproduce.

Looks like the low battery detection didn't work as intended, I've replace the code with a new battery percentage detection. If you are below 20% now it will engage power saving as expected.

Let me know how it goes for you, this is fixed on beta2.

[2019-05-06 13:15] glouel commented on #759
So after a few days Chrome no longer give the "Uncommon download" warning. 1.4.8, 1.4.9 and even 1.4.10beta1 downloads normally, but the minute old 1.4.10beta2 does throw the warning.

This is Google and with no clear way to fix this on their end, I'll close this. If you know how to fix this for a github repo, please let me know.

[2019-05-06 13:15] #759 closed

[2019-05-07 01:53] papin97 commented on #764
@glouel Can confirm that this issue is fixed in beta2. Thanks so much!
I'll close this issue.

[2019-05-07 01:53] #764 closed

[2019-05-07 13:09] luckman212 opened #768 "Since 1.4.8+ keyboard input no longer stops the screensaver"
- [x] Mac model: **mac mini 2018**
- [x] macOS version: **10.14.4**
- [x] Monitor setup: **2 external 23" displays**

#### Description of issue

Since ver 1.4.8 or so (maybe 1.4.9?) when I tap the keyboard to end the screensaver and get to the lockscreen, the mac just plays a beep/alert sound, but the video keeps playing. Only moving the mouse causes the video to stop playing.

I'm now on 1.4.10be

[2019-05-07 13:26] glouel commented on #768
Hi @luckman212

Does no key work, not even the space bar ? Can you try unchecking the "Right arrow skips video" option in main panel to see if it helps ? Thanks

[2019-05-07 13:42] luckman212 commented on #768
Correct - when this bug occurs, no keys work. I have unchecked the "Allow Right arrow key to skip" box for now and will report back if that makes any difference.

[2019-05-07 13:51] luckman212 opened #769 "Skip to next video only affects monitor 1 in a multi-display setup"
- [x] Mac model: **mac mini 2018**
- [x] macOS version: **10.14.4**
- [x] Monitor setup: **2 external 23" displays**

#### Description of issue

On my multi-monitor system, tapping the Right-arrow key to skip to the next video only causes the video on "monitor 1" to skip (it should skip on both screens I think).

[2019-05-07 14:37] luckman212 commented on #768
Ok, so this just happened again, even with the Allow skip option enabled. I'm attaching the debug log here. I noticed this time that the "CTRL" key (that's how I usually wake up the display) has no effect, and does not cause the error/beep sound to play. However other standard keys such as spacebar, any letter keys, arrow keys etc do cause a beep sound. Moving the mouse also had no effect - the on

[2019-05-07 15:03] glouel commented on #768
Ok thanks for the report, I'll have a look and let you know. Can you tell me which keyboard you have on your mac mini ? Are you by any chance using multiple keyboards (even if not at the same time ?) ?

[2019-05-07 15:03] glouel commented on #769
Ok that's an embarrassing one I'll fix asap 🙈

[2019-05-07 15:08] luckman212 commented on #768
Currently I'm using a Logitech G413 keyboard. I don't have multiple keyboards but I do have Karabiner-Elements installed, to disable the CapsLock key.

[2019-05-07 16:15] glouel commented on #768
So according to your log, Aerial doesn't receive the keydown events (there should be a "keyDown" somewhere), which is consistant with you hearing beeps when pressing non modifier keys (just like typing when you don't have focus). Karabiner-Elements probably intercepts events and that throws the logic.

I may have missed an event forwarding, trying some stuff and will get back to you.

[2019-05-07 16:37] luckman212 commented on #768
Thank you - anything else I can do to help debug just let me know

[2019-05-07 16:52] glouel commented on #768
Well, I just put up beta3 if you can give it a shot, there's a tentative fix for both your issues, although I'm very unsure about this one to be honest ! Let me know how it goes and we'll try to figure out what's next.

[2019-05-07 16:53] glouel commented on #769
Should be fixed in beta3

[2019-05-07 18:31] luckman212 commented on #769
Thank you! I will test & confirm asap

[2019-05-07 18:32] luckman212 commented on #768
Great, happy to test - I will give this a go and report back

[2019-05-09 13:20] luckman212 commented on #768
Just reporting in. Been running beta3 for a few days now and it hasn't fixed this for me (sadly). I also removed Karabiner-Elements temporarily for testing (did not help). I don't know what else to do to debug. Sometimes the keyboard works to bring up the login prompt and sometimes it doesn't. **Mouse clicks always work**!

I think this is related to the `/System/Library/CoreServices/loginwindow.a

[2019-05-09 13:28] luckman212 opened #771 "Debug logs only include a time (no date)"
It would be helpful when debugging long-running issues (e.g. #768) if the logs were written using a full timestamp that included the date and time in 24H format. Currently only a 12h time is output (no date).

The timestamp format should be similar to what `date '+%Y-%m-%d %H:%M:%S'` outputs.

e.g. instead of
[code]

it should be
[code]

[2019-05-09 13:49] glouel commented on #768
I was going to suggest maybe disabling Karabiner-elements, as I strongly suspected it could be linked to your issue. You mentioned disabling it, though.

There may be something else specific to your setup that's causing this (I can't reproduce and nobody else complained about it yet so there's probably something pretty specific). The fact that you also have the issue with Sublime not getting focus

[2019-05-09 14:03] glouel commented on #771
I'll change the timestamp format, good idea. Will be in next beta.

[2019-05-09 21:30] luckman212 commented on #768
Sure I will give ElectricSheep a try and see if the results are the same, and if they are I will work backwards on any 3rd party things that might be conflicting. I did remove Karabiner but then re-installed it after I continued having the issue. So I will try some more thorough testing.

[2019-05-09 21:36] glouel commented on #732
Just a quick heads up, after a lot of fighting with the APIs, it looks like this is doable, although quite convoluted. So tentatively put for next big release, 1.5.0.

[2019-05-10 05:42] luckman212 commented on #768
Ok, I believe I've uncovered more info!

- I tried ElectricSheep as well as some other screensavers and observed that they triggered this bug too. So, good news - it does NOT seem to be an Aerial bug at all 🎉
- I completely uninstalled Karabiner-Elements, rebooted, double checked that the kext was not present via `kextstat | grep -v com.apple`, and then re-tested. The problem was still present - s

[2019-05-10 08:48] czo opened #772 "Feature Request: Ability to disable streaming on certain Access Points and/or Personal Hotspot connection"
I am using my Mac frequently from a Huawei mobile hotspot via my metered cellular connection. If i can disable streaming (to play only locally cached videos) when connected over a metered connection, then it's can save ton's of bytes from my monthly bundle. So, i think, a list where i can store the list of the metered connections is the best option for this. Maybe, to made this ever better in the

[2019-05-10 10:39] glouel commented on #772
Hi @czo

I specifically implemented the never stream videos for people with metered connection. I would suggest with current version to cache a few videos (you can manually select the ones you wish) and check never stream videos. Then Aerial will only play from what's on your cache, period, and generate 0 traffic (apart from a periodic update check which you can disable).

I have a feeling you'd b

[2019-05-10 11:17] czo commented on #772
I think, caching more than one video is wasting space on the pricey SSD (i have very fast internet everywhere, or maybe limit it in 0.5 or 1GB and/or reencode it to 720p), so that's why i thinking streaming is the best option when i am home (i have all of the videos are enabled because i don't wan't to limit which can i see or not, but i don't wan't to cache them all).

If i remember correctly, li

[2019-05-10 11:22] glouel commented on #768
Hi @luckman212

Good news in a sense indeed, although I hope we can fix your issue.

Ok good to clear that one up too!

First, thanks for digging into this so deeply, hopefully we can get to the bottom of this.

Soooooo...

FYI I had it at 5 minutes here (probably default ?) AND I have Apple Watch unlock enabled. So, first with my original setup:
<img width="1407" alt="Capture d’écran 2019-05-10 à

[2019-05-10 11:44] glouel commented on #772
Aerial piggybacks on tvOS server ressources which are currently open. Something we are grateful for and hope will remain so in the future. Continuously streaming goes counter to that and is not something I will encourage in Aerial.

With that said, please check the link I provided, Trip mode is a separate app from Little Snitch. There are many options listed to block certain apps/processes when on

[2019-05-10 12:04] luckman212 commented on #768
Thanks for the detailed reply and for taking more time out to test on this! (No I don't have any Logitech software installed).

Glad you were able to reproduce my results, at least the NIL app focus on screensaver exit. I'll file a rdar for that and reference back here.

I'm going to try installing 10.14.5 beta just to see if by chance the original issue is just a 10.14.4 bug.

[2019-05-10 12:42] luckman212 commented on #768
I installed 10.14.5beta5 (18F131a) and re-ran my tests. Interestingly, the VERY FIRST time I invoked Aerial (via hot-corner), upon trying to wake up the screen, I hit the original bug again 😞 (keypresses were just resulting in a "beep" but not causing the login prompt to appear).

So, I clicked the mouse and unlocked the screen. Then, I triggered the screensaver a second time, and this time the ke

[2019-05-10 12:46] glouel commented on #768
@luckman212 hmm, well at least it's a tiny bit better now, it looks like this is really some new Mojave bug then. Hopefully the frequency will be pretty low now. I never managed in maybe 30 tries here. Maybe it now only happens once upon reboot (hoping).

Definitely file a radar for both issues I think !

[2019-05-10 13:38] luckman212 commented on #768
For now I filed bug [50661344](https://openradar.appspot.com/radar?id=5056554340450304) for the issue that leaves NULL focusedapp after resume (since that's the one I can reliably reproduce).

I'll keep testing on the other one to try to get better repro steps.

[2019-05-10 14:54] ryan-madrona commented on #732
That is great to hear, thank you!

[2019-05-10 15:02] glouel commented on #732
This is what it looks like now, will hopefully put a beta out today and update here. You'll have to reconfigure your displays settings as the old ones will be lost in the process :

![Capture d’écran 2019-05-10 à 16 58 40](https://user-images.githubusercontent.com/37544189/57536761-260f8600-7345-11e9-9233-fae3e788a502.jpg)

Display selection (all, main only, sec. only, manual selection) is now ind

[2019-05-10 16:24] glouel commented on #732
Beta is up, I would very much appreciate reports. Please check the release note too, you may experience issues. I'm very much interested in reports also about the new "spanned" viewing mode which allows you to span an Aerial on your displays. This *should* theoretically work with a disabled screen too, although I wasn't able to test it here so feedback welcome.

![Capture d’écran 2019-05-10 à 18 2

[2019-05-10 16:27] glouel commented on #194
This has been a long time coming, but as part of a rewrite of the detection screen I've been able to make it work. This is still pretty new and there may be issues on some configurations, with that said I need beta testers of this feature. You should also be able to span on multiple monitors while disabling some as those features are now separated. You'll have to configure all this in the new Disp

[2019-05-10 17:35] luckman212 commented on #768
Just FYI- I am now running 1.4.99beta1

[2019-05-10 17:36] glouel commented on #768
Great, let me know if you have any issues with the new multi monitor stuff! Some pretty radical changes I've been working on all week ;)

[2019-05-10 17:39] schroef opened #773 "Just wanted to say"
Just wanted to say thank you!

I was checking this old mac pro we bought couple months back on disk space, when i noticed this huge folder in the cache folder. After some quick checking i found this wonderful project and see i this is already installed.

Wow does this look great, thanks for the effort in creating this!!!!

[2019-05-10 17:39] luckman212 commented on #768
So far no issues! 🙌

The new multi monitor modes are very cool, I really like the "spanned" mode - great effect.

[2019-05-10 17:49] luckman212 opened #774 "Small typo! independant→independent"
https://github.com/JohnCoates/Aerial/blob/4255a5a190186781cd7272b59e30eef0eccad497/Aerial/Source/Controllers/Preferences.swift#L109

Should be "independ**e**nt"

![image](https://user-images.githubusercontent.com/1992842/57546211-467e1700-732a-11e9-81f9-c8117e96d290.png)

[2019-05-10 17:57] glouel commented on #774
Oops... I actually had a doubt typing it, wrote it the french way.
Fixed for next beta thanks !

[2019-05-10 18:38] glouel commented on #773
Thanks @schroef ! Glad you discovered Aerial this way, I've been maintaining this project for a few months now and it's always nice to hear good things :)

Make sure you update your version as we always add some new features !

[2019-05-10 19:11] glouel commented on #768
Thanks ! Took me a while to figure out how to properly detect the screens but got it in the end :)

[2019-05-10 21:32] gregarios commented on #194
Brilliant! Working well here. I only have one 4K video downloaded but it spans my 2017 iMac and second monitor screens impressively! Fantastic!

[2019-05-10 22:05] glouel commented on #194
Great, that took a lot of work so glad it works.

Go into Cache tab, and check "Never Stream Videos", this way Aerial will only play cached stuff. This way you'll never see stalling videos as in your log below.

Video downloads uses a queue system (you can add to the queue by pressing the + button on the video list, first panel) . There's no pause button but you can stop all download (you have a p

[2019-05-10 22:29] gregarios commented on #194
Ok the downloading seems a bit buggy. I can start a single video downloading. If I close The Screensaver Preferences and System Preferences then open it back up, I see that all downloads have ceased. They don't start again until I manually start them, and they don't appear to even be queued (as they are showing a plus-circle not a down-arrow like when queued)
The queue does progress to the next an

[2019-05-10 22:50] glouel commented on #194
Ha, looks like I misunderstood what you were doing ! Yes, this is exactly how it's supposed to work, you need to keep the preference page open, because if you close it, macOS kills our process so that kills your downloads. This is a limitation of screensavers on macOS, we can't have a background download task (we're kinda pushing the boundaries of screensavers with Aerial).

I think that I should

[2019-05-10 22:56] gregarios commented on #194
Ah ok on the downloads then. Bug #1 Averted. lol
Bug #2: Correct... the right-arrow in the inverted T on my keyboard does not bring on the next video. It just "beeps" like all the other keys do.

[2019-05-10 23:02] glouel commented on #194
So, check for new videos looks for new videos at the source (where tvOS looks for new videos). It downloads a manifest with the new videos (a JSON file), this will update the video list you see on the left. You can then download these when you want. There hasn't been an update since last january but will probably be one around WWDC in june.

So pressing keyboard don't quit the screensaver for you

[2019-05-10 23:19] gregarios commented on #194
I have mine set to ask after 5 seconds:
![Screen-Shot-2019-05-10-at-4 16](https://user-images.githubusercontent.com/7989224/57561231-5fdd8e00-733f-11e9-98b5-abe44005daa0.jpg)

My Machine:
![Screen-Shot-2019-05-10-at-4 18](https://user-images.githubusercontent.com/7989224/57561244-69ff8c80-733f-11e9-97d4-89c1d872e68d.jpg)

[2019-05-10 23:29] glouel commented on #194
The fact that any other key doesn't stop the screensaver is troubling, more than the right arrow key.

To keep things focused, would you mind going to that thread : https://github.com/JohnCoates/Aerial/issues/768

And post which keyboard you use (if you use multiple, 3rd party software to modify keyboards etc), and a log of you running the screensaver and pressing multiple keys (arrow and others)

[2019-05-10 23:39] gregarios commented on #194
Actually, none of my screensavers stop when I press any keys on the keyboard -- they just beep. I'm just using the standard apple wired keyboard that came with the iMac.

[2019-05-11 00:07] glouel commented on #194
That’s not normal and probably explains the right arrow bug for you. Keyboard should dismiss any screensaver. If you want to talk more about that check the other issue we can continue there.

[2019-05-11 00:34] ZV00 commented on #194
@glouel a couple pieces of feedback for trying this out:

1. If I click the right arrow to switch to the next, the text stating what is shown goes from being shown on only one monitor to then showing on both monitors for each period after.
2. If I click the right arrow to switch to the next, there is a significant pause. If during that pause I try to wake the computer from sleep everything freezes

[2019-05-11 00:40] glouel commented on #194
Hmm, I've tried this one and confirmed it, will need to have a look. Having descriptions on all screens as an option was something I wanted to implement, will need to check.

I've seen that happen once on my very old MBA with only 4 GB, I thought it was swapping or something then saw that I hadn't cached the videos. Do you videos cached or not ? This is definitely not good I'll investigate.

Thank

[2019-05-11 00:43] ZV00 commented on #194
@glouel All videos are cached and returning as 4K HEVC. It also takes a while to pop up at first when I first start the screensaver...

[2019-05-11 00:48] glouel commented on #194
If you can reproduce the slowdown can you paste the relevant portion of the log that shows the delay ? Should help me narrow it down thanks !

[2019-05-11 00:53] ZV00 commented on #194
@glouel Would you mind letting me know how to go about doing that? I turned on Debug and Log to disk but the logs are basically empty?

[2019-05-11 01:00] ZV00 commented on #194
@glouel

8:55:40 PM : avInit1 (2149.0, 461.0, 296.0, 184.0)
8:55:40 PM : <AerialView: 0x7ffc45402100> AerialView setup init
8:55:40 PM : Time Management initialized
8:55:40 PM : Display Detection initialized
8:55:40 PM : ***Display Detection***
8:55:40 PM : 2 display(s) detected
8:55:40 PM : [id=459108477, width=1680, height=945, bottomLeftFrame=(0.0, 0.0, 1680.0, 945.0), topRightCorner=(1680.0, 9

[2019-05-11 02:54] gregarios commented on #768
Here is the problem I was having with the keyboard not switching scenes (with the arrow key) and my screensaver not stopping with any keystrokes, and the solution that fixed both:
https://apple.stackexchange.com/questions/332448/how-to-stop-screensaver-with-a-keyboard-button-press-rather-than-a-mouse-button

[2019-05-11 02:54] gregarios commented on #194
Here is the problem I was having with the keyboard not switching scenes (with the arrow key) and my screensaver not stopping with any keystrokes, and the solution that fixed both:
https://apple.stackexchange.com/questions/332448/how-to-stop-screensaver-with-a-keyboard-button-press-rather-than-a-mouse-button

[2019-05-11 05:59] schroef commented on #773
Thanks just did, but the tcomputer is on slow internet. So im gonna download everything at home.

Perhaps one thing could be added. A better download for the videos. Now it seems to stop when the screensaver is stopped. However i did get one new video somehow. Perhaps some sort of setting to download them from the settings, it think this will make it easier for some users.

[2019-05-11 06:03] schroef commented on #773
PS i did an update and noticed 2 files tvOS10 and tvOS11, but on the main page i read about downloading them all at once and than i noticed tvOS12? That doesnt come with the auto update though?

[2019-05-11 08:45] glouel commented on #773
So when you update Aerial (to 1.4+), it will look for the tvOS12 videos. That means it will update the list on the left in it's settings, where you can download the ones you want. By default, Aerial will pick them up one by one when the screensaver is running as it can stream new videos and will cache them for later use (you can disable that in Cache tab).

However, the fast way to get the videos

[2019-05-11 08:48] glouel commented on #768
@gregarios many many thanks for following up on this ! This is super useful feedback !

[2019-05-11 08:55] glouel commented on #194
Many thanks @gregarios  ! and @ZV00 I'll check that today thanks.

[2019-05-11 10:09] LvanProosdij commented on #194
@glouel this if going to be an absolutely fantastic feature !!!
And it may become more mainstream if the iPad as a second display functionality rumored for next macOS release is confirmed.

[2019-05-11 14:21] ZV00 commented on #194
My pleasure, thanks for all your hard work as well, @glouel

[2019-05-11 14:38] gregarios commented on #194
I have one small request relating to the spanning feature. Only in "Span" mode, it would be nice if an inch or so of space that falls between the monitors were removed/cropped from the video so the video would appear to be more accurate across monitors. Because monitors never (yet) have a zero-sum border, any border that is between the physical monitors creates an artificial looking gap between th

[2019-05-11 16:01] schroef commented on #773
Great and super fast help! Thanks a lot!

Ill check if i can get it working now.